a {
  margin: 0;
}
.container {
  width: 96%;
  max-width: 1200px;
  margin: auto;
}
.d-flex {
  display: flex;
}
.img_res {
  display: block;
  width: 100%;
  height: auto;
}
.page {
  width: calc(100% - 105px);
  margin-left: 105px;
}
.wrapper {
  position: relative;
}
