a {
  margin: 0;
  outline: none !important;
}
.container {
  width: 98%;
  max-width: 1200px;
  margin: auto;
}
.container--r-small {
  max-width: 1200px;
}
.container--small {
  max-width: 1100px;
}
.container--testimonio {
  max-width: 1420px;
}
.container--medium {
  max-width: 1500px;
}
.container--large {
  max-width: 1800px;
}
.container--r-large {
  max-width: 1900px;
}
.container--r-large-noticias {
  max-width: 1900px;
  width: 100%;
}
.title_section h2 {
  font-size: 35px;
  font-family: f_ventura_m;
  text-align: center;
  position: relative;
  display: inline-block;
}
.title_colores {
  text-align: center;
}
.title_colores h2.celeste {
  display: inline-block;
  font-size: 35px;
  color: c_celeste;
  position: relative;
  font-family: f_ventura_m;
}
.title_colores h2.celeste span.naranja {
  color: c_narana_ad;
}
.title_section--celeste {
  text-align: center;
}
.title_section--celeste h2 {
  color: c_celeste;
}
.title_section--celeste h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(100% + 15px);
  background-image: url("../img/flechitasleft.png");
  width: 0px;
  height: 48px;
  transition: 0.3s ease all;
}
.title_section--celeste h2:before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: calc(100% + 15px);
  background-image: url("../img/flechitasright.png");
  width: 0px;
  transition: 0.3s ease all;
  height: 48px;
}
.home_mascotas--title--active h2:after {
  width: 26px !important;
}
.home_mascotas--title--active h2:before {
  width: 26px !important;
}
.d-flex {
  display: flex;
}
.img_res {
  display: block;
  width: 100%;
  height: auto;
}
.content_banner {
  position: relative;
  z-index: 150;
  display: flex;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.content_banner h2 {
  font-size: 58px;
  font-family: f_ventura_m;
  color: c_white;
}
.content_banner h2 span.cuv_naran {
  color: c_narana_ad;
}
.content_banner h2 span {
  font-family: f_kaushan_r;
  font-size: 78px;
}
.content_banner .text {
  margin-top: 20px;
  font-size: 26px;
  font-family: f_ventura_m;
  color: c_white;
}
.page {
  width: calc(100% - 105px);
  margin-left: 105px;
}
.wrapper {
  position: relative;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
}
.wrapper ::-webkit-input-placeholder {
  color: color;
  font-family: famyli;
}
.wrapper :-moz-placeholder {
  color: color;
  font-family: famyli;
}
.wrapper ::-moz-placeholder {
  color: color;
  font-family: famyli;
}
.wrapper :-ms-input-placeholder {
  color: color;
  font-family: famyli;
}
p {
  font-family: f_gothan_l;
  font-size: 14px;
  color: c_plomo_p;
}
.overlay--active-pop {
  z-index: 310 !important;
  display: block !important;
}
.overlay--active {
  display: block !important;
}
.overlay {
  display: none;
  position: fixed;
  left: 0;
  animation: fadeEffect 0.5s;
  top: 0;
  z-index: 198;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
}
.picture-border {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #a9a9ac;
  border-bottom: 2px solid #a9a9ac;
  display: inline-block;
  box-shadow: 6px 6px 20px 1px #b9bbbe;
  position: relative;
  z-index: 3;
}
.picture-border .inner__picture {
  border-top: 14px solid #dbdbdb;
  border-left: 14px solid #d1d1d1;
  border-right: 14px solid #e6e6e6;
  border-bottom: 14px solid #d5d7d9;
  display: block;
}
.picture-border .inner__picture img {
  border-top: 2px solid #b9bbbe;
  border-left: 2px solid #b9bbbe;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: block;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w30 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
@-moz-keyframes rotate1 {
  0% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}
@media screen and (max-width: 1500px) {
  .container {
    width: 96%;
  }
}
@media screen and (max-width: 768px) {
  .title_colores h2.celeste {
    font-size: 30px;
  }
  .title_colores h2.celeste:after,
  .title_colores h2.celeste:before {
    display: none;
  }
  .page {
    width: 100%;
    margin: auto;
  }
  .title_section h2 {
    font-size: 28px;
  }
  .content_banner h2 {
    font-size: 36px;
  }
  .content_banner span.cuv_naran {
    font-size: 52px;
  }
}
@media screen and (max-width: 480px) {
  .content_banner h2 {
    font-size: 30px;
  }
  .content_banner span.cuv_naran {
    font-size: 46px;
  }
}
@-moz-keyframes juguete {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes juguete {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes juguete {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes juguete {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeOutEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOutEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOutEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes key_arrow_scroll {
  0% {
    background-position: center top;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: center top;
  }
}
@-webkit-keyframes key_arrow_scroll {
  0% {
    background-position: center top;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: center top;
  }
}
@-o-keyframes key_arrow_scroll {
  0% {
    background-position: center top;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: center top;
  }
}
@keyframes key_arrow_scroll {
  0% {
    background-position: center top;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: center top;
  }
}
@-moz-keyframes key_arrow_mas {
  0% {
    margin-left: 5px;
  }
  50% {
    margin-left: 15px;
  }
  100% {
    margin-left: 5px;
  }
}
@-webkit-keyframes key_arrow_mas {
  0% {
    margin-left: 5px;
  }
  50% {
    margin-left: 15px;
  }
  100% {
    margin-left: 5px;
  }
}
@-o-keyframes key_arrow_mas {
  0% {
    margin-left: 5px;
  }
  50% {
    margin-left: 15px;
  }
  100% {
    margin-left: 5px;
  }
}
@keyframes key_arrow_mas {
  0% {
    margin-left: 5px;
  }
  50% {
    margin-left: 15px;
  }
  100% {
    margin-left: 5px;
  }
}
@-moz-keyframes key_arrow_test_mas {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
@-webkit-keyframes key_arrow_test_mas {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
@-o-keyframes key_arrow_test_mas {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
@keyframes key_arrow_test_mas {
  0% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
@-moz-keyframes key_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes key_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes key_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes key_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes rotate_b {
  0% {
    transform: rotateZ(-8deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-8deg);
  }
}
@-webkit-keyframes rotate_b {
  0% {
    transform: rotateZ(-8deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-8deg);
  }
}
@-o-keyframes rotate_b {
  0% {
    transform: rotateZ(-8deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-8deg);
  }
}
@keyframes rotate_b {
  0% {
    transform: rotateZ(-8deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-8deg);
  }
}

/*# sourceMappingURL=generales.css.map */
