.sec-enviado
  padding 2.5em 0
  height auto
  overflow hidden 

  .content-detail
    padding 2.5em 0
    width 50%
    float left
    text-align center
    .title-double
      position relative
      h2
        font-size 148px
        font-family: f_gothan_m
        text-align center
        color c_narana_ap
        opacity 0.2
        text-transform uppercase

      span
        font-size 84px
        font-family: f_gothan_m
        text-align center
        color c_narana_ap
        text-transform uppercase
        position absolute
        left 50%
        top 50%
        transform translate(-50%,-50%)
        margin 0 0 0 12%
    h3
      font-size 36px
      font-family f_varela_r
      color c_celeste
      margin 1em 0 
    p 
      font-size 20px
      font-family f_roboto_l
    .cnt-btn
      margin-top 2.5em
      .btn
        background c_narana_ap
        font-size 24px
        color #fff
        padding 0.5em 1em
  .content-image
    display block

 