.page-enviado
  footer .footer_top
    margin-top -70px
    position relative
    z-index 5
.sec-enviado

  height auto
  overflow hidden
  .container
    display  flex
    align-items flex-end
    justify-content space-between
  .content-detail
    padding 2.5em 0
    margin-bottom 60px
    float left
    text-align center
    .title-double
      position relative
      h2
        font-size 148px
        font-family: f_gothan_m
        text-align center
        color c_narana_ap
        opacity 0.2
        text-transform uppercase

      span
        font-size 84px
        font-family: f_gothan_m
        text-align center
        color c_narana_ap
        text-transform uppercase
        position absolute
        left 50%
        top 50%
        transform translate(-50%,-50%)

    h3
      font-size 36px
      font-family f_varela_r
      color c_celeste
      margin 1em 0
    p
      font-size 20px
      font-family f_roboto_l
    .cnt-btn
      margin-top 2.5em
      .btn
        background c_narana_ap
        font-size 24px
        color #fff
        padding 0.5em 1em
  .content-image
    position relative
    display block
    figure
      position relative
      z-index 4
    span
      z-index 3
      position absolute

    .blo_1
      display block
      left -30px
      bottom 80px
      background-image url("../img/enviado_1.png")
      width 57px
      height 67px
      animation rotate1 8s infinite
    .blo_2
      display block
      left 60px
      top  -50px
      animation rotate_b 8s infinite
      background-image url("../img/enviado_2.png")
      width 53px
      height 54px


    .blo_3
      display block
      left 180px
      top  -40px
      animation rotate_b 8s infinite
      background-image url("../img/enviado_3.png")
      width 82px
      height 82px
    .blo_4
      display block
      left 130px
      top -90px
      animation rotate1 8s infinite
      background-image url("../img/enviado_1.png")
      width 57px
      height 67px
    .blo_5
      display block
      right -80px
      top -90px
      animation rotate_b 8s infinite
      background-image url("../img/enviado_4.png")
      width 168px
      height 112px

    .blo_6
      display block
      right 30px
      animation rotate1 8s infinite
      bottom 75px
      background-image url("../img/enviado_6.png")
      width 86px
      height 178px

    .blo_7
      display block
      left 0px
      bottom 125px
      animation rotate_b 8s infinite
      background-image url("../img/enviado_5.png")
      width 152px
      height 89px


@media screen and (max-width 1200px)
  .sec-enviado .content-detail .title-double h2
    font-size 110px

@media screen and (max-width 1024px)
  .sec-enviado .content-detail .title-double h2
    font-size 96px

@media screen and (max-width 960px)
  .sec-enviado
    .content-image
      display none
    .content-detail
      margin auto
      .title-double h2
        font-size 110px
  .page-enviado footer .footer_top
    margin-top 0
@media screen and (max-width 768px)
  .sec-enviado

    .content-detail
      h3
        font-size 26px
      .title-double
        h2
          font-size 70px
        span
          font-size 46px
@media screen and (max-width 480px)
  .sec-enviado

    .content-detail
      h3
        font-size 22px
      .title-double
        h2
          font-size 56px
        span
          font-size 38px
