@import "../base/variables"


.header
    position absolute
    width calc(100% - 105px)
    left 105px
    z-index 200
    right 0
    top 25px
    margin auto
    &__logo_links
        display flex

        justify-content space-between
        >a
            margin 0
            margin-left 35px
        nav
            margin-top 20px
            margin-right 60px
            ul
                display flex
                li
                    a.donar
                        background c_narana_do
                    a.apadrina
                        background c_narana_ap
                    a.adopta
                        background c_narana_ad

                    a
                        font-size 19px
                        padding 15px 12px
                        font-family f_ventura_m
                        color c_white
                        i
                            margin-right 5px

.menu
    position fixed
    width 105px
    height 100%
    background c_white
    top 0
    left 0
    text-align center
    padding-top 45px
    border-right 1px solid #D0D0D0
    .btn_menu
        font-size 16px
        cursor pointer
        font-family f_gothan_b
        color c_celeste
        .icon-menu
            margin-bottom 12px
            font-size 28px
            color c_celeste


footer
    width calc(100% - 106px)
    margin-left 106px
    margin-top 40px
    .footer_top
        padding-bottom 20px
        background c_celeste
        .facebook_bloque
            max-width 380px
        .facebook_image
            img
                display block
        .facebook
            background #EBE7E2
            padding 20px 25px 25px 50px
            box-sizing border-box
            &__title
                font-size 36px
                color c_celeste
                font-family f_ventura_m
            .bx-wrapper
                margin auto
                position relative
                .bx-controls
                    position absolute
                    left 10px
                    top 20px
                    z-index 200
            &__slider
                margin-top 20px

                &__item
                    display flex
                    .item
                        display flex
                    ul
                        margin-top 40px
                        li.compartido
                            margin-left 10px
                        li.me_gusta
                            margin-left 20px
                        li
                            font-size 18px
                            font-family f_ventura_m
                            margin-bottom 10px
                            display inline-block
                            span
                                display inline-block
                                border-radius 50%
                                color c_celeste
                                background c_white
                                padding 6px
                                font-size 16px
                                margin-right 5px

