@import "../base/variables"


.header
    position absolute
    width calc(100% - 105px)
    left 105px
    z-index 195
    right 0
    top 25px
    margin auto
    &__logo
        position fixed
        top 25px
        left 140px
        margin 0
        .logo
            animation fadeEffect 0.3s
        .logo_none
            display none
            height 0


    &__logo_links
        display flex

        justify-content flex-end
        nav
            margin-top 15px
            margin-right 60px
            ul
                display flex
                li
                    a.donar
                        background c_narana_do
                        &:hover
                            box-shadow  0px 2px 20px -3px rgba(50,50,50,.8)
                    a.apadrina
                        background c_narana_ap
                        &:hover
                            box-shadow 0px 0px 20px -3px rgba(50,50,50,.8)
                    a.adopta
                        background c_narana_ad
                        &:hover
                            box-shadow 0px 3px 20px -3px rgba(50,50,50,.8)

                    a
                        min-width 115px
                        text-align center
                        display block
                        box-sizing border-box
                        transition .3s ease all
                        font-size 19px
                        padding 15px 12px
                        font-family f_ventura_m
                        color c_white
                        i
                            margin-right 5px

.container_menu
    background c_white

    .menu_block--active

        left 0 !important
        transition 2s ease all
    .menu_block

        justify-content center
        position fixed
        width 100%
        background rgba(1, 178, 226, 0.8)
        display flex
        transition 0.5s ease all
        height 100%
        top 0
        left -100%
        right auto
        transition 0.7s ease all
        text-align center
        border-right 1px solid #D0D0D0
        z-index 300
        .menu
            width 100%
            position relative
            padding 15px 0px
            margin-bottom 40px
            margin-top 25px
            overflow-y auto
            .icon-close
                position absolute
                right 80px
                cursor pointer
                top 0px
                display inline-block
                color c_narana_ad
                background c_white
                padding 15px
                border-radius 50%
                font-size 36px

            .contacte
                margin auto
                margin-top 40px
                max-width 580px
                border-top 2px solid c_white
                h3
                    margin-top 30px
                    margin-bottom 30px
                    color c_white
                    font-size 26px
                    font-family f_gothan_b
                ul
                    display flex
                    justify-content space-around
                    flex-wrap wrap
                    li
                        margin-bottom 20px
                        a:hover
                            color #003A5D
                            transition 0.3s ease all
                            span
                                color #003A5D
                                transition 0.3s ease all
                            i
                                color #003A5D

                                border 2px solid #003A5D
                                transition 0.3s ease all
                        a
                            color c_white
                            i
                                margin-right 4px
                                border 2px solid c_white
                                border-radius 50%

                            .icon-face
                                font-size 22px
                                padding 8px 14px
                            .icon-info
                                font-size 18px
                                padding 10px 7px
                            .icon-fono
                                font-size 22px
                                padding 8px 11px
                            span
                                font-family f_gothan_l
                                font-size 20px
            .links_pop
                display flex
                justify-content center
                margin-top 40px
                position relative

                a.donar
                    i
                        background c_narana_do
                a.apadrina
                    i
                        background c_narana_ap
                a.adopta
                    i
                        background c_narana_ad
                a

                    margin 0px 10px
                    i
                        display inline-block
                        padding 10px
                        color c_white
                        font-size 32px
                        border-radius 50%
                    span
                        display block
                        margin-top 5px
                        font-size 19px
                        font-family f_ventura_m
                        color c_white
            nav
                margin-top 40px
                ul
                    li
                        margin-bottom 20px
                        a.active, a:hover
                            color #003A5D

                        a
                            padding 0px 20px
                            color c_white
                            font-size 30px
                            font-family f_gothan_b
                            border-bottom 2px solid transparent


    .link_menu
        position fixed
        transition 0.5s ease all
        width 105px
        height 100%
        top 0
        left 0px
        background c_white
        text-align center
        padding-top 45px
        border-right 1px solid #D0D0D0
        z-index 160
        cursor pointer
    .btn_menu
        font-size 16px
        cursor pointer
        font-family f_gothan_b
        color c_celeste
        .icon-menu
            margin-bottom 12px
            font-size 28px
            color c_celeste


footer
    width calc(100% - 106px)
    margin-left 106px

    .container
        display flex
        justify-content space-between
    .footer-bottom
        padding 15px 0
        span
            margin 0
            font-size 13px
            font-family f_dinpro_l
            color #88858D
        a
            margin 0
            font-size 13px
            font-family f_dinpro_l
            color #88858D
            span.staff
                font-family f_arial_r
            span.digital
                font-family f_arial_b
                position relative
                padding-right 12px
                &:after
                    content ""
                    position absolute
                    right 0px
                    top 0
                    width 11px
                    height 10px
                    background-image url("../img/staff.png")
    .footer_top
        background-image url("../img/footer_back.png")
        padding-top 100px
        background-size cover
        background-position center center
        &__contacto
            max-width 380px
            margin-top 50px
            text-align right
            h3
                margin-bottom 3px
                color c_white
                font-size 24px
                font-family f_ventura_m
            .links
                margin-top 20px
                a.informacion
                    font-size 35px
                    font-family f_ventura_m
                    span
                        font-size 24px
                a.telefono
                    display flex
                    justify-content flex-end
                    align-items center
                a
                    color c_white
                    display block
                    margin-top 10px
                    font-size 14px
                    font-family f_gothan_l
                    span
                        margin 0
                        margin-right 6px
        .facebook_bloque
            padding-bottom 20px
            width 380px
            padding-left 160px
            position relative
        .facebook_image
            bottom 0
            left 0
            position absolute
            img
                display block
        .facebook
            background-color rgba(235, 231, 226, 1)
            background-image url("../img/footer_huesos.png")
            padding 20px 25px 25px 50px
            box-sizing border-box

            &__title
                font-size 36px
                color c_celeste
                font-family f_ventura_m
            .bx-wrapper
                margin auto
                position relative
                .bx-controls
                    position absolute
                    left 15px
                    top 20px
                    z-index 140
                    .bx-prev
                        background-image url("../img/footer_flecha_left.png")
                        width 12px
                        height 22px
                        display inline-block
                    .bx-next
                        background-image url("../img/footer_flecha_right.png")
                        width 11px
                        height 22px
                        margin-left 15px
                        display inline-block
            &__slider
                margin-top 20px

                &__item
                    display flex
                    .item
                        display flex
                    ul
                        margin-top 40px
                        li.compartido
                            margin-left 10px
                        li.me_gusta
                            margin-left 20px
                        li
                            font-size 18px
                            font-family f_ventura_m
                            margin-bottom 10px
                            display inline-block
                            span
                                display inline-block
                                border-radius 50%
                                color c_celeste
                                background c_white
                                padding 6px
                                font-size 16px
                                margin-right 5px

@media screen and (max-width 1500px)
    .container_menu .menu_block .menu
        nav
            margin-top 20px
            ul li
                margin-bottom 10px
        .links_pop
            margin-top 20px
        .contacte
            margin-top 20px
            h3
                margin-top 20px
                margin-bottom 20px
            ul li
                margin-left 5px
                margin-right 5px
                a span
                    font-size 16px
    .container_menu .menu_block

        .menu
            figure
                width 190px
                img
                    display block
                    width 100%
                    height auto

            .icon-close

                font-size 26px
                padding 10px
            nav ul li a
                font-size 26px
@media screen and (max-width 1200px)

    .container_menu .menu_block

        .menu
            figure
                width 180px
            nav ul li
                margin-bottom 10px
                a
                    font-size 22px

@media screen and (max-width 1024px)
    footer .footer_top
        .facebook
            padding 20px 25px 25px 25px
        .facebook_bloque
            padding-left 120px
            width 355px
        .facebook_image
            figure
                width 160px
                img
                    width 100%
                    height auto
@media screen and (max-width 960px)
    footer .footer_top__contacto .links a.informacion
        font-size 32px
    footer .footer_top
        .facebook
            padding 20px 15px 25px 15px
        .facebook_bloque
            padding-left 0

        .facebook_image
            display none
    .container_menu .menu_block .menu
        .contacte

            max-width 420px
            h3
                font-size 18px
            ul li a
                padding 0px 10px
                box-sizing border-box
                span
                    font-size 14px
@media screen and (max-width 768px)

    .logo_celeste
        display block !important
        height inherit !important
    .logo_blanco
        display none
    .container_menu .btn_menu
        width 50px
        padding-left 20px

    .container_menu .menu_block

        .menu
            figure
                width 150px
            nav
                margin-top 20px
                ul li

                    a
                        font-size 20px
    .header
        width 100%
        left 0
    .header__logo_links
        justify-content flex-end
        nav
            display none
        >a
            left inherit
            right 15px
            top 8px
            margin auto
            display inline-block
            text-align center
    .container_menu
        .link_menu--active
            left 0px !important
        .link_menu
            height auto
            padding 20px 0
            width 100%
            border-bottom 1px solid #d0d0d0
            .btn_menu
                .icon-menu
                    margin-bottom 0
    footer
        width 100%
        margin-left 0
    .container_menu .menu_block .menu .contacte ul li
        margin-bottom 30px
    .logo_celeste
        height 48px !important
        width auto
    .container_menu .btn_menu
        font-size 12px
    .container_menu .link_menu
        padding 10px 0px
    footer
        .footer_top
            padding-bottom 10px
            padding-top 140px
            .facebook_bloque
                padding-bottom 0px
@media screen and (max-width 767px)
    footer .footer_top__contacto .links a.telefono
        justify-content center
    footer
        .container
            flex-direction column
            justify-content center
            align-items center
        .footer_top__contacto
            margin-top 40px
            text-align center
@media screen and (max-width 480px)
    .container_menu .menu_block .menu .icon-close
        top 15px
    .container_menu .menu_block .menu .links_pop a span
        font-size 17px
    .container_menu .menu_block .menu figure
        width 120px
    .container_menu .menu_block .menu nav ul li a
        font-size 18px
    footer .footer_top__contacto .links a.informacion
        font-size 30px
    footer .footer_top
        padding-top 40px
        .facebook .bx-wrapper
            .bx-viewport
                height 170px !important

        .facebook_bloque
            display none
    .logo_celeste
        height 36px !important

    .container_menu .btn_menu
        font-size 10px
    .container_menu .link_menu
        padding 8px 0px
    .header__logo_links >a
        top 10px
    .container_menu .menu_block
        padding 0
        .menu
            margin-top 0px
            margin-bottom 0px
            padding 0
            padding-top 40px
            padding-bottom 20px

