@import "../base/variables"


.header
    position absolute
    width calc(100% - 105px)
    left 105px
    z-index 2
    right 0
    margin auto

.menu
    position fixed
    width 105px
    height 100%
    background c_white
    top 0
    left 0
    text-align center
    padding-top 45px
    .btn_menu
        font-size 14px
        font-family f_gothan_b
        color c_celeste
        .icon-menu
            margin-bottom 12px
            font-size 28px
            color c_celeste
