.page_mascotas
    margin-top 0
.mascota_categorias
    margin-top 65px
    margin-bottom 0px
    .text
        font-family f_gothan_l
        font-size  16px
        color c_plomo_os
        max-width 600px
        margin auto
        text-align center
    .list_categorias
        margin-top 40px

        ul
            justify-content center
            display flex
            flex-wrap wrap
            li
                margin 10px 20px
                a
                    display block
                    text-align center
                    min-width 180px
                    color c_white
                    background c_celeste
                    padding 8px 12px
                    border-radius 4px
                    font-size 24px
                    font-family f_ventura_m
                    position relative
                    border-left 8px solid c_celeste
                    border-right 8px solid c_celeste
                    span
                        position relative
                        display inline-block
                        &:before
                            content ""
                            opacity 0
                            position absolute
                            transition 0.3s ease all
                            right calc(100% + 8px)
                            top 5px
                            width 13px
                            height 25px
                            background-image url("../img/categoria_left.png")
                            display block
                        &:after
                            content ""
                            opacity 0
                            position absolute
                            left calc(100% + 8px)
                            top 0px
                            width 13px
                            height 25px
                            transition 0.3s ease all
                            background-image url("../img/categoria_right.png")
                            display block

            li:hover, li.active
                a
                    span:after, span:before
                        opacity 1

.list_mascotas
    flex-wrap wrap
@media screen and (max-width 1500px)
    .mascota_categorias .list_categorias ul li a
        min-width 175px
@media screen and (max-width 1200px)
    .mascota_categorias .list_categorias
        margin-top 30px
    .mascota_categorias .list_categorias ul li
        margin 10px 10px
        a
            padding 8px 4px
    .page_mascotas
        padding-top 20px !important
        .list_mascotas
            margin-top 0px !important
@media screen and (max-width 1024px)
    .mascota_categorias .list_categorias ul li
        margin 10px 48px

@media screen and (max-width 768px)
    .page_mascotas .list_mascotas
        margin-top 20px !important
    .mascota_categorias
        margin-top 30px
        .list_categorias
            margin-top 20px
/*    .mascota_categorias
        .list_categorias ul li
            margin 10px
            a
                font-size 20px
            min-width 140px
*/
