.noticias_listado
    margin-top 45px

    .title
        text-align center
        margin-bottom 45px
        h3
            margin 0
            color c_narana_ad
            font-size 50px
            font-family f_ventura_m
            display inline-block
            position relative
            &:before
                content ""
                background-image url("../img/noticias_title.png")
                width 39px
                height 40px
                position absolute
                right -45px
                top -20px
