.noticias-detail
  padding 2.5em 0
  height auto
  overflow hidden
  .title
    text-align center
    margin-bottom 2.5em
    padding 2em 0 0
    h2
      display inline-block
      font-size 35px
      color c_narana_ad
      position relative
      font-family f_ventura_m
      color c_celeste
      &:after
        content ""
        background-image url("../img/nosotros_inf.png")
        width 33px
        height 34px
        position absolute
        top -35px
        right -40px
  .content-detail
    .image
      width 50%
      float left
      padding: 0 5% 0 0
      box-sizing border-box
      img
        float right
    .detail
      width 50%
      float right
      box-sizing border-box
      p
        font-size 16px
      .date
        color c_plomo_os
        font-size 25px
        font-family f_ventura_m
        display block
        margin-bottom 1em
      h3
        color c_celeste
        font-size 30px
        font-family f_ventura_m
        margin-bottom 1em

  .view-more
    clear both
    padding 1.5em 0 1.5em
    .ver_mas_noticias
      color c_plomo_os
      margin auto
      margin-top 30px

      text-align center
      display block
      font-family f_ventura_m
      font-size 25px
      i
        margin-right 10px
      .arrow

        height 12px
        display inline-block
        position relative
        top -3px
        &.left
          width 50px
          background-repeat no-repeat
          background-image url("../img/flecha_ploma_left.png")
          background-position: left center
          transition 1s ease all
          margin-right 10px


      &:hover
        .arrow
          &.left
            animation key_arrow_test_mas 1.4s infinite
.cnt-share
  text-align center
  padding-top: 1em
  .share-item
    border 1px solid c_celeste
    border-radius 10px
    color c_celeste
    display: inline-block
    padding: 0.5em 1.5em
    span.text
      float left
      margin-top 0.65em
      font-weight 500
      font-family f_gothan_m
    i.icon
      border-radius 100%
      height 40px
      width 40px
      line-height 40px
      color #fff
      display inline-block
      font-size 25px
      margin-left 1em
    &.share-fb
      i.icon
        background c_azul
        color #fff
@media screen and (max-width 768px)
  .noticias-detail .content-detail .image
    width 96%
    max-width 464px
    padding-right 0
    margin auto
  .noticias-detail .content-detail
    display flex
    margin 0px 7px
    flex-direction column-reverse
    .detail
      width 100%
      .date
        margin-bottom 10px
      h3
        font-size 24px
    .cnt-share
      margin-bottom 20px
  .noticias-detail
    padding-bottom 0px
  .noticias-detail .view-more .ver_mas_noticias
    margin 0
    text-align center
    .arrow.left
      margin-right 10px
