$cyan = #00b3e3
.matchcota-detalle
    margin-top 50px
    .container
        display flex
        justify-content center
        .preview-img
            width calc(45% - 100px)
            margin 0
            margin-right 100px
            .conoce_mascota__title
                font-size 25px
                display block
                font-family f_ventura_m
                color c_plomo_os
                text-align left
                margin-bottom 1.5em
                i
                    margin-right 10px
                span.flecha
                    animation key_arrow_test_mas 1.5s infinite
                    background-image url("../img/flecha_ploma_left.png")
                    width 60px
                    margin-left 10px
                    margin-bottom 3px
                    background-repeat no-repeat
                    height 11px
                    display inline-block
            .main-img
                padding-top 20px
                max-width 100%
                box-shadow 0 0 1px 1px #ddd, inset 0 0 1px 3px #ddd
                text-align center
                img

                    display block
                    max-width 100%
                    padding-bottom 2px
            ul.list-thumbnails
                max-width 100%
                text-align center
                font-size 0
                li
                    margin 0px 4px
                    width 20%
                    max-width 140px
                    display inline-block

                    a
                        display: inline-block
                        width 100%
                        height 100%
                        position: relative
                        img
                            display: inline-block
                            width 100%
                            height 100%
                            position relative
        .cnt-descripcion
            width 55%
            margin-top 0
            .title-main
                margin-bottom 2em
                overflow hidden
                h1
                    display inline-block
                    text-align left
                    font-family f_kaushan_r
                    color c_celeste
                    font-size 50px
                .cnt-share
                    display inline-block
                    float right
            .acordeon
                li.active
                    .title
                        .icon-arrow
                            transform rotate(90deg)
                    .text-content
                        display block

                li

                    margin 0 0 15px
                    .title
                        margin 0
                        i
                            margin-right 10px
                            width 26px
                            display inline-block
                            font-size 26px
                            text-align center
                        .text
                            min-width 240px
                            display inline-block
                            vertical-align middle
                            margin-top -7px
                        a
                            background $cyan
                            padding 12px 15px 12px 35px
                            box-sizing border-box
                            color #fff
                            font-size 16px
                            display block
                        .icon-arrow
                            transition 0.3s ease all
                            font-size 16px
                            border-radius 50%
                            padding 7px 2px
                            border 2px solid c_white
                    .text-content
                        display none
                        border 1px solid #ddd
                        border-top none
                        height auto
                        overflow hidden
                        padding 1em
                        .caract-salud
                            display flex
                            flex-wrap wrap
                            justify-content space-between
                            h3
                                margin 0
                                margin-right 10px
                                font-size 16px
                                font-family f_gothan_l
                                max-width 97px
                            &__alergias
                                margin 0px 7px
                                margin-bottom 5px
                                display flex
                                align-items center
                                i.icon-active
                                    color c_celeste
                                i
                                    margin 5px
                                    font-size 32px

                        .caract-fisicas
                            display flex
                            justify-content space-between
                            flex-wrap wrap
                            &__tamanio
                                .icon-tamanio--small
                                    font-size 24px
                                .icon-tamanio--medium
                                    font-size 28px
                                .icon-tamanio--large
                                    font-size 32px
                            &__block
                                display flex
                                margin 5px 0
                                align-items flex-end
                                i.icon-active
                                    color c_celeste

                                i
                                    font-size 26px
                                    margin 0px 3px
                                    color c_plomo_os
                                h3
                                    margin 0
                                    margin-right 10px
                                    font-size 20px
                                    font-family f_roboto_l
                        .content-caract
                            h2
                                color c_plomo_os
                                margin 10px 0px
                                font-size 21px
                                font-family f_gothan_m
                            .caract
                                display flex
                                justify-content space-between
                                &__hogar
                                    margin-right 30px
                                p
                                    font-family f_roboto_l
                                h3
                                    font-size 20px
                                    color c_plomo_os
                                    font-family f_gothan_b
                                    i
                                        font-size 24px
                                        color c_celeste
                        &__comportamiento
                            ul
                                li
                                    margin 5px 0
                                    color c_plomo_os
                                    display block
                                    height auto
                                    min-height: 20px
                                    overflow hidden

                            .text
                                font-size 12px
                                float left
                            .cnt-bar
                                margin 0 0 0 100px
                                display block
                                position relative
                                &:after
                                    border-top 1px solid c_plomo
                                    width 100%
                                    position absolute
                                    left 0
                                    top 8px
                                    content ""
                                    z-index 1
                                .bar
                                    height 14px
                                    display inline-block
                                    background c_celeste
                                    border-radius 5px
                                    position relative
                                    z-index 2
                            .num
                                font-size 10px
                                padding  0 0 0 100px
                                .num-first
                                    float left
                                    padding 0 3px
                                .num-last
                                    float right
                                    padding 0 3px

                        p
                            font-size 16px

                li.active
                    .text-content
                        height auto!important
            .btn-aceptar
                font-size 24px
                font-family f_ventura_m
                background c_narana_ad
                color c_white
                text-align center
                padding 6px 30px
                width 110px
                margin auto
                display  block
                margin-top 30px
@media screen and (max-width 1500px)
    .matchcota-detalle .container .preview-img
        width calc(45% - 60px)
        .main-img
            max-height 500px
            img
                width 100%
                height auto
@media screen and (max-width 1024px)
    .matchcota-detalle .container
        flex-direction column-reverse
        .cnt-descripcion

            margin auto
            width 90%
            max-width 800px
        .preview-img
            width auto
            margin auto
            max-width 400px
    .matchcota-detalle .container .preview-img .conoce_mascota__title
        margin 40px 0px
/*    .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud__alergias
        margin 0px 5px
    .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud h3
        font-size 14px
    .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block h3
        font-size 16px
    .matchcota-detalle .container
        .preview-img
            width calc(40% - 80px)
            margin-right 80px
        .cnt-descripcion
            width 60%
*/
@media screen and (max-width 768px)
    .matchcota-detalle .container .cnt-descripcion
        .title-main
            text-align center
            .cnt-share
                float inherit
                display block
    .matchcota-detalle .container .cnt-descripcion .acordeon li
        .title
            a
                padding 12px 15px
        .text-content .content-caract
            .caract
                h3
                    font-size 18px
                &__hogar
                    margin-right 0px

@media screen and (max-width 480px)
    .matchcota-detalle .container .cnt-descripcion .acordeon li
        .title
            a
                padding 12px 8px
    .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content p
            font-size 14px
    .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract
            .caract
                flex-wrap wrap
                h3
                    font-size 16px
    .matchcota-detalle .container .cnt-descripcion .acordeon li .title
            a
                font-size 14px
            .text
                min-width 165px
    .matchcota-detalle .container .cnt-descripcion
        width 98%
    .matchcota-detalle .container .preview-img .conoce_mascota__title
        font-size 20px
