.page-testimonio
  .footer_top
    margin-top -90px
    position relative
    z-index 5
.cnt-testimonios
  background url("../img/trama.png")
  padding-bottom 100px
  position relative
  background-size cover
  .title
    text-align center
    margin-bottom 2.5em
    padding 2em 0 0
    h2
      display inline-block
      font-size 35px

      position relative
      font-family f_ventura_m
      color c_narana_ap
      &:before
        content ""
        width 10px
        height 10px
        position absolute
        bottom -10px
        left -10px
        border 2px solid c_narana_ap
        border-top none
        border-right none
      &:after
        content ""
        width 10px
        height 10px
        position absolute
        top -10px
        right -10px
        border: 2px solid c_narana_ap
        border-bottom none
        border-left none

  .content-testimonios
    padding 0 8em
    display block
    background-image url("../img/adorno_testimonio.png")
    background-repeat no-repeat
    background-position left bottom
  .bx-wrapper
    margin auto
    position relative
    .bx-controls
      a
        position absolute
        top 50%
        margin-top -24px
        width 48px
        height 48px
        display block
        text-align center
        line-height 48px
        border 1px solid c_celeste
        border-radius: 100% 100%
        color c_celeste
        font-size 20px
        &.bx-prev
          left -9em
          i
            margin-right 3px
            font-weight bold
        &.bx-next
          right -4em
          i
            font-weight bold
        &:hover
          background c_celeste
          color #fff
.juguete_test
  position absolute
  left 165px
  bottom 85px
.slide-testimonios
  .item-slider-testimonios
    height auto
    overflow hidden
    .detail
      width 50%
      float left
      padding: 5% 5% 0 2.5%
      box-sizing border-box
      text-align justify
      p
        font-size 18px
      .date
        color c_plomo_os
        font-size 25px
        font-family f_ventura_m
        display block
        margin-bottom 1em
      h3
        color c_celeste
        font-size 30px
        font-family f_ventura_m
        margin-bottom 1em
        position relative
        padding-left 20px
        &:before
          content ""
          position absolute
          left 0
          top 0
          bottom 0
          margin auto
          background-image url("../img/punto.png")
          width 8px
          height 9px
          display block
    .image
      width 50%
      float right
      box-sizing border-box
      img
@media screen and (max-width 1800px)
  .content-testimonios
    background-image none !important
  .cnt-testimonios .bx-wrapper
    .bx-controls
      a.bx-next
        right -3em
      a.bx-prev
        left -3em
@media screen and (max-width 1500px)
  .cnt-testimonios
    .container
      max-width 100%
      width 100%
    .content-testimonios
      box-sizing border-box

    .bx-wrapper
      .bx-controls
        a.bx-next
          right -3em
        a.bx-prev
          left -3em
  .picture-border .inner__picture
    width 100%
    box-sizing border-box
    img
      display block
      width 100%
      height auto
@media screen and (max-width 960px)
  .cnt-testimonios .title
    margin-bottom 40px
  .slide-testimonios .item-slider-testimonios
    display flex
    flex-direction column-reverse

    .detail
      width 100%
      text-align center
      margin-top 20px
      h3

        display inline-block
    .image
      width 80%
      margin auto
  .cnt-testimonios .bx-wrapper .bx-controls a
    top 36%
    line-height 37px
    width 33px
    height 33px

@media screen and (max-width 768px)
  .page-testimonio .footer_top
    margin-top -155px
  .slide-testimonios .item-slider-testimonios
    .image
      width 350px
  .cnt-testimonios .content-testimonios
    padding 0 1em
  .cnt-testimonios .bx-wrapper .bx-controls
    a.bx-next, a.bx-prev
      width 40px
      height 40px
    a.bx-next
      right 2em
      i
        font-size: 16px;
        margin-top: 13px;
        display: block;
     a.bx-prev
       left 2em
       i
        font-size: 16px;
        margin-top: 13px;
        display: block;
@media screen and (max-width 620px)
  .cnt-testimonios .bx-wrapper .bx-controls a
    top 25%
  .slide-testimonios .item-slider-testimonios .image
    width 70%
  .cnt-testimonios .bx-wrapper .bx-controls
    a.bx-next, a.bx-prev
      width 32px
      height 32px
    a.bx-next
      right 0em
      i
        margin-top: 9px;
     a.bx-prev
       left 0em
       i
        margin-top 9px
  .slide-testimonios .item-slider-testimonios .detail p
    font-size 16px
  .page-testimonio .footer_top
    margin-top -110px
@media screen and (max-width 480px)
  .slide-testimonios .item-slider-testimonios .detail
    float inherit
    padding 0
