.cnt-testimonios
  .title
    text-align center
    margin-bottom 2.5em
    padding 2em 0 0
    h2
      display inline-block
      font-size 35px
      color c_narana_ad
      position relative
      font-family f_ventura_m
      color c_narana_ap
      &:after
        content ""
        width 33px
        height 34px
        position absolute
        top -35px
        right -40px
  .content-testimonios
    padding 0 5em
    display block    
  .bx-wrapper
    margin auto
    position relative
    .bx-controls
      a
        position absolute
        top 50%
        margin-top -24px
        width 48px
        height 48px
        display block
        text-align center
        line-height 48px
        border 1px solid c_celeste
        border-radius: 100% 100%
        color c_celeste
        font-size 20px
        &.bx-prev        
          left -5em
        &.bx-next
          right -5em
        &:hover
          background c_celeste
          color #fff
.slide-testimonios  
  .item-slider-testimonios
    height auto
    overflow hidden
    .detail
      width 50%
      float left
      padding: 5% 5% 0 2.5%
      box-sizing border-box
      .date
        color c_plomo_os
        font-size 25px
        font-family f_ventura_m
        display block
        margin-bottom 1em
      h3
        color c_celeste
        font-size 30px
        font-family f_ventura_m
        margin-bottom 1em
    .image
      width 50%
      float right
      
      box-sizing border-box
      img
    
