<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
{% block css %}

{% endblock css %}
</head>
<body class="{% block classbody %}{% endblock %}">
	<div class="wrapper">
		{% include "./menu.html" %}
		{% include "./header.html" %}
		<div class="page">
			{% block content %}

			{% endblock content %}
			<section class="container_formulario pop_up pop_up_dona">
				<div class="cnt-image">
					<div class="image">

						<div class="text">
							Dona
						</div>
						<figure>
							<img src="{{STATIC_URL}}img/img_dona.png" width="713" height="490" alt="" class="img_res">
						</figure>
					</div>
				</div>
				<div class="cnt-formulario">
					<div class="formulario">
						<h2>
							DONA AL PROYECTO
						</h2>
						<div class="cuentas">
							<div class="cuenta cuentas__ahorro">
								<h4>Cuenta de Ahorros BCP:</h4>
								<h3>194-33308352-0-98</h3>
							</div>
							<div class="cuenta cuentas__ruc">
								<h4>RUC:</h4>
								<h3>20600564260</h3>
							</div>
							<div class="cuenta cuentas__interbancario">
								<h4>Cuenta Interbancaria:</h4>
								<h3>002 194 1333308352098 95</h3>
							</div>
						</div>
						<form action="">
							<div class="text">
								Si ya realizaste una donación déjanos aquí tus datos y adjunta el voucher del depósito para poderte enviar una postal digital como agradecimiento:
							</div>


							<div class="cnt-form">
								<div class="cnt-input">
									<div class="input input input-m">
										<label for="">Nombre y Apellido:</label>
										<input type="text">
									</div>
									<div class="input input-m">
										<label for="">Distrito:</label>
										<input type="text">
									</div>
								</div>
								<div class="cnt-input">
									<div class="input input-m">
										<label for="">DNI:</label>
										<input type="text">
									</div>
									<div class="input input-m">
										<label for="">Célular:</label>
										<input type="text">
									</div>
								</div>
								<div class="cnt-input">
									<div class="input input-m">
										<label for="">Correo Electronico:</label>
										<input type="text">
									</div>
									<div class="input input-m">
										<label for="">Confirmación de Correo Electronico:</label>
										<input type="text">
									</div>
								</div>
								<div class="cnt-input adjuntar">
									<label for="adjuntar">Adjuntar Voucher</label>
									<input type="file" name="adjuntar" id="adjuntar">
								</div>
								<button class="btn btn--form btn--nosotros btn--pop">
									ENVIAR
								</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>
		{% include "./footer.html" %}
	</div>

	<script src="{{STATIC_URL}}js/jquery1.8.3.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.bxslider.min.js"></script>
	<script src="{{STATIC_URL}}js/main.js"></script>
	<script>
	jQuery(document).ready(function($) {
		$('.facebook__slider').bxSlider({
				mode: 'fade',
				adaptiveHeight: false,
				auto: true,
				pause: '222600',
				pager: false,
				controls: false,
				minSlides: 1,
			    maxSlides: 5,
			    moveSlides: 1,
			    slideWidth: 305,
			    controls: true,
			    slideMargin: 10,
			    nextText: '',
				prevText: '',

				onSliderLoad: function(currentIndex) {
					$('.facebook__slider').children().eq(currentIndex).addClass('active');
				},
				onSlideBefore: function($slideElement){
				  setTimeout( function(){
					  $slideElement.addClass('active');
				  },500);
				  $('.facebook__slider').children().removeClass('active');

				}
			});
	});
	</script>
	{% block js %}

	{% endblock js %}
</body>
</html>
