<footer>
	<div class="footer_top">
		<div class="container container--small">
			<div class="facebook_bloque">
				<div class="facebook_image">
					<figure>
						<img src="{{STATIC_URL}}img/footer_mascota.png" width="220" height="274" alt="">
					</figure>
				</div>
				<div class="facebook">
					<h3 class="facebook__title">FACEBOOK</h3>
					<div class="facebook__slider">
						<div class="facebook__slider__item">
							<div class="item">

								<ul>
									<li class="msg">
										<span class="icon-27"></span>
										300
									</li>
									<li class="compartido">
										<span class="icon-01"></span>
										200
									</li>
									<li class="me_gusta">
										<span class="icon-17"></span>
										100
									</li>
								</ul>
								<figure>
									<img src="{{STATIC_URL}}img/face_img.png" width="193" height="162" alt="">
								</figure>
							</div>
						</div>
											<div class="facebook__slider__item">
							<div class="item">

								<ul>
									<li class="msg">
										<span class="icon-27"></span>
										300
									</li>
									<li class="compartido">
										<span class="icon-01"></span>
										200
									</li>
									<li class="me_gusta">
										<span class="icon-17"></span>
										100
									</li>
								</ul>
								<figure>
									<img src="{{STATIC_URL}}img/face_img.png" width="193" height="162" alt="">
								</figure>
							</div>
						</div>
											<div class="facebook__slider__item">
							<div class="item">

								<ul>
									<li class="msg">
										<span class="icon-27"></span>
										300
									</li>
									<li class="compartido">
										<span class="icon-01"></span>
										200
									</li>
									<li class="me_gusta">
										<span class="icon-17"></span>
										100
									</li>
								</ul>
								<figure>
									<img src="{{STATIC_URL}}img/face_img.png" width="193" height="162" alt="">
								</figure>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="footer_top__contacto">
				<h3>Para más información </h3>
				<h3>contáctate con nosotros</h3>
				<div class="links">

					<a href="" class="">
						<span class="icon-15"></span> Jr. La Paz Nº. 170 - La Molina, Lima
					</a>
					<a href="" class="">
						<span class="icon-16"></span>(01) 3483899
					</a>
					<a href="" class="informacion"> 	<span class="icon-14">

						</span>info@matchcota.org
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
		<span>
			Matchcota 2016. Todos lo Derechos Reservados
		</span>
		<a href="">
			Agencia digital: <span class="staff">staff</span><span class="digital">digital</span>
		</a>
		</div>
	</div>
</footer>
