<header class="header">

	<div class="header__logo_links">
		<a href="home.html" class="header__logo">
			<img src="{{STATIC_URL}}img/logo_celeste.png" alt="" width="161" height="71" class="logo_celeste logo logo_none">
			<img src="{{STATIC_URL}}img/logo_blanco.png" alt="" width="161" height="71" class="logo_blanco logo">
		</a>
		<nav>
			<ul>
				<li>
					<a href="" data-pop="cnt_pop_up_adopta" class="adopta open_pop adopta_pop"> <i class="icon-11"></i> Adopta</a>
				</li>
				<li>
					<a href="" data-pop="cnt_pop_up_apadrina" class="apadrina open_pop apadrina_pop"> <i class="icon-12"></i> Apadrina</a>
				</li>
				<li>
					<a href="" data-pop="cnt_pop_up_dona" class="donar open_pop donar_pop"> <i class="icon-13"></i> Dona</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
