<header class="header">

	<div class="header__logo_links">
		<a href="" class="header__logo">
			<img src="{{STATIC_URL}}img/logo_celeste.png" alt="" width="161" height="71" class="logo_celeste logo logo_none">
			<img src="{{STATIC_URL}}img/logo_blanco.png" alt="" width="161" height="71" class="logo_blanco logo">
		</a>
		<nav>
			<ul>
				<li>
					<a href="" class="adopta adopta_pop"> <i class="icon-11"></i> Adopta</a>
				</li>
				<li>
					<a href="" class="apadrina apadrina_pop"> <i class="icon-12"></i> Apadrina</a>
				</li>
				<li>
					<a href="" class="donar donar_pop"> <i class="icon-13"></i> Dona</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
