{% extends "../common/base.html" %}
{% block content %}

<section class="home_banner left_menu" style="background-image:url('{{STATIC_URL}}img/banner.png')">
	<a href="#home_mascotas" class="arrow_scroll">
		<span>

		</span>
		<h3>
			SCROLL DOWN
		</h3>
	</a>
	<figure class="juguete">
		<img src="{{STATIC_URL}}img/juguete1.png" alt="" class="img_res">
	</figure>
	<div class="cnt_slide_home">
		<div class="home_banner__text_static content_banner">
			<div class="text_adoptar">

				<h2>Adoptar es</h2>
				<div class="home_banner__slider_list">
					<div class="text_slide">
						<span class="cuv_naran">cuidar</span>
					</div>
					<div class="text_slide">
						<span class="cuv_naran">amar</span>
					</div>
					<div class="text_slide">
						<span class="cuv_naran">adorar</span>
					</div>
				</div>
			</div>
			<div class="text">
				DA UN HOGAR A UNA MASCOTA ABANDONADA
			</div>
		</div>

	</div>
</section>
<section class="home_mascotas" id="home_mascotas">
	<div class="container--r-large container">
		<div class="title_section home_mascotas--title title_section--celeste">
			<h2 class="">
				TU matchcota ideal
			</h2>

		</div>
		<div class="list_mascotas home_mascotas__list_mascotas">
			<a href="matchcota_detalle.html" class="list_mascotas__mascota list_mascotas__mascota--amarillo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="" src="{{STATIC_URL}}img/mascota3.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="matchcota_detalle.html" class="list_mascotas__mascota list_mascotas__mascota--celeste">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="" src="{{STATIC_URL}}img/mascota2.png"  alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="matchcota_detalle.html" class="list_mascotas__mascota list_mascotas__mascota--plomo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-03 icon-masc"></i></h3>
				<figure class="list_mascotas__image">
					<img class="" src="{{STATIC_URL}}img/mascota1.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="matchcota_detalle.html" class="list_mascotas__mascota list_mascotas__mascota--amarillo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="" src="{{STATIC_URL}}img/mascota2.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="matchcota_detalle.html" class="list_mascotas__mascota list_mascotas__mascota--plomo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-03 icon-masc"></i></h3>
				<figure class="list_mascotas__image">
					<img class="" src="{{STATIC_URL}}img/mascota1.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
		</div>
		<a href="mascota.html" class="row">
			<h3 class="home_conoce_mascota__title">
				<i class="icon-22"></i>CONOCE MÁS matchcota AQUÍ <span class="flecha"></span>
			</h3>
		</a>

	</div>
</section>
<section class="home_conoce_mascota">
	<a href="testimonios.html" class="testimonio_link">
		<i class="icon-23"></i> <span class="text">Ver todos los testimonios</span><span class="flecha"></span>
	</a>
	<figure class="juguete_1">
		<img src="{{STATIC_URL}}img/juguete4.png" width="147" height="130" class="img_res" alt="">
	</figure>
		<figure class="juguete_2">
		<img src="{{STATIC_URL}}img/juguete_2.png" width="257" height="256" class="img_res" alt="">
	</figure>
	<div class="full_container">
		<div class="container container--medium">
			<div class="title">
				<h4>Historias</h4>
				<h3>para enmarcar</h3>
			</div>
			<div class="cnt-bloque">
				<div class="bloque_picture bloque_1">
					<a href="testimonios.html"  class="picture-border">
						<span class="inner__picture">
							<img class="img_res" src="{{STATIC_URL}}img/bloque_1.png" alt="" width="234" height="240">
						</span>
					</a >
					<span class="text">lealtad</span>
				</div>
				<div class="bloque_picture bloque_2">
					<a href="testimonios.html"  class="picture-border">
						<span class="inner__picture">
							<img class="img_res" src="{{STATIC_URL}}img/test_2.png" alt="" width="140" height="140">
						</span>
					</a >
					<span class="text">amistad</span>
				</div>
				<div class="bloque_picture bloque_3">
					<a href="testimonios.html"  class="picture-border">
						<span class="inner__picture">
							<img class="img_res" src="{{STATIC_URL}}img/test_2_2.png" alt="" width="198" height="132">
						</span>
					</a >
					<span class="text">compañero</span>
				</div>
				<div class="bloque_picture bloque_4">
					<a href="testimonios.html"  class="picture-border">
						<span class="inner__picture">
							<img class="img_res" src="{{STATIC_URL}}img/test_3.png" alt="" width="308" height="156">
						</span>
					</a >
					<span class="text">amigo</span>
				</div>
				<div class="bloque_picture bloque_5">
					<a href="testimonios.html"  class="picture-border">
						<span class="inner__picture">
							<img class="img_res" src="{{STATIC_URL}}img/tes_4.png" alt="" width="246" height="322">
						</span>
					</a >
				</div>
			</div>
		</div>
	</div>
</section>
<section class="home_siempre_informados">
	<div class="container container--r-large-noticias">
		<div class="title">
			<h2>SIEMPRE <span>INFORMADOS</span></h2>
		</div>
		<div class="listado_noticias home_listado_noticias">
			<a href="noticias_detalle.html" class="listado_noticias__noticia_large listado_noticias__noticia large">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_1.png" alt="" class="img_res" width="429" height="410">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="noticias_detalle.html" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="noticias_detalle.html" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="noticias_detalle.html" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="noticias_detalle.html" class="listado_noticias__noticia listado_noticias__noticia_large large">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_1.png" alt="" class="img_res" width="429" height="410">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="noticias_detalle.html" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
		</div>
		<a href="noticias.html" class="ver_mas_noticias">
			<i class="icon-24"></i> Ver más noticias <span ></span>
		</a>
	</div>
</section>
<section class="home_nuestro_aliados">
	<div class="container">
		<div class="title title_colores">
			<h2 class="celeste"> NUESTROS  <span class="naranja">ALIADOS</span></h2>
		</div>
		<div class="listado_aliados">
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/instinto.png" alt="" width="180" height="90">
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/voz_animal.png" width="180" height="90" alt="" >
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/vet.png" width="180" height="90" alt="">
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/guau.png" width="180" height="90" alt="">
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/voz_animal.png" width="180" height="90" alt="">
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/4patas.png" alt="">
			</figure>
		</div>
	</div>
</section>
{% endblock content %}
{% block js %}

	<script>

		$(document).ready(function(){


			$('.home_banner__slider_list').bxSlider({
				mode: 'fade',
				adaptiveHeight: false,
				auto: true,
				pause: '6600',
				pager: false,
				controls: false,

				minSlides: 1,
			    maxSlides: 3,
			    moveSlides: 1,



			});
			$('.listado_aliados').bxSlider({


				minSlides: 5,
			    maxSlides: 5,
			    slideWidth: 205,
			    slideMargin: 10,
				auto: true,
				moveSlides: 1,
				autoControls: false,
				pause: 1500,
				nextText: "",
				prevText: "",
				pager: false

			});

			$(window).scroll(function(){
                var window_top = $(window).scrollTop();

                if(window_top>720) {
		  			$(".cnt-beneficios .facebook").addClass('facebook-fixed')
		  		}
		  		if(window_top>2400) {
		  			$(".home_nuestro_aliados .title_colores").addClass('title_colores_animate')
		  		}else{
		  			$(".home_nuestro_aliados .title_colores").removeClass('title_colores_animate')
		  		}
            });

            $(".arrow_scroll").click(function(evn){
                evn.preventDefault();

                $('html,body').scrollTo(this.hash, this.hash);
            });

            /*$(window).scroll(function(){
                var windowPos = $(window).scrollTop();
                var windowHeight = $(window).height();
                var docHeight = $(document).height();
                console.log(windowPos)
            });*/


		});
		$.scrollTo = $.fn.scrollTo = function(x, y, options){
            if (!(this instanceof $)) return $.fn.scrollTo.apply($('html, body'), arguments);

            options = $.extend({}, {
                gap: {
                    x: 0,
                    y: 0
                },
                animation: {
                    easing: 'swing',
                    duration: 1000,
                    complete: $.noop,
                    step: $.noop
                }
            }, options);

            return this.each(function(){
                var elem = $(this);

                elem.stop().animate({
                    scrollLeft: !isNaN(Number(x)) ? x : $(y).offset().left + options.gap.x,
                    scrollTop: !isNaN(Number(y)) ? y : $(y).offset().top  + options.gap.y
                }, options.animation);
            });
        };

		var mql = [window.matchMedia("(max-width: 1500px)"), window.matchMedia("(max-width: 960px)"), window.matchMedia("(max-width: 480px)")];
		for (var i=0; i<mql.length; i++){
			widthChange(mql[i]) // call action function explicitly at run time
			mql[i].addListener(widthChange); // call action function whenever each media query is triggered
		}
		var media_ = ""
		function widthChange(mq){


			$(window).scroll(function(){
                var window_top = $(window).scrollTop();

                if (mq.matches) {
                	media_ = mq.media

                };
                switch(media_) {
                	case "(max-width: 480px)":
                		if (window_top >= 270) {
			            	$(".logo_celeste").removeClass('logo_none')
			            	$(".logo_blanco").addClass('logo_none')
			        	}else{

		                	$(".logo_celeste").addClass('logo_none')
			            	$(".logo_blanco").removeClass('logo_none')
			        	}
			            if (window_top >= 360) {
		                	$(".title_section").addClass('home_mascotas--title--active')
		                }else{
		                	$(".title_section").removeClass('home_mascotas--title--active')
		                };
			        break;
			        case "(max-width: 960px)":
			        	if (window_top >= 310) {
			            	$(".logo_celeste").removeClass('logo_none')
			            	$(".logo_blanco").addClass('logo_none')
			        	}else{

		                	$(".logo_celeste").addClass('logo_none')
			            	$(".logo_blanco").removeClass('logo_none')
			        	}
			            if (window_top >= 400) {
		                	$(".title_section").addClass('home_mascotas--title--active')
		                }else{
		                	$(".title_section").removeClass('home_mascotas--title--active')
		                };
			        break;
			        case "(max-width: 1500px)":
			        	if (window_top >= 410) {
			            	$(".logo_celeste").removeClass('logo_none')
			            	$(".logo_blanco").addClass('logo_none')
			        	}else{

		                	$(".logo_celeste").addClass('logo_none')
			            	$(".logo_blanco").removeClass('logo_none')
			        	}
			        	if (window_top >= 450) {
		                	$(".title_section").addClass('home_mascotas--title--active')
		                }else{
		                	$(".title_section").removeClass('home_mascotas--title--active')
		                };
			        break;

			        default:
			        	if (window_top >= 560) {
			            	$(".logo_celeste").removeClass('logo_none')
			            	$(".logo_blanco").addClass('logo_none')
			        	}else{

		                	$(".logo_celeste").addClass('logo_none')
			            	$(".logo_blanco").removeClass('logo_none')
			        	}
			        	if (window_top >= 620) {
		                	$(".title_section").addClass('home_mascotas--title--active')
		                }else{
		                	$(".title_section").removeClass('home_mascotas--title--active')
		                };
			    }

            });


		}
		var mql_n = window.matchMedia("(max-width: 960px)");

		widthChangeNoticia(mql_n)
		mql_n.addListener(widthChangeNoticia);
		function widthChangeNoticia(mq){
			console.log(mq.media)
			if(mq.matches){
				$(".listado_noticias .large").removeClass('listado_noticias__noticia_large')
			}else{
				$(".listado_noticias .large").addClass('listado_noticias__noticia_large')
			}

        }



	</script>

{% endblock js %}
