{% extends "../common/base.html" %}
{% block content %}

<section class="home_banner left_menu">
	<figure class="juguete">
		<img src="{{STATIC_URL}}img/juguete1.png" alt="" class="img_res">
	</figure>
	<div class="home_banner__slider_list">
		<div class="home_banner__slider_list__item" style="background-image:url('{{STATIC_URL}}img/banner.png')">
			<div class="content content_banner">
				<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
				<div class="text">
					DA UN HOGAR A UNA MASCOTA ABANDONADA
				</div>
			</div>
		</div>
		<div class="home_banner__slider_list__item" style="background-image:url('{{STATIC_URL}}img/banner.png')">
			<div class="content content_banner">
				<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
				<div class="text">
					DA UN HOGAR A UNA MASCOTA ABANDONADA
				</div>
			</div>
		</div>
		<div class="home_banner__slider_list__item" style="background-image:url('{{STATIC_URL}}img/banner.png')">
			<div class="content content_banner">
				<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
				<div class="text">
					DA UN HOGAR A UNA MASCOTA ABANDONADA
				</div>
			</div>
		</div>
	</div>
</section>
<section class="home_mascotas">
	<div class="container--large">
		<div class="title_section title_section--celeste">
			<h2 class="">
				TU matchcota ideal
			</h2>

		</div>
		<div class="list_mascotas home_mascotas__list_mascotas">
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--amarillo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota3.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--celeste">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota2.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--plomo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-03 icon-masc"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota1.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--amarillo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota2.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--plomo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-03 icon-masc"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota1.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
		</div>

	</div>
</section>
<section class="home_conoce_mascota">
	<div class="container">
		<h3 class="home_conoce_mascota__title">
			<i class="icon-22"></i>CONOCE MÁS matchcota AQUÍ
		</h3>
	</div>
	<div class="full_container">
		<div class="container">
			<div class="bloque_test_1">
				<div class="title">
					<h4>Historias</h4>
					<h3>para enmarcar</h3>
				</div>
				<figure>
					<img src="{{STATIC_URL}}img/bloque_1.png" alt="" width="237" height="240">
				</figure>
			</div>
		</div>
	</div>
</section>
<div class="home_siempre_informados">
	<div class="container">
		<div class="title">
			<h2>SIEMPRE <span>INFORMADOS</span></h2>
		</div>
		<div class="listado_noticias home_listado_noticias">
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_large">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_1.png" alt="" class="img_res" width="430" height="410">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_small listado_noticias__noticia_small--top listado_noticias__noticia_small--amarillo">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_small listado_noticias__noticia_small--bottom  listado_noticias__noticia_small--celeste">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_small listado_noticias__noticia_small--top listado_noticias__noticia_small--amarillo">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_large">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_1.png" alt="" class="img_res" width="430" height="410">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_small listado_noticias__noticia_small--bottom  listado_noticias__noticia_small--celeste">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
		</div>
		<a href="" class="ver_mas_noticias">
			<i class="icon-24"></i> Ver más noticias
		</a>
	</div>
</div>
{% endblock content %}
{% block js %}
	<script src="{{STATIC_URL}}js/jquery.bxslider.min.js"></script>
	<script>

		$(document).ready(function(){


			$('.home_banner__slider_list').bxSlider({
				mode: 'fade',
				adaptiveHeight: true,
				auto: true,
				pause: '22600',
				pager: false,
				controls: false,


				onSliderLoad: function(currentIndex) {
						$('.home_banner__slider_list').children().eq(currentIndex).addClass('active');

					},
					onSlideBefore: function($slideElement){
					  setTimeout( function(){

						  $slideElement.addClass('active');

					  },500);
					  $('.home_banner__slider_list').children().removeClass('active');

					}
			});


		});

	</script>

{% endblock js %}
