{% extends "../common/base.html" %}
{% block content %}

<section class="home_banner left_menu">
	<figure class="juguete">
		<img src="{{STATIC_URL}}img/juguete1.png" alt="" class="img_res">
	</figure>
	<div class="home_banner__slider_list">
		<div class="home_banner__slider_list__item" style="background-image:url('{{STATIC_URL}}img/banner.png')">
			<div class="content content_banner">
				<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
				<div class="text">
					DA UN HOGAR A UNA MASCOTA ABANDONADA
				</div>
			</div>
		</div>
		<div class="home_banner__slider_list__item" style="background-image:url('{{STATIC_URL}}img/banner.png')">
			<div class="content content_banner">
				<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
				<div class="text">
					DA UN HOGAR A UNA MASCOTA ABANDONADA
				</div>
			</div>
		</div>
		<div class="home_banner__slider_list__item" style="background-image:url('{{STATIC_URL}}img/banner.png')">
			<div class="content content_banner">
				<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
				<div class="text">
					DA UN HOGAR A UNA MASCOTA ABANDONADA
				</div>
			</div>
		</div>
	</div>
</section>
<section class="home_mascotas">
	<div class="container--large">
		<div class="title_section title_section--celeste">
			<h2 class="">
				TU matchcota ideal
			</h2>

		</div>
		<div class="list_mascotas">
			<div class="list_mascotas__mascota ">
				<h3 class="list_mascotas__title">CORAJE</h3>
				<figure class="list_mascotas__image">
					<img src="{{STATIC_URL}}img/mascota1.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}
{% block js %}
	<script src="{{STATIC_URL}}js/jquery.bxslider.min.js"></script>
	<script>

		$(document).ready(function(){


			$('.home_banner__slider_list').bxSlider({
				mode: 'fade',
				adaptiveHeight: true,
				auto: true,
				pause: '22600',
				pager: false,
				controls: false,


				onSliderLoad: function(currentIndex) {
						$('.home_banner__slider_list').children().eq(currentIndex).addClass('active');

					},
					onSlideBefore: function($slideElement){
					  setTimeout( function(){

						  $slideElement.addClass('active');

					  },500);
					  $('.home_banner__slider_list').children().removeClass('active');

					}
			});


		});

	</script>

{% endblock js %}
