{% extends "../common/base.html" %}
{% block content %}

<section class="banner_gral">
	<div class="banner" style="background-image: url({{STATIC_URL}}img/interna.png)">
		<div class="banner__title">
			<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
		</div>
	</div>
</section>
<section class="mascota_categorias">
	<div class="container">
		<div class="text">
			Lorem ipsum dolor sit amet,
			consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</div>
		<div class="list_categorias">
			<ul>
				<li>
					<a href="" class="categoria">Todos los perros</a>
				</li>
				<li>
					<a href="" class="categoria">Cachorros</a>
				</li>
				<li>
					<a href="" class="categoria">Adultos</a>
				</li>
				<li class="active">
					<a href="" class="categoria">Seniors</a>
				</li>
			</ul>




		</div>
	</div>
</section>
<section class="home_mascotas">
	<div class="container--large">

		<div class="list_mascotas home_mascotas__list_mascotas">
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--amarillo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota3.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--celeste">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota2.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--plomo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-03 icon-masc"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota1.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--amarillo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota2.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--plomo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-03 icon-masc"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota1.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--amarillo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota3.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--celeste">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota2.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--plomo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-03 icon-masc"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota1.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--amarillo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-04 icon-fem"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota2.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
			<a href="" class="list_mascotas__mascota list_mascotas__mascota--plomo">
				<h3 class="list_mascotas__title">CORAJE <i class="icon-mascotas-03 icon-masc"></i></h3>
				<figure class="list_mascotas__image">
					<img class="img_res" src="{{STATIC_URL}}img/mascota1.png" alt="" width="274" height="295">
				</figure>
				<div class="list_mascotas__etiqueta">
					<h4>Edad: 1 año y 6 meses</h4>
				</div>
			</a>
		</div>

	</div>
</section>

{% endblock content %}
{% block js %}
<script>

</script>
{% endblock js %}
