{% extends "../common/base.html" %}
{% block content %}

<section class="banner_gral">
	<div class="banner" style="background-image: url({{STATIC_URL}}img/interna.png)">
		<div class="banner__title">
			<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
		</div>
	</div>
</section>
<section class="matchcota-detalle">
	<div class="container container--medium">
		<div class="preview-img">

			<h3 class="conoce_mascota__title">
				<span class="flecha"></span>
				<i class="icon-22"></i>CONOCE MÁS MASCOTAS AQUÍ
			</h3>
			<div class="main-img">
				<img src="{{STATIC_URL}}img/mascota1.png" width="274" height="295" alt="">
			</div>
			<ul class="list-thumbnails">
				<li>
					<a href="#" point-src="{{STATIC_URL}}img/mascota1.png">
						<img src="{{STATIC_URL}}img/mascota1.png" alt="">
					</a>
				</li>
				<li>
					<a href="#" point-src="{{STATIC_URL}}img/mascota2.png">
						<img src="{{STATIC_URL}}img/mascota2.png" alt="">
					</a>
				</li>
				<li>
					<a href="#" point-src="{{STATIC_URL}}img/mascota3.png">
						<img src="{{STATIC_URL}}img/mascota3.png" alt="">
					</a>
				</li>
				<li>
					<a href="#" point-src="{{STATIC_URL}}img/mascota4.png">
						<img src="{{STATIC_URL}}img/mascota4.png" alt="">
					</a>
				</li>
			</ul>
		</div>
		<div class="cnt-descripcion">
			<div class="title-main">
				<h1>
					Chispa
				</h1>
				<div class="cnt-share">
					<a href="#" class="share-item share-fb">
						<span class="text">Compartir</span>
						<i class="icon icon-mascotas-10"></i>
					</a>
				</div>
			</div>
			<ul class="acordeon">
				<li class="active" id="info-general">
					<h3 class="title">
						<a href="#info-general">
							<i class="icon icon-04"></i>
							<span class="text">Informacion General</span>
							<i class="icon icon-arrow icon-26" ></i>
						</a>
					</h3>
					<div class="text-content text-content-info">
						<div class="content-caract">
							<div class="caract">

								<div class="caract__anio">
									<h3><i class="icon-mascotas-01"></i> 1 Año</h3>
								</div>
								<div class="caract__hogar">
									<h3><i class="icon-mascotas-02"></i> 1 Albergue Voz Animal</h3>
								</div>
							</div>

							<h2>

									Historia:

							</h2>
							<p>
								Chispa fue rescatada en enero de 2016 mientras buscaba entre bolsas de basura algo de comida, al lado de la Carretera Panamericana Sur.
							</p>
						</div>
					</div>
				</li>
				<li id="caracteristicas-fisicas">
					<h3 class="title">
						<a href="#caracteristicas-fisicas">
							<i class="icon icon-05"></i>
							<span class="text">Caracteristicas Fisicas</span>
							<i class="icon icon-arrow icon-26" ></i>
						</a>
					</h3>
					<div class="text-content">
						<div class="caract-fisicas">
							<div class="caract-fisicas__block caract-fisicas__sexo">
								<h3>Sexo</h3>
								<i class="icon-active icon-mascotas-04"></i>
								<i class="icon-mascotas-03"></i>
							</div>
							<div class="caract-fisicas__block caract-fisicas__pelo">
								<h3>Pelo</h3> <i class="icon-mascotas-09"></i>
								<i class="icon-mascotas-05"></i>
								<i class="icon-active  icon-mascotas-08"></i>
							</div>
							<div class="caract-fisicas__block caract-fisicas__tamanio">
								<h3>Tamaño</h3>
								<i class="icon-mascotas-06 icon-tamanio--small"></i>
								<i class="icon-active  icon-mascotas-06 icon-tamanio--medium"></i>
								<i class="icon-mascotas-06 icon-tamanio--large"></i>
							</div>
						</div>
					</div>
				</li>
				<li id="salud">
					<h3 class="title">
						<a href="#salud">
							<i class="icon icon-06"></i>
							<span class="text">Salud</span>
							<i class="icon icon-arrow icon-26" ></i>
						</a>
					</h3>
					<div class="text-content">
						<div class="caract-salud">
							<div class="caract-salud__alergias">

								<h3>Alergias</h3>
								<i class="icon-mascotas-07"></i>
								<i class="icon-mascotas-07"></i>
							</div>
							<div class="caract-salud__alergias">

								<h3>Tratamiento</h3>
								<i class="icon-mascotas-07"></i>
								<i class="icon-mascotas-07"></i>
							</div>
							<div class="caract-salud__alergias">

								<h3>Enfermedad crónica</h3>
								<i class="icon-mascotas-07"></i>
								<i class="icon-mascotas-07"></i>
							</div>
						</div>
					</div>
				</li>
				<li id="me-relaciono">
					<h3 class="title">
						<a href="#me-relaciono">
							<i class="icon icon-23"></i>
							<span class="text">Me relaciono bien con</span>
							<i class="icon icon-arrow icon-26" ></i>
						</a>
					</h3>
					<div class="text-content">
						<div class="caract-salud">
							<div class="caract-salud__alergias">

								<h3>Humanos</h3>
								<i class="icon-mascotas-07"></i>
								<i class="icon-mascotas-07"></i>
							</div>
							<div class="caract-salud__alergias">

								<h3>Perras Hermbras</h3>
								<i class="icon-mascotas-07"></i>
								<i class="icon-mascotas-07"></i>
							</div>
							<div class="caract-salud__alergias">

								<h3>Perros Machos</h3>
								<i class="icon-mascotas-07"></i>
								<i class="icon-mascotas-07"></i>
							</div>
						</div>
					</div>
				</li>
				<li id="comportamiento">
					<h3 class="title">
						<a href="#comportamiento">
							<i class="icon icon-07"></i>
							<span class="text">Comportamiento</span>
							<i class="icon icon-arrow icon-26" ></i>
						</a>
					</h3>
					<div class="text-content text-content__comportamiento">
						<ul>
							<li>
								<span class="text">Tranquilo</span>
								<div class="cnt-bar">
									<div class="bar w20"></div>
								</div>
							</li>
							<li>
								<span class="text">Independiente</span>
								<div class="cnt-bar">
									<div class="bar w20"></div>
								</div>
							</li>
							<li>
								<span class="text">Cariñoso</span>
								<div class="cnt-bar">
									<div class="bar w90"></div>
								</div>
							</li>
							<li>
								<span class="text">Curioso</span>
								<div class="cnt-bar">
									<div class="bar w90"></div>
								</div>
							</li>
							<li>
								<span class="text">Educado</span>
								<div class="cnt-bar">
									<div class="bar w40"></div>
								</div>
							</li>
							<li>
								<span class="text">Deportista</span>
								<div class="cnt-bar">
									<div class="bar w90"></div>
								</div>
							</li>
							<li>
								<span class="text">Juguetón</span>
								<div class="cnt-bar">
									<div class="bar w70"></div>
								</div>
							</li>



							<li class="num">
								<span class="num-first">1</span>
								<span class="num-last">10</span>
							</li>
						</ul>
					</div>
				</li>
				<li id="comentarios-adicional">
					<h3 class="title">
						<a href="#comentarios-adicional">
							<i class="icon icon-21"></i>
							<span class="text">comentarios adicional</span>
							<i class="icon icon-arrow icon-26" ></i>
						</a>
					</h3>
					<div class="text-content">
						<p>
							Chispa es la lider de las hermanas, de todas maneras de Gryffindor.
							Es sociable con todos, perros y humanos. Independiente, es capaz de
							jugar solita con sus juguetes y así se entretiene.
						</p>
					</div>
				</li>
			</ul>
			<a href="#" class="adopta_pop btn btn-aceptar">
				ADOPTAR
			</a>
		</div>
	</div>
</section>
{% endblock content %}
{% block js %}
<script src="{{STATIC_URL}}js/banner.js"></script>
<script>
	jQuery(document).ready(function($) {
		$('.listado_aliados').bxSlider({
			adaptiveHeight: false,
			auto: true,
			pause: '22600',
			pager: false,
			controls: false,
			minSlides: 1,
		    maxSlides: 5,
		    moveSlides: 1,
		    slideWidth: 135,
		    controls: true,
		    slideMargin: 30,
		    nextText: '',
			prevText: '',
		});
		function changeImage() {
			$downImg = $(this).attr("point-src");
			console.log($downImg);
			$(".main-img img").attr("src", $downImg);
		}
		function changeAcordonState() {
			$href = $(this).attr("href");
			console.log($href);
			$(".acordeon li").removeClass("active");
			$($href).addClass("active");
		}
		$(".list-thumbnails li a").click(function(event) {
			event.preventDefault()
			$downImg = $(this).attr("point-src");
			console.log($downImg);
			$(".main-img img").attr("src", $downImg);
			/* Act on the event */
		});



	});
</script>
{% endblock js %}
