{% extends "../common/base.html" %}
{% block content %}

<section class="banner_gral">
	<div class="banner" style="background-image: url({{STATIC_URL}}img/interna.png)">
		<div class="banner__title">
			<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
		</div>
	</div>
</section>
<section class="nosotros_matchota_ideal">
	<div class="container">
		<figure>
			<img src="{{STATIC_URL}}img/nosotros_mac.png" width="357" height="400" alt="" class="img_res">
		</figure>
		<div class="cnt-descripcion">
			<h2>
				Tu matchcota ideal
			</h2>
			<div class="descripcion">
				Somos una organización sin fines de lucro que busca incrementar el número de adopciones en Lima, a través de un espacio virtual que centralice las oportunidades de adopción, brindando además asesoría integral a los adoptantes y trabajando en coordinación con una red de albergues.
			</div>
		</div>
	</div>
</section>
<section class="nosotros_comillas">
	<div class="container container--r-small">
		<div class="descripcion">
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
		</div>
	</div>
</section>
<section class="cnt-mision-vision">
	<div class="container container--large">
		<figure>
			<img src="{{STATIC_URL}}img/nos_mascota.png" class="img_res" alt="">
		</figure>
		<div class="mision_vision">
			<div class="icon-08 icon-mision"></div>
			<h2>Misión</h2>
			<div class="descripcion">
					Somos un equipo de jóvenes profesionales voluntarios que buscan darle a las mas cotas abandonadas mayores oportunidades de adopción, contribuyendo a que tanto las familias como las mascotas puedan llevar una vida más feliz
			</div>
		</div>
		<div class="mision_vision">
			<div class="icon-08 icon-mision"></div>
			<h2>Visión</h2>
			<div class="descripcion">
					Somos un equipo de jóvenes profesionales voluntarios que buscan darle a las mas cotas abandonadas mayores oportunidades de adopción, contribuyendo a que tanto las familias como las mascotas puedan llevar una vida más feliz
			</div>
		</div>

	</div>
</section>
<section class="nosotros_linea_tiempo">
	<div class="container container--large">
		<h2>
			En Matchcota puedes adoptar  <span>a tu mascota ideal</span>
		</h2>
		<div class="cnt_linea_tiempo">
			<div class="bloque_1">
				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_1.png" alt="">
				</figure>
				<h3>WWW.
					<span>MATCHCOTA</span>
					.ORG
				</h3>
			</div>
			<div class="bloque_2">
				<div class="descripcion">
					<ul>
						<li>Tranquila</li>
						<li>Cariñosa</li>
						<li>Juguetona</li>
					</ul>
				</div>
				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_4.png" alt="">
				</figure>
			</div>
			<div class="bloque_3">
				<h3>
					MATCH!
				</h3>
			</div>
			<div class="bloque_4">
				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_7_2.png" alt="">
				</figure>
				<h3>
					Completa  el
				</h3>
				<h3>
					formulario
				</h3>
			</div>
			<div class="bloque_5">
				<h3>
					coordina
				</h3>
				<h3>
					la entrevista
				</h3>
				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_8.png" alt="">
				</figure>
			</div>
			<div class="bloque_6">

				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_9_2.png" alt="">
				</figure>
				<h3>
					EN CASA
				</h3>
			</div>
			<div class="bloque_7">
				<h3>
					!SUMA
				</h3>
				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_12.png" alt="">
				</figure>
				<h3>
					A TU VIDA!
				</h3>

			</div>
		</div>
	</div>
</section>
<section class="nosotros_formulario container_formulario">
	<div class="cnt-image">
		<div class="text">
			ÚNETE
		</div>
		<figure>
			<img src="{{STATIC_URL}}img/nosotros_imagen.png" width="713" height="490" alt="" class="img_res">
		</figure>
	</div>
	<div class="cnt-formulario">
		<div class="formulario">
			<h2>
				Únete al proyecto
			</h2>
			<p>
				Sé parte de Matchcota, indicanos si eres una persona natural o una empresa.
			</p>
			<form action="">
				<div class="grid_botton">
					<a href="" class="btn btn--light-white btn--light-white-active">
						Para Empresas
					</a>
					<a href="" class="btn btn--light-white">
						Para Personas Naturales
					</a>
				</div>
				<div class="text">
					Por favor completa los datos para ponernos en contacto con ustedes:
				</div>
				<div class="cnt-form">
					<div class="cnt-input">
						<div class="input">
							<label for="">Nombre de la Empresa:</label>
							<input type="text">
						</div>
					</div>
					<div class="cnt-input">
						<div class="input input-m">
							<label for="">Persona de Contacto:</label>
							<input type="text">
						</div>
						<div class="input input-m">
							<label for="">Rubro:</label>
							<input type="text">
						</div>
					</div>
					<div class="cnt-input">
						<div class="input input-m">
							<label for="">Teléfono:</label>
							<input type="text">
						</div>
						<div class="input input-m">
							<label for="">Email:</label>
							<input type="text">
						</div>
					</div>
					<div class="cnt-input">
						<div class="input">
							<label for="">Comentario Adicional:</label>
							<textarea name="" id="" cols="30" rows="10"></textarea>
						</div>

					</div>
					<button class="btn btn--form btn--nosotros">
						ENVIAR
					</button>
				</div>
			</form>
		</div>
	</div>
</section>
section.
{% endblock content %}
{% block js %}
{% endblock js %}
