{% extends "../common/base.html" %}
{% block content %}

<section class="banner_gral">
	<div class="banner" style="background-image: url({{STATIC_URL}}img/interna.png)">
		<div class="banner__title">
			<h2>ADOPTAR ES <span class="cuv_naran">amar</span></h2>
		</div>
	</div>
</section>
<section class="nosotros_matchota_ideal">
	<div class="container">
		<figure>
			<img src="{{STATIC_URL}}img/nosotros_mac.png" width="357" height="400" alt="" class="img_res">
		</figure>
		<div class="cnt-descripcion">
			<h2>
				Tu matchcota ideal
			</h2>
			<div class="descripcion">
				Somos una organización sin fines de lucro que busca incrementar el número de adopciones en Lima, a través de un espacio virtual que centralice las oportunidades de adopción, brindando además asesoría integral a los adoptantes y trabajando en coordinación con una red de albergues.
			</div>
		</div>
	</div>
</section>
<section class="nosotros_comillas">
	<div class="container container--r-small">
		<div class="descripcion">
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
		</div>
	</div>
</section>
<section class="cnt-mision-vision">
	<div class="container container--full">
		<figure>
			<img src="{{STATIC_URL}}img/nos_mascota.png" class="img_res" alt="">
		</figure>
		<div class="mision_vision">
			<div class="icon-08 icon-mision"></div>
			<h2>Misión</h2>
			<div class="descripcion">
					Somos un equipo de jóvenes profesionales voluntarios que buscan darle a las mas cotas abandonadas mayores oportunidades de adopción, contribuyendo a que tanto las familias como las mascotas puedan llevar una vida más feliz
			</div>
		</div>
		<div class="mision_vision">
			<div class="icon-08 icon-mision"></div>
			<h2>Visión</h2>
			<div class="descripcion">
					Somos un equipo de jóvenes profesionales voluntarios que buscan darle a las mas cotas abandonadas mayores oportunidades de adopción, contribuyendo a que tanto las familias como las mascotas puedan llevar una vida más feliz
			</div>
		</div>

	</div>
</section>
<section class="nosotros_linea_tiempo">
	<div class="container container--r-large">
		<h2>
			En Matchcota puedes adoptar  <span>a tu mascota ideal</span>
		</h2>
		<div class="cnt_linea_tiempo">
			<div class="bloque_1">
				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_1.png" alt="">
				</figure>
				<h3>WWW.
					<span>MATCHCOTA</span>
					.ORG
				</h3>
			</div>
			<div class="bloque_2">
				<div class="descripcion">
					<ul>
						<li>Tranquila</li>
						<li>Cariñosa</li>
						<li>Juguetona</li>
					</ul>
				</div>
				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_4.png" alt="">
				</figure>
			</div>
			<div class="bloque_3">
				<h3>
					MATCH!
				</h3>
			</div>
			<div class="bloque_4">
				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_7_2.png" alt="">
				</figure>
				<h3>
					Completa  el
				</h3>
				<h3>
					formulario
				</h3>
			</div>
			<div class="bloque_5">
				<h3>
					coordina
				</h3>
				<h3>
					la entrevista
				</h3>
				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_8.png" alt="">
				</figure>
			</div>
			<div class="bloque_6">

				<figure>
					<img class="" src="{{STATIC_URL}}img/nos_ani_9_2.png" alt="">
				</figure>
				<h3>
					EN CASA
				</h3>
			</div>
			<div class="bloque_7">
				<h3>
					!SUMA
				</h3>
				<figure>
					<img class="" src="{{STATIC_URL}}img/perro.png" alt="">
				</figure>
				<h3>
					A TU VIDA!
				</h3>

			</div>
		</div>
	</div>
</section>
<section class="nosotros_formulario container_formulario">
	<div class="cnt-image">
		<div class="text">
			Únete
		</div>
		<figure>
			<img src="{{STATIC_URL}}img/nosotros_imagen.png" width="713" height="490" alt="" class="img_res">
		</figure>
	</div>
	<div class="cnt-formulario">
		<div class="formulario">
			<h2>
				Únete al proyecto
			</h2>
			<p>
				Sé parte de Matchcota, indicanos si eres una persona natural o una empresa.
			</p>
			<form action="">
				<div class="grid_botton">
					<a href="" data-id="#tab1" class="btn-tab btn btn--light-white btn--light-white-active">
						Para Empresas
					</a>
					<a href="" data-id="#tab2" class="btn-tab btn btn--light-white">
						Para Personas Naturales
					</a>
				</div>
				<div id="tab1" class="tab">
					<div class="text">
						Por favor completa los datos para ponernos en contacto con ustedes:
					</div>
					<div class="cnt-form">
						<div class="cnt-input">
							<div class="input">
								<label for="">Nombre de la Empresa:</label>
								<input type="text">
							</div>
						</div>
						<div class="cnt-input">
							<div class="input input-m">
								<label for="">Persona de Contacto:</label>
								<input type="text">
							</div>
							<div class="input input-m">
								<label for="">Rubro:</label>
								<input type="text">
							</div>
						</div>
						<div class="cnt-input">
							<div class="input input-m">
								<label for="">Teléfono:</label>
								<input type="text">
							</div>
							<div class="input input-m">
								<label for="">Email:</label>
								<input type="text">
							</div>
						</div>
						<div class="cnt-input">
							<div class="input">
								<label for="">Comentario Adicional:</label>
								<textarea name="" id="" cols="30" rows="10"></textarea>
							</div>

						</div>
						<button class="btn btn--form btn--nosotros">
							ENVIAR
						</button>
					</div>
				</div>
				<div id="tab2" class="tab_none tab">
					<div class="text">
						Para participar, sigue los siguientes pasos:
					</div>
					<div class="pasos">
						<div class="pasos__paso">
							<div class="text">1. Lee atentamente los requisitos, perfil del voluntario que buscamos y el área en la que pudieras participar.</div>
							<div class="cnt-form">

								<div class="cnt-input cnt-input--adjuntar cnt-input-descargar">
		                            <a href="" class="descargar">visualizar programa <i class="icon-09"></i></a>
		                        </div>
							</div>
							<div class="text text-paso">
								2. Completa la <a href="">ficha de inscripción.</a>
							</div>
							<div class="text">
								Si tu registro calza con el perfil que estamos buscando y los cupos disponibles para el Programa en curso, nos pondremos en contacto contigo.
							</div>
							<h3>¡Muchas gracias por el interés en ayudar!</h3>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<section class="nosotros_socios_estrategicos">
	<div class="container">
		<div class="title title_colores">
			<h2 class="celeste">Socios Estratégicos </h2>
		</div>
		<div class="listado_aliados listado_aliados_nosotros">
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/nos_soc_1.png" width="135" height="135" alt="" >
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/nos_soc_2.png" width="135" height="135" alt="" >
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/nos_soc_3.png" width="135" height="135" alt="">
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/nos_soc_4.png" width="135" height="135" alt="">
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/nos_soc_1.png" width="135" height="135" alt="">
			</figure>
			<figure class="listado_aliados__item">
				<img src="{{STATIC_URL}}img/nos_soc_2.png" width="135" height="135" alt="">
			</figure>
		</div>
	</div>
</section>
{% endblock content %}
{% block js %}
<script src="{{STATIC_URL}}js/banner.js"></script>
<script>
	jQuery(document).ready(function($) {
			$('.listado_aliados').bxSlider({




				minSlides: 5,
			    maxSlides: 5,

			    slideWidth: 135,

			    slideMargin: 30,
				ticker: true,
  				speed: 6000

			});

			$(window).scroll(function(){
                var window_top = $(window).scrollTop();

                if(window_top>200) {
		  			$(".nosotros_matchota_ideal .container figure").addClass('active-img')
		  		}else{
		  			$(".nosotros_matchota_ideal .container figure").removeClass('active-img')
		  		}
		  		console.log(window_top)
		  		if (window_top>920) {
		  			$(".bloque_1").addClass('b_1_active')
		  			$(".bloque_2").addClass('b_2_active')
		  			$(".bloque_3").addClass('b_3_active')
		  			$(".bloque_4").addClass('b_4_active')
		  			$(".bloque_5").addClass('b_5_active')
		  			$(".bloque_6").addClass('b_6_active')
		  			$(".bloque_7").addClass('b_7_active')
		  		}else{
					$(".bloque_1").removeClass('b_1_active')
					$(".bloque_2").removeClass('b_2_active')
					$(".bloque_3").removeClass('b_3_active')
					$(".bloque_4").removeClass('b_4_active')
					$(".bloque_5").removeClass('b_5_active')
					$(".bloque_6").removeClass('b_6_active')
					$(".bloque_7").removeClass('b_7_active')
		  		}
            });
	});

</script>
{% endblock js %}
