{% extends "../common/base.html" %}
{% block content %}

<section class="banner_gral">
	<div class="banner" style="background-image: url({{STATIC_URL}}img/interna.png)">
		<div class="banner__title">
			<h2>SIEMPRE <span class="cuv_naran">Informados</span></h2>
		</div>
	</div>
</section>
<section class="noticias-detail">
	<div class="container">
		<div class="title">
			<h2>Noticias</h2>
		</div>
		<div class="content-detail">
			<div class="image">
				<img src="{{STATIC_URL}}img/noticia_1.png" alt="">
			</div>
			<div class="detail">
				<span class="date">31 Octubre 2016</span>
				<h3>Las mascotas fueron la sensación en Halloween :</h3>
				<p>
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
					voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
					sint occaecati cupiditate non provident, similique sunt in culpa qui ocia deserunt
					mollitia animi, id est laborum et dolorum fuga.
				</p>
				<p>
					Et harum quidem rerum facilis est et expedita distinctio.
					Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
					minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
					omnis dolor repellendus.
				</p>
				<p>
					Temporibus autem quibusdam et aut ociis debitis aut rerum necessitatibus
					saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
					Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
					maiores alias consequatur aut perferendis doloribus asperiores repellat.
				</p>

				<div class="cnt-share">
					<div class="share-item share-fb">
						<span class="text">Compartir</span>
						<i class="icon icon-mascotas-10"></i>
					</div>
				

				</div>
			</div>

		</div>
		<div class="view-more">
			<a href="" class="ver_mas_noticias">
				<i class="icon-24"></i> Ver más noticias
			</a>
		</div>
	</div>
</section>
{% endblock content %}
{% block js %}
{% endblock js %}
