{% extends "../common/base.html" %}
{% block content %}

<section class="banner_gral">
	<div class="banner" style="background-image: url({{STATIC_URL}}img/interna.png)">
		<div class="banner__title">
			<h2>Siempre <span class="cuv_naran">Informados</span></h2>
		</div>
	</div>
</section>
<section class="noticias_listado">
	<div class="container container--small">
		<div class="title">

			<h3>
				noticias
			</h3>
		</div>
		<div class="listado_noticias ">
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_large large">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_1.png" alt="" class="img_res" width="430" height="410">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_large large">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_1.png" alt="" class="img_res" width="430" height="410">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>

			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_large large">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_1.png" alt="" class="img_res" width="430" height="410">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_large large">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_1.png" alt="" class="img_res" width="430" height="410">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_small_1.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia listado_noticias__noticia_large large">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_1.png" alt="" class="img_res" width="430" height="410">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
			<a href="" class="listado_noticias__noticia ">
				<figure>
					<img src="{{STATIC_URL}}img/noticia_2.png" alt="" class="img_res" width="228" height="204">
				</figure>
				<div class="descripcion">
					<h3>31 Octubre 2016</h3>
					<h4>Halloween y mascotas: </h4>
					<p>Las mascotas fueron la sensación en Halloween.</p>
				</div>
			</a>
		</div>
	</div>
</section>
{% endblock content %}
{% block js %}
<script src="{{STATIC_URL}}js/banner.js"></script>
<script>
	var mql_n = window.matchMedia("(max-width: 768px)");

		widthChangeNoticia(mql_n)
		mql_n.addListener(widthChangeNoticia);
		function widthChangeNoticia(mq){
			console.log(mq.media)
			if(mq.matches){
				$(".listado_noticias .large").removeClass('listado_noticias__noticia_large')
			}else{
				$(".listado_noticias .large").addClass('listado_noticias__noticia_large')
			}

        }

</script>
{% endblock js %}
