{% extends "../common/base.html" %}
{% block classbody %}page-testimonio{% endblock %}
{% block content %}

<section class="banner_gral">
	<div class="banner" style="background-image: url({{STATIC_URL}}img/interna.png)">
		<div class="banner__title">
			<h2>SIEMPRE <span class="cuv_naran">Informados</span></h2>
		</div>
	</div>
</section>
<section class="cnt-testimonios">
	<div class="container container--medium">
		<div class="title">
			<h2>Testimonios</h2>
		</div>
		<div class="content-testimonios container">
      <div class="slide-testimonios">
          <div class="item-slider-testimonios">
            <div class="detail">
              <h3>Rocky y Margarita</h3>
              <p>
                Rocky es un perro muy tierno y juguetón. Le encanta estar con nosotros y disfruta mucho corriendo y jugando con Horacio. Ellos se
                llevan muy bien y se hacen compañía cuando nosotros no estamos. Rocky se ha adaptado muy bien en estas dos semanas a su nueva
                vida, ya es un miembro más de mi familia y estamos muy felices de que así sea.
              </p>
            </div>
            <div class="image">
              <div class="picture picture-border">
                <div class="inner__picture inner__picture--test">
                  <img src="{{STATIC_URL}}img/img_testimonios.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="item-slider-testimonios">
            <div class="detail">
              <h3>Rocky y Margarita</h3>
              <p>
                Rocky es un perro muy tierno y juguetón. Le encanta estar con nosotros y disfruta mucho corriendo y jugando con Horacio. Ellos se
                llevan muy bien y se hacen compañía cuando nosotros no estamos. Rocky se ha adaptado muy bien en estas dos semanas a su nueva
                vida, ya es un miembro más de mi familia y estamos muy felices de que así sea.
              </p>
            </div>
            <div class="image">
              <div class="picture picture-border">
                <div class="inner__picture inner__picture--test">
                  <img src="{{STATIC_URL}}img/img_testimonios.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="item-slider-testimonios">
            <div class="detail">
              <h3>Rocky y Margarita</h3>
              <p>
                Rocky es un perro muy tierno y juguetón. Le encanta estar con nosotros y disfruta mucho corriendo y jugando con Horacio. Ellos se
                llevan muy bien y se hacen compañía cuando nosotros no estamos. Rocky se ha adaptado muy bien en estas dos semanas a su nueva
                vida, ya es un miembro más de mi familia y estamos muy felices de que así sea.
              </p>
            </div>
            <div class="image">
              <div class="picture picture-border">
                <div class="inner__picture inner__picture--test">
                  <img src="{{STATIC_URL}}img/img_testimonios.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


	</div>
</section>
{% endblock content %}
{% block js %}
  <script src="{{STATIC_URL}}js/banner.js"></script>
	<script>

		$(document).ready(function(){

			$('.slide-testimonios').bxSlider({

				adaptiveHeight: false,
				auto: true,
				pause: '6000',
				pager: false,
				controls: true,

			  nextText: '<i class="icon icon-26"></i>',
				prevText: '<i class="icon icon-25"></i>',

			});


		});

	</script>

{% endblock js %}
