.home_banner {
  position: relative;
  height: 650px;
  text-align: center;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: cente;
}
.home_banner:after {
  content: "";
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  background-image: url("../img/capa_banner.png");
  background-position: center center;
  z-index: 100;
}
.home_banner .cnt_slide_home {
  width: 100%;
}
.home_banner .cnt_slide_home .home_banner__text_static {
  padding: 0;
}
.home_banner .cnt_slide_home .home_banner__text_static .text_adoptar {
  display: flex;
  align-items: flex-end;
}
.home_banner .cnt_slide_home .home_banner__text_static .text_adoptar .bx-wrapper {
  min-width: 210px;
  text-align: left;
/*.bx-viewport
                        height 75px !important*/
}
.home_banner .cnt_slide_home .home_banner__text_static .text_adoptar h2 {
  margin: 0;
  margin-right: 5px;
}
.home_banner .arrow_scroll {
  position: absolute;
  right: 60px;
  bottom: 30px;
  z-index: 195;
  cursor: pointer;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.home_banner .arrow_scroll span {
  background-image: url("../img/flecha_bottom.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 50px;
  display: block;
  animation: key_arrow_scroll 1.5s infinite;
}
.home_banner .arrow_scroll h3 {
  margin-top: 15px;
  font-size: 13px;
  font-family: f_gothan_b;
  color: c_white;
}
.home_banner .juguete {
  position: absolute;
  bottom: -110px;
  right: 200px;
  width: 150px;
  z-index: 200;
  height: 159px;
}
.home_banner .juguete:before {
  content: "";
  background-image: url("../img/juguete_left.png");
  width: 17px;
  height: 28px;
  position: absolute;
  right: 145px;
  bottom: 78px;
}
.home_banner .juguete:after {
  content: "";
  background-image: url("../img/juguete_right.png");
  width: 20px;
  height: 26px;
  position: absolute;
  right: -5px;
  bottom: 30px;
}
.home_banner .home_banner__slider_list .text_slide {
  color: c_narana_ad;
  font-size: 78px;
  font-family: f_kaushan_r;
  display: block;
}
.home_banner .home_banner__slider_list h4 {
  margin: 0;
}
.home_banner .home_banner__slider_list span,
.home_banner .home_banner__slider_list p {
  color: c_narana_ad;
  font-size: 78px;
  font-family: f_kaushan_r;
  display: block;
}
.home_banner .home_banner__slider_list__item {
  text-align: center;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_mascotas {
  padding-top: 38px;
  margin-bottom: 20px;
}
.home_mascotas__list_mascotas {
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 38px;
}
.home_mascotas .home_conoce_mascota__title span.flecha {
  background-image: url("../img/ver_mas_noticias.png");
  width: 50px;
  margin-left: 10px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
  height: 11px;
  display: inline-block;
}
.home_mascotas .home_conoce_mascota__title:hover span.flecha {
  animation: key_arrow_test_mas 1.5s infinite;
}
.home_conoce_mascota {
  margin-top: 60px;
  position: relative;
}
.home_conoce_mascota .testimonio_link {
  position: absolute;
  right: 20%;
  bottom: 20px;
  z-index: 2;
}
.home_conoce_mascota .testimonio_link i {
  font-size: 32px;
  color: c_plomo_os;
}
.home_conoce_mascota .testimonio_link span.text {
  font-size: 25px;
  font-family: f_ventura_m;
  color: c_plomo_os;
}
.home_conoce_mascota .testimonio_link span.flecha {
  background-image: url("../img/ver_mas_noticias.png");
  width: 50px;
  margin-left: 10px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
  height: 11px;
  display: inline-block;
}
.home_conoce_mascota .testimonio_link:hover span.flecha {
  animation: key_arrow_test_mas 1.5s infinite;
}
.home_conoce_mascota .juguete_1 {
  top: 4%;
  position: absolute;
  z-index: 2;
  left: -35px;
}
.home_conoce_mascota .juguete_1:after {
  content: "";
  display: block;
  background-image: url("../img/juguete_after.png");
  width: 14px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 25%;
}
.home_conoce_mascota .juguete_2 {
  bottom: -17%;
  position: absolute;
  z-index: 2;
  left: 200px;
  animation: juguete 1.4s infinite;
}
.home_conoce_mascota__title {
  font-size: 25px;
  font-family: f_ventura_m;
  color: c_plomo_os;
  text-align: center;
}
.home_conoce_mascota__title i {
  margin-right: 10px;
}
.home_conoce_mascota .full_container {
  background-image: url("../img/trama.png");
  background-size: cover;
/**/
  background-color: #e5e5e5;
  padding: 1em 0 4em;
  transform: skew(0deg, 2.5deg);
}
.home_conoce_mascota .full_container .container {
  transform: skew(0deg, -2.5deg);
  min-height: 480px;
  position: relative;
}
.home_conoce_mascota .full_container .container .title_active h3:after,
.home_conoce_mascota .full_container .container .title_active h3:before {
  opacity: 1 !important;
}
.home_conoce_mascota .full_container .container .title {
  width: 100%;
  max-width: 250px;
  text-align: center;
  margin-bottom: 3em;
  margin-left: 2em;
}
.home_conoce_mascota .full_container .container .title h4 {
  display: block;
  font-size: 35px;
  color: c_narana_ad;
  position: relative;
  font-family: f_ventura_m;
  color: c_celeste;
}
.home_conoce_mascota .full_container .container .title h3 {
  display: block;
  font-size: 44px;
  color: #ff4612;
  position: relative;
  font-family: f_ventura_m;
}
.home_conoce_mascota .full_container .container .title h3:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  background-image: url("../img/historia_left.png");
  width: 11px;
  height: 11px;
  opacity: 0;
  transition: 0.4s ease all;
}
.home_conoce_mascota .full_container .container .title h3:before {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  background-image: url("../img/historia_right.png");
  width: 11px;
  height: 11px;
  opacity: 0;
  transition: 0.4s ease all;
}
.home_conoce_mascota .full_container .bloque_picture {
  position: absolute;
}
.home_conoce_mascota .full_container .bloque_picture figure {
  margin: 0;
}
.home_conoce_mascota .full_container .bloque_picture .text {
  color: c_plomo;
  font-size: 75px;
  font-family: f_kaushan_r;
  position: absolute;
  z-index: 2;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_1 {
  position: relative;
  display: inline-block;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_1 .text {
  left: -90px;
  bottom: -70px;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_2 {
  display: inline-block;
  left: 32%;
  top: 2%;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_2 .text {
  left: -68px;
  bottom: -80px;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_3 {
  display: inline-block;
  left: 32%;
  top: 65%;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_3 .text {
  right: -320px;
  top: 20px;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_4 {
  display: inline-block;
  left: 51%;
  top: 20%;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_4 .text {
  top: -105px;
  right: -58px;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_5 {
  display: inline-block;
  right: 3%;
  top: -10%;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_5 a {
  position: relative;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_5 a:before {
  display: block;
  position: absolute;
  content: "";
  bottom: -90px;
  right: -70px;
  background-image: url("../img/flash.png");
  width: 62px;
  height: 62px;
}
.home_conoce_mascota .full_container .bloque_picture.bloque_5 a:after {
  display: block;
  position: absolute;
  content: "";
  bottom: -60px;
  right: -80px;
  background-image: url("../img/circulo.png");
  width: 179px;
  height: 173px;
}
.home_conoce_mascota .full_container .bloque_picture a:hover span:after {
  opacity: 1;
}
.home_conoce_mascota .full_container .bloque_picture a:hover span:before {
  background: rgba(0,0,0,0.5);
}
.home_conoce_mascota .full_container .bloque_picture a {
  position: relative;
}
.home_conoce_mascota .full_container .bloque_picture a span {
  position: relative;
}
.home_conoce_mascota .full_container .bloque_picture a span:after {
  content: "Ver Testimonio";
  position: absolute;
  max-width: 100px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s ease all;
  font-size: 18px;
}
.home_conoce_mascota .full_container .bloque_picture a span:before {
  content: "";
  position: absolute;
  width: 102%;
  height: 99%;
  left: 0;
  transition: 0.3s ease all;
  top: 0;
}
.home_siempre_informados {
  margin-top: 5em;
}
.home_siempre_informados .ver_mas_noticias {
  color: c_plomo_os;
  margin-top: 40px;
  text-align: center;
  display: block;
  font-family: f_ventura_m;
  font-size: 25px;
}
.home_siempre_informados .ver_mas_noticias i {
  margin-right: 10px;
}
.home_siempre_informados .ver_mas_noticias span {
  background-image: url("../img/ver_mas_noticias.png");
  width: 50px;
  margin-left: 10px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
  height: 11px;
  display: inline-block;
}
.home_siempre_informados .ver_mas_noticias:hover span {
  animation: key_arrow_test_mas 1.5s infinite;
}
.home_siempre_informados .home_listado_noticias {
  margin-top: 40px;
}
.home_siempre_informados .title_active h2:after {
  opacity: 1 !important;
}
.home_siempre_informados .title {
  text-align: center;
}
.home_siempre_informados .title h2 {
  display: inline-block;
  font-size: 35px;
  color: c_narana_ad;
  position: relative;
  font-family: f_ventura_m;
}
.home_siempre_informados .title h2 span {
  color: c_celeste;
}
.home_siempre_informados .title h2:after {
  content: "";
  background-image: url("../img/siempre_inf.png");
  width: 33px;
  height: 34px;
  position: absolute;
  top: -35px;
  right: -40px;
  opacity: 0;
  transition: 0.5s ease all;
}
.home_nuestro_aliados {
  margin-top: 60px;
}
.home_nuestro_aliados .bx-wrapper {
  margin: auto;
  position: relative;
}
.home_nuestro_aliados .bx-wrapper .bx-controls .bx-prev {
  position: absolute;
  left: -50px;
  top: 40px;
  width: 35px;
  height: 12px;
  background-image: url("../img/flecha_naranja.png");
  display: block;
}
.home_nuestro_aliados .bx-wrapper .bx-controls .bx-next {
  position: absolute;
  right: -40px;
  top: 40px;
  width: 35px;
  height: 12px;
  background-image: url("../img/flecha_celeste.png");
  display: block;
}
.home_nuestro_aliados .title_colores_animate h2:after,
.home_nuestro_aliados .title_colores_animate h2:before {
  opacity: 1 !important;
}
.home_nuestro_aliados .title_colores {
  margin-bottom: 70px;
}
.home_nuestro_aliados .title_colores h2 {
  position: relative;
}
.home_nuestro_aliados .title_colores h2:after {
  content: "";
  background-image: url("../img/rayas_celeste.png");
  width: 9px;
  height: 10px;
  position: absolute;
  left: -12px;
  top: -7px;
  opacity: 0;
  transition: 0.3s ease all;
}
.home_nuestro_aliados .title_colores h2:before {
  content: "";
  background-image: url("../img/rayas_naranja.png");
  width: 9px;
  height: 10px;
  position: absolute;
  right: -12px;
  bottom: -7px;
  opacity: 0;
  transition: 0.3s ease all;
}
.listado_aliados__item img {
  filter: grayscale(100%);
  margin: auto;
  display: block;
  transition: 0.3s ease all;
}
.listado_aliados__item:hover img {
  filter: grayscale(0%);
}
@media screen and (max-width: 1800px) {
  .home_conoce_mascota .full_container .bloque_picture.bloque_1 .text {
    left: -20px;
  }
  .home_conoce_mascota .full_container .container .title {
    margin-left: 4em;
  }
}
@media screen and (max-width: 1700px) {
  .home_conoce_mascota .juguete_1 {
    display: none;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_1 a span {
    width: 220px;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_2 a span {
    width: 150px;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_3 a span {
    width: 190px;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_4 a span {
    width: 250px;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_5 {
    right: 5px;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_5 a:after,
  .home_conoce_mascota .full_container .bloque_picture.bloque_5 a:before {
    display: none;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_5 a span {
    width: 220px;
  }
}
@media screen and (max-width: 1500px) {
  .home_banner {
    height: 500px;
  }
  .home_banner .juguete {
    right: 120px;
  }
  .home_conoce_mascota .full_container .bloque_picture .text {
    font-size: 60px;
  }
  .home_siempre_informados .container--r-large {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1300px) {
  .home_nuestro_aliados .bx-wrapper {
    max-width: 860px !important;
  }
}
@media screen and (max-width: 1200px) {
  .home_conoce_mascota .juguete_2 {
    display: none;
  }
  .home_conoce_mascota .full_container .container .title {
    margin: auto;
  }
  .home_conoce_mascota .full_container .container .cnt-bloque {
    position: relative;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_1 a span {
    width: 200px;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_2 a span {
    width: 130px;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_3 {
    top: 95%;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_4 {
    left: 50%;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_4 a span {
    width: 220px;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_5 {
    right: 0px;
    top: 20%;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_5 a span {
    width: 180px;
  }
  .home_conoce_mascota .full_container .bloque_picture.bloque_5 a:after,
  .home_conoce_mascota .full_container .bloque_picture.bloque_5 a:before {
    display: none;
  }
  .home_banner .juguete {
    bottom: -115px;
    width: 120px;
  }
  .home_banner .juguete:before {
    bottom: 85px;
    right: 115px;
  }
  .home_banner .juguete:after {
    bottom: 45px;
  }
}
@media screen and (max-width: 1100px) {
  .home_nuestro_aliados .bx-wrapper {
    max-width: 540px !important;
  }
  .home_nuestro_aliados .bx-wrapper figure {
    width: 170px !important;
  }
  .home_nuestro_aliados .bx-wrapper figure img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .home_conoce_mascota .full_container .container .cnt-bloque {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .home_conoce_mascota .full_container .bloque_picture {
    width: 30%;
    margin: 10px;
    position: initial;
  }
  .home_conoce_mascota .full_container .bloque_picture a span {
    width: 100% !important;
  }
  .home_conoce_mascota .full_container .bloque_picture .text {
    display: none;
  }
  .home_banner {
    height: 400px;
  }
  .home_banner .juguete {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .home_conoce_mascota .full_container .bloque_picture.bloque_1,
  .home_conoce_mascota .full_container .bloque_picture.bloque_5 {
    display: none;
  }
  .home_conoce_mascota .testimonio_link {
    width: 100%;
    right: 0;
    text-align: center;
  }
  .home_conoce_mascota .testimonio_link span.text {
    font-size: 20px;
  }
  .home_conoce_mascota .full_container .container .title h4 {
    font-size: 28px;
  }
  .home_conoce_mascota .full_container .container .title h3 {
    font-size: 38px;
  }
  .home_siempre_informados .title h2 {
    font-size: 30px;
  }
  .home_siempre_informados .title h2:after {
    display: none;
  }
  .home_banner .arrow_scroll {
    left: 0;
    right: 0;
    display: block;
    text-align: center;
  }
  .home_nuestro_aliados .bx-wrapper {
    max-width: 360px !important;
  }
  .home_conoce_mascota .full_container .container .cnt-bloque {
    justify-content: center;
  }
  .home_conoce_mascota .full_container .bloque_picture {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .home_conoce_mascota .full_container .bloque_picture.bloque_4,
  .home_conoce_mascota .full_container .bloque_picture.bloque_5,
  .home_conoce_mascota .full_container .bloque_picture.bloque_3 {
    display: none;
  }
  .home_conoce_mascota .full_container .bloque_picture {
    width: 65%;
  }
  .home_conoce_mascota .full_container .bloque_picture a {
    width: 100%;
  }
  .home_banner {
    height: 360px;
  }
  .home_nuestro_aliados .bx-wrapper {
    max-width: 180px !important;
  }
  .home_banner .cnt_slide_home .home_banner__text_static .text_adoptar .bx-wrapper {
    min-width: 100px;
  }
  .home_conoce_mascota .full_container .container {
    min-height: inherit;
  }
}

/*# sourceMappingURL=home.css.map */
