.nosotros_matchota_ideal .container {
  display: flex;
  justify-content: center;
}
.nosotros_matchota_ideal .container figure.active-img {
  bottom: 0px !important;
}
.nosotros_matchota_ideal .container figure {
  position: relative;
  left: 0;
  bottom: -360px;
  transition: 1s ease all;
  z-index: 20;
  width: 357px;
  margin: 0;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nosotros_matchota_ideal .container figure img {
  display: block;
  margin: 0;
}
.nosotros_matchota_ideal .container .cnt-descripcion {
  margin-left: 90px;
  max-width: 520px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nosotros_matchota_ideal .container .cnt-descripcion h2 {
  max-width: 195px;
  position: relative;
  font-size: 28px;
  font-family: f_ventura_m;
  color: c_amarillo;
  padding-left: 27px;
  padding-right: 27px;
  display: inline-block;
}
.nosotros_matchota_ideal .container .cnt-descripcion h2:after {
  content: "";
  position: absolute;
  right: 0;
  top: -5px;
  background-image: url("../img/nosotros_tright.png");
  width: 20px;
  height: 37px;
  z-index: 20;
}
.nosotros_matchota_ideal .container .cnt-descripcion h2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  background-image: url("../img/nosotros_efec.png");
  width: 21px;
  height: 36px;
  z-index: 20;
}
.nosotros_matchota_ideal .container .cnt-descripcion .descripcion {
  margin-top: 45px;
  font-size: 21px;
  font-family: f_gothan_l;
  color: c_plomo_os;
}
.nosotros_comillas {
  position: relative;
  z-index: 30;
  background: c_amarillo;
}
.nosotros_comillas .descripcion {
  position: relative;
  padding: 50px 120px;
  text-align: center;
  color: c_white;
  font-size: 15px;
  font-family: f_gothan_l;
}
.nosotros_comillas .descripcion:before {
  content: "";
  background-image: url("../img/comillas_left.png");
  width: 89px;
  height: 69px;
  position: absolute;
  left: 0;
  top: 0;
}
.nosotros_comillas .descripcion:after {
  content: "";
  background-image: url("../img/comillas_right.png");
  width: 89px;
  height: 69px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.cnt-mision-vision {
  position: relative;
  z-index: 30;
}
.cnt-mision-vision .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cnt-mision-vision .container figure {
  width: 34%;
  margin: 0;
  position: relative;
}
.cnt-mision-vision .container figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.cnt-mision-vision .container figure img {
  height: 100%;
}
.cnt-mision-vision .container .mision_vision {
  width: 33%;
  background: c_celeste;
  border-left: 1px solid c_white;
  padding: 50px 0px;
}
.cnt-mision-vision .container .mision_vision h2 {
  color: c_white;
  text-align: center;
  margin-bottom: 35px;
  font-size: 20px;
  font-family: f_gothan_m;
}
.cnt-mision-vision .container .mision_vision .descripcion {
  max-width: 340px;
  color: c_white;
  margin: auto;
  font-size: 14px;
  font-family: f_gothan_l;
  text-align: center;
}
.cnt-mision-vision .container .mision_vision .icon-mision {
  text-align: center;
  margin-bottom: 40px;
  font-size: 80px;
  color: #fff;
}
.nosotros_linea_tiempo {
  padding-top: 50px;
  padding-bottom: 120px;
  background-image: url("../img/fondo_cuadricula.png");
}
.nosotros_linea_tiempo .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nosotros_linea_tiempo .container h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: c_celeste;
  font-family: f_ventura_m;
  font-size: 30px;
}
.nosotros_linea_tiempo .container h2 span {
  margin: 0;
  margin-left: 10px;
  margin-top: -8px;
  font-size: 50px;
  color: c_narana_ad;
  font-family: f_ventura_m;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo {
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 {
  padding-right: 110px;
  position: relative;
  opacity: 0;
  transition: 0.3s ease all;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1:after {
  content: "";
  width: 106px;
  height: 51px;
  background-image: url("../img/nos_ani_2.png");
  position: absolute;
  right: 30px;
  top: 0;
  opacity: 0;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 figure {
  margin-bottom: 7px;
  text-align: center;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 h3 {
  text-align: center;
  color: c_nosotros;
  font-size: 24px;
  font-family: f_ventura_m;
  width: 200px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 h3 span {
  color: c_celeste;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .b_1_active {
  opacity: 1;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .b_1_active:after {
  opacity: 1;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 {
  margin-left: 10px;
  padding-right: 20px;
  opacity: 0;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 figure {
  margin-top: 20px;
  position: relative;
  margin-left: 10px;
  padding-right: 20px;
  opacity: 0;
  transition: 0.8s ease all;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 figure:after {
  content: "";
  position: absolute;
  right: -30px;
  top: 0;
  background-image: url("../img/nos_ani_5.png");
  width: 80px;
  height: 85px;
  transition: 0.3s ease all;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 .descripcion {
  padding-right: 120px;
  position: relative;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 .descripcion:after {
  content: "";
  position: absolute;
  left: 80px;
  top: 0;
  width: 106px;
  height: 64px;
  background-image: url("../img/nos_ani_3.png");
  transition: 0.8s ease all;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 .descripcion ul li {
  margin-bottom: 9px;
  font-size: 13px;
  font-family: f_gothan_l;
  color: c_nosotros;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .b_2_active {
  opacity: 1;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .b_2_active figure {
  opacity: 1;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_3 {
  margin-left: 15px;
  opacity: 0;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_3 h3 {
  background-image: url("../img/nos_ani_fondo.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 15px 0px;
  color: c_white;
  font-size: 44px;
  font-family: f_kaushan_r;
  text-shadow: 2px 0 0 c_nosotros, -2px 0 0 c_nosotros, 0 2px 0 c_nosotros, 0 -2px 0 c_nosotros, 1px 1px c_nosotros, -1px -1px 0 c_nosotros, 1px -1px 0 c_nosotros, -1px 1px 0 c_nosotros;
  position: relative;
  transition: 0.5s ease all;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_3 h3:after {
  content: "";
  background-image: url("../img/nos_ani_7.png");
  width: 112px;
  height: 57px;
  position: absolute;
  bottom: -80px;
  right: -50px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .b_3_active {
  opacity: 1;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4 {
  margin-left: 60px;
  position: relative;
  width: 110px;
  opacity: 0;
  transition: 1s ease all;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4:after {
  content: "";
  position: absolute;
  top: -40px;
  right: -80px;
  background-image: url("../img/nos_ani_7_3.png");
  width: 113px;
  height: 32px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4 figure {
  margin-bottom: 15px;
  text-align: center;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4 h3 {
  color: c_nosotros;
  font-size: 24px;
  font-family: f_ventura_m;
  margin: 0px;
  width: 110px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .b_4_active {
  opacity: 1;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 {
  margin-left: 80px;
  opacity: 0;
  transition: 0.8s ease all;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 figure {
  text-align: center;
  margin-top: 10px;
  position: relative;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 figure:after {
  content: "";
  position: absolute;
  bottom: -65px;
  right: -45px;
  background-image: url("../img/nos_ani_8_2.png");
  width: 104px;
  height: 34px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 h3 {
  color: c_nosotros;
  font-size: 24px;
  font-family: f_ventura_m;
  margin: 0;
  width: 120px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .b_5_active {
  opacity: 1;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6 {
  margin-left: 50px;
  position: relative;
  opacity: 0;
  transition: 0.8s ease all;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6:after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: -90px;
  background-image: url("../img/nos_ani_11.png");
  width: 69px;
  height: 131px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6 figure {
  text-align: center;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6 h3 {
  text-align: center;
  color: c_nosotros;
  font-family: f_ventura_m;
  font-size: 30px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .b_6_active {
  opacity: 1;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7 {
  opacity: 0;
  transition: 0.8s ease all;
  margin-left: 100px;
  position: relative;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7:after {
  content: "";
  background-image: url("../img/corazon.png");
  width: 73px;
  height: 70px;
  position: absolute;
  left: 63px;
  top: -30px;
  animation: key_scale 1.5s infinite;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7 h3:last-child {
  right: 0;
  bottom: -40px;
  top: inherit;
  left: inherit;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7 h3 {
  position: absolute;
  left: -10px;
  top: -70px;
  margin: 0;
  color: c_nosotros;
  font-family: f_ventura_m;
  font-size: 38px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .b_7_active {
  opacity: 1;
}
.nosotros_formulario {
  background: linear-gradient(to right, #fff, #ebe7e2, #ebe7e2, #ebe7e2);
}
.nosotros_formulario .cnt-image figure {
  transform: skewX(7.5deg);
}
.nosotros_formulario .btn--nosotros {
  text-align: center;
  margin: auto;
  min-width: 200px;
  display: block;
}
.nosotros_socios_estrategicos {
  margin-top: 35px;
}
.nosotros_socios_estrategicos .container .title_colores_animate h2:after,
.nosotros_socios_estrategicos .container .title_colores_animate h2:before {
  opacity: 1 !important;
}
.nosotros_socios_estrategicos .container .title_colores {
  margin-bottom: 70px;
}
.nosotros_socios_estrategicos .container .title_colores h2 {
  position: relative;
}
.nosotros_socios_estrategicos .container .title_colores h2:after {
  content: "";
  background-image: url("../img/rayas_celeste.png");
  width: 9px;
  height: 10px;
  position: absolute;
  left: -12px;
  top: -7px;
  opacity: 0;
  transition: 0.3s ease all;
}
.nosotros_socios_estrategicos .container .title_colores h2:before {
  content: "";
  background-image: url("../img/rayas_naranja.png");
  width: 9px;
  height: 10px;
  position: absolute;
  right: -12px;
  bottom: -7px;
  opacity: 0;
  transition: 0.3s ease all;
}
.nosotros_socios_estrategicos .container .bx-wrapper {
  margin: auto;
  margin-top: 50px;
  position: relative;
}
.nosotros_socios_estrategicos .container .bx-wrapper figure {
  width: 135px !important;
}
.nosotros_socios_estrategicos .container .bx-wrapper .bx-controls .bx-prev {
  position: absolute;
  left: -50px;
  top: 40px;
  width: 35px;
  height: 12px;
  background-image: url("../img/flecha_naranja.png");
  display: block;
}
.nosotros_socios_estrategicos .container .bx-wrapper .bx-controls .bx-next {
  position: absolute;
  right: -40px;
  top: 40px;
  width: 35px;
  height: 12px;
  background-image: url("../img/flecha_celeste.png");
  display: block;
}
@media screen and (max-width: 1800px) {
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 {
    padding-right: 80px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1:after {
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 h3 {
    font-size: 20px;
    width: inherit;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 figure {
    margin: auto;
    width: 160px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 {
    padding-right: 10px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 figure:after {
    right: -15px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 .descripcion:after {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 .descripcion ul li {
    margin-bottom: 3px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .b_2_active .descripcion:after {
    width: 90px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_3 {
    margin: 0;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4:after {
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -35px;
    right: -60px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4 figure {
    width: 60px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4 figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4 h3 {
    font-size: 20px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 {
    margin-left: 40px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 figure:after {
    right: -50px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6 {
    margin-left: 30px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6 figure {
    width: 105px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6 figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7:after {
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
    top: -30px;
    left: 63px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7 h3:last-child {
    bottom: -25px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7 figure {
    width: 180px;
  }
  .nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7 figure img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1500px) {
  .nosotros_linea_tiempo .container .cnt_linea_tiempo {
    justify-content: flex-start;
    overflow-x: scroll;
    width: 100%;
  }
}
/*@media screen and (max-width 1300px)
    .nosotros_linea_tiempo .container .cnt_linea_tiempo
        max-width 750px
        margin auto
        margin-top 60px
        flex-wrap wrap
        .bloque_4:after
            display none
        .bloque_5, .bloque_6, .bloque_7
            margin-top 40px*/
@media screen and (max-width: 1200px) {
  .nosotros_formulario {
    background: c_formulario;
  }
  .cnt-mision-vision .container figure {
    display: none;
  }
  .cnt-mision-vision .container .mision_vision .descripcion {
    padding: 0px 10px;
    max-width: 100%;
  }
  .cnt-mision-vision .container .mision_vision {
    width: 50%;
  }
  .nosotros_formulario .btn--nosotros {
    font-size: 18px;
    min-width: 150px;
  }
  .nosotros_matchota_ideal .container .cnt-descripcion .descripcion {
    font-size: 18px;
  }
  .nosotros_socios_estrategicos .container .bx-wrapper {
    max-width: 660px !important;
  }
  .nosotros_socios_estrategicos .container .bx-wrapper {
    max-width: 660px !important;
  }
}
@media screen and (max-width: 960px) {
  .nosotros_matchota_ideal .container .cnt-descripcion .descripcion {
    margin-top: 20px;
  }
  .nosotros_socios_estrategicos .container .title_colores {
    margin-bottom: 50px;
  }
  .nosotros_socios_estrategicos .container .bx-wrapper {
    max-width: 495px !important;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nosotros_linea_tiempo {
    max-width: 490px;
/*.container .cnt_linea_tiempo
            .bloque_2 figure:after
                display none
            .bloque_3
                margin-top 30px
            .bloque_5 figure:after
                display none
            .container
                h2
                    font-size 26px
                    span
                        font-size 30px
        .cnt_linea_tiempo .bloque_3
            margin-top 30px*/
  }
  .nosotros_socios_estrategicos .container .bx-wrapper {
    max-width: 330px !important;
  }
  .nosotros_matchota_ideal .container {
    text-align: center;
  }
  .nosotros_matchota_ideal .container .cnt-descripcion {
    margin-left: 0;
    margin-top: 30px;
  }
  .nosotros_matchota_ideal .container .cnt-descripcion .descripcion {
    padding: 0 10px;
    text-align: left;
  }
  .nosotros_comillas .descripcion {
    padding: 30px 20px;
  }
  .nosotros_comillas .descripcion:after,
  .nosotros_comillas .descripcion:before {
    display: none;
  }
  .nosotros_matchota_ideal .container figure {
    display: none;
  }
  .cnt-mision-vision .container {
    flex-wrap: wrap;
  }
  .cnt-mision-vision .container .mision_vision {
    border-bottom: 1px solid c_white;
    border-left: none;
    width: 100%;
    padding: 20px 0px;
  }
  .cnt-mision-vision .container .mision_vision .descripcion {
    padding: 0px 20px;
  }
  .cnt-mision-vision .container .mision_vision .icon-mision {
    margin-bottom: 20px;
  }
  .cnt-mision-vision .container .mision_vision h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .nosotros_linea_tiempo {
    padding-bottom: 50px;
/*  .cnt_linea_tiempo
                flex-direction column

                .bloque_1
                    margin-bottom 20px
                    padding 0
                    &:after
                        display none
                .bloque_2
                    margin 0
                    margin-bottom 20px
                    figure

                        margin auto
                        margin-top 20px
                        padding 0
                .bloque_3
                    margin 0
                    margin-bottom 20px
                    h3
                        margin 0
                        text-align center
                .bloque_4
                    margin auto
                    margin-bottom 20px
                    figure:after
                        display none

                .bloque_5
                    margin auto
                    margin-bottom 20px
                    text-align center
                .bloque_6
                    margin auto
                    margin-bottom 20px
                    text-align center
                .bloque_7
                    margin auto
                    margin-top 30px
                    margin-bottom 20px*/
  }
  .nosotros_linea_tiempo .container h2 {
    font-size: 22px;
  }
  .nosotros_linea_tiempo .container h2 span {
    font-size: 22px;
    margin: 0;
    margin-left: 5px;
  }
  .nosotros_linea_tiempo {
    max-width: 490px;
  }
  .nosotros_socios_estrategicos .container .bx-wrapper {
    max-width: 165px !important;
  }
}

/*# sourceMappingURL=nosotros.css.map */
