.nosotros_matchota_ideal {
  margin-top: 50px;
}
.nosotros_matchota_ideal .container {
  display: flex;
  justify-content: center;
}
.nosotros_matchota_ideal .container figure {
  width: 357px;
  margin: 0;
  margin-right: 90px;
}
.nosotros_matchota_ideal .container .cnt-descripcion {
  max-width: 520px;
  margin-top: 60px;
}
.nosotros_matchota_ideal .container .cnt-descripcion h2 {
  position: relative;
  font-size: 28px;
  font-family: f_ventura_m;
  color: c_amarillo;
  padding-left: 27px;
  padding-right: 27px;
  display: inline-block;
}
.nosotros_matchota_ideal .container .cnt-descripcion h2:after {
  content: "";
  position: absolute;
  right: 0;
  top: -5px;
  background-image: url("../img/nosotros_tright.png");
  width: 20px;
  height: 37px;
  z-index: 20;
}
.nosotros_matchota_ideal .container .cnt-descripcion h2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  background-image: url("../img/nosotros_efec.png");
  width: 21px;
  height: 36px;
  z-index: 20;
}
.nosotros_matchota_ideal .container .cnt-descripcion .descripcion {
  margin-top: 45px;
  font-size: 21px;
  font-family: f_gothan_l;
  color: c_plomo_os;
}
.nosotros_comillas {
  background: c_amarillo;
}
.nosotros_comillas .descripcion {
  position: relative;
  padding: 50px 120px;
  text-align: center;
  color: c_white;
  font-size: 15px;
  font-family: f_gothan_l;
}
.nosotros_comillas .descripcion:before {
  content: "";
  background-image: url("../img/comillas_left.png");
  width: 89px;
  height: 69px;
  position: absolute;
  left: 0;
  top: 0;
}
.nosotros_comillas .descripcion:after {
  content: "";
  background-image: url("../img/comillas_right.png");
  width: 89px;
  height: 69px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.cnt-mision-vision .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cnt-mision-vision .container figure {
  width: 34%;
  margin: 0;
  position: relative;
}
.cnt-mision-vision .container figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.cnt-mision-vision .container figure img {
  height: 100%;
}
.cnt-mision-vision .container .mision_vision {
  width: 33%;
  background: c_celeste;
  border-left: 1px solid c_white;
  padding: 50px 0px;
}
.cnt-mision-vision .container .mision_vision h2 {
  color: c_white;
  text-align: center;
  margin-bottom: 35px;
  font-size: 20px;
  font-family: f_gothan_m;
}
.cnt-mision-vision .container .mision_vision .descripcion {
  max-width: 340px;
  color: c_white;
  margin: auto;
  font-size: 14px;
  font-family: f_gothan_l;
  text-align: center;
}
.cnt-mision-vision .container .mision_vision .icon-mision {
  text-align: center;
  margin-bottom: 40px;
  font-size: 80px;
  color: #fff;
}
.nosotros_linea_tiempo {
  padding-top: 50px;
}
.nosotros_linea_tiempo .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nosotros_linea_tiempo .container h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: c_celeste;
  font-family: f_ventura_m;
  font-size: 30px;
}
.nosotros_linea_tiempo .container h2 span {
  margin: 0;
  margin-left: 10px;
  margin-top: -8px;
  font-size: 50px;
  color: c_narana_ad;
  font-family: f_ventura_m;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo {
  margin-top: 80px;
  display: flex;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 {
  padding-right: 110px;
  position: relative;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1:after {
  content: "";
  width: 106px;
  height: 51px;
  background-image: url("../img/nos_ani_2.png");
  position: absolute;
  right: 0;
  top: 0;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 figure {
  margin-bottom: 7px;
  text-align: center;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 h3 {
  text-align: center;
  color: c_nosotros;
  font-size: 24px;
  font-family: f_ventura_m;
  width: 200px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_1 h3 span {
  color: c_celeste;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 {
  margin-left: 15px;
  padding-right: 20px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 figure {
  margin-top: 10px;
  position: relative;
  margin-left: 10px;
  padding-right: 20px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 figure:after {
  content: "";
  position: absolute;
  right: -30px;
  top: 0;
  background-image: url("../img/nos_ani_5.png");
  width: 80px;
  height: 85px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 .descripcion {
  padding-right: 120px;
  position: relative;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 .descripcion:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 106px;
  height: 64px;
  background-image: url("../img/nos_ani_3.png");
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_2 .descripcion ul li {
  margin-bottom: 9px;
  font-size: 13px;
  font-family: f_gothan_l;
  color: c_nosotros;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_3 {
  margin-left: 15px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_3 h3 {
  background-image: url("../img/nos_ani_fondo.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 15px 0px;
  color: c_white;
  font-size: 44px;
  font-family: f_kaushan_r;
  text-shadow: 2px 0 0 c_nosotros, -2px 0 0 c_nosotros, 0 2px 0 c_nosotros, 0 -2px 0 c_nosotros, 1px 1px c_nosotros, -1px -1px 0 c_nosotros, 1px -1px 0 c_nosotros, -1px 1px 0 c_nosotros;
  position: relative;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_3 h3:after {
  content: "";
  background-image: url("../img/nos_ani_7.png");
  width: 112px;
  height: 57px;
  position: absolute;
  bottom: -40px;
  right: -50px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4 {
  margin-left: 60px;
  position: relative;
  width: 110px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4:after {
  content: "";
  position: absolute;
  top: -40px;
  right: -100px;
  background-image: url("../img/nos_ani_7_3.png");
  width: 113px;
  height: 32px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4 figure {
  text-align: center;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_4 h3 {
  color: c_nosotros;
  font-size: 24px;
  font-family: f_ventura_m;
  margin: 0px;
  width: 110px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 {
  margin-left: 80px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 figure {
  text-align: center;
  margin-top: 10px;
  position: relative;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 figure:after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -60px;
  background-image: url("../img/nos_ani_8_2.png");
  width: 104px;
  height: 34px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_5 h3 {
  color: c_nosotros;
  font-size: 24px;
  font-family: f_ventura_m;
  margin: 0;
  width: 120px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6 {
  margin-left: 50px;
  position: relative;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6:after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: -90px;
  background-image: url("../img/nos_ani_11.png");
  width: 69px;
  height: 131px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6 figure {
  text-align: center;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_6 h3 {
  text-align: center;
  color: c_nosotros;
  font-family: f_ventura_m;
  font-size: 30px;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7 {
  margin-left: 100px;
  position: relative;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7 h3:last-child {
  margin-left: 50px;
  bottom: -40px;
  top: inherit;
}
.nosotros_linea_tiempo .container .cnt_linea_tiempo .bloque_7 h3 {
  position: absolute;
  left: 0;
  top: -40px;
  margin: 0;
  color: c_nosotros;
  font-family: f_ventura_m;
  font-size: 38px;
}
.nosotros_formulario {
  margin-top: 80px;
}
.nosotros_formulario .btn--nosotros {
  text-align: center;
  margin: auto;
  min-width: 200px;
  display: block;
}
@media screen and (max-width: 1200px) {
  .nosotros_formulario .btn--nosotros {
    font-size: 18px;
    min-width: 150px;
  }
}
