.noticias-detail {
  padding: 2.5em 0;
  height: auto;
  overflow: hidden;
}
.noticias-detail .title {
  text-align: center;
  margin-bottom: 2.5em;
  padding: 2em 0 0;
}
.noticias-detail .title h2 {
  display: inline-block;
  font-size: 35px;
  color: c_narana_ad;
  position: relative;
  font-family: f_ventura_m;
  color: c_celeste;
}
.noticias-detail .title h2:after {
  content: "";
  background-image: url("../img/nosotros_inf.png");
  width: 33px;
  height: 34px;
  position: absolute;
  top: -35px;
  right: -40px;
}
.noticias-detail .content-detail .image {
  width: 50%;
  float: left;
  padding: 0 5% 0 0;
  box-sizing: border-box;
}
.noticias-detail .content-detail .image img {
  float: right;
}
.noticias-detail .content-detail .detail {
  width: 50%;
  float: right;
  box-sizing: border-box;
}
.noticias-detail .content-detail .detail .date {
  color: c_plomo_os;
  font-size: 25px;
  font-family: f_ventura_m;
  display: block;
  margin-bottom: 1em;
}
.noticias-detail .content-detail .detail h3 {
  color: c_celeste;
  font-size: 30px;
  font-family: f_ventura_m;
  margin-bottom: 1em;
}
.noticias-detail .view-more {
  clear: both;
  padding: 1.5em 0 1.5em;
}
.noticias-detail .view-more .ver_mas_noticias {
  color: c_plomo_os;
  margin-top: 40px;
  margin-left: 15%;
  text-align: left;
  display: block;
  font-family: f_ventura_m;
  font-size: 25px;
}
.noticias-detail .view-more .ver_mas_noticias i {
  margin-right: 10px;
}
.noticias-detail .view-more .ver_mas_noticias .arrow {
  width: 36px;
  height: 12px;
  display: inline-block;
  position: relative;
  top: -3px;
}
.noticias-detail .view-more .ver_mas_noticias .arrow.left {
  background-image: url("../img/flecha_ploma_left.png");
  margin-right: 2em;
}
.cnt-share {
  text-align: center;
  padding-top: 1em;
}
.cnt-share .share-item {
  border: 1px solid c_celeste;
  border-radius: 10px;
  color: c_celeste;
  display: inline-block;
  padding: 0.5em 1.5em;
}
.cnt-share .share-item span.text {
  float: left;
  margin-top: 0.65em;
  font-weight: 500;
  font-family: f_gothan_m;
}
.cnt-share .share-item i.icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  margin-left: 1em;
}
.cnt-share .share-item.share-fb i.icon {
  background: c_azul;
  color: #fff;
}
