.page-adopta .footer_top {
  margin-top: -70px;
  position: relative;
}
.matchcota_formulario .cnt-image figure {
  margin-top: 25px;
}
.matchcota-detalle {
  margin-top: 50px;
  margin-bottom: 40px;
}
.matchcota-detalle .container {
  display: flex;
  justify-content: center;
}
.matchcota-detalle .container .preview-img {
  width: calc(45% - 100px);
  margin: 0;
  margin-right: 100px;
}
.matchcota-detalle .container .preview-img .conoce_mascota__title {
  font-size: 25px;
  display: block;
  font-family: f_ventura_m;
  color: c_plomo_os;
  text-align: left;
  margin-bottom: 1.5em;
}
.matchcota-detalle .container .preview-img .conoce_mascota__title i {
  margin-right: 10px;
}
.matchcota-detalle .container .preview-img .conoce_mascota__title span.flecha {
  animation: key_arrow_test_mas 1.5s infinite;
  background-image: url("../img/flecha_ploma_left.png");
  width: 60px;
  margin-left: 10px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
  height: 11px;
  display: inline-block;
}
.matchcota-detalle .container .preview-img .main-img {
  padding-top: 20px;
  max-width: 100%;
  box-shadow: 0 0 1px 1px #ddd, inset 0 0 1px 3px #ddd;
  text-align: center;
}
.matchcota-detalle .container .preview-img .main-img img {
  display: block;
  max-width: 100%;
  padding-bottom: 2px;
}
.matchcota-detalle .container .preview-img ul.list-thumbnails {
  max-width: 100%;
  text-align: center;
  font-size: 0;
}
.matchcota-detalle .container .preview-img ul.list-thumbnails li {
  margin: 0px 4px;
  width: 20%;
  max-width: 140px;
  display: inline-block;
}
.matchcota-detalle .container .preview-img ul.list-thumbnails li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.matchcota-detalle .container .preview-img ul.list-thumbnails li a img {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.matchcota-detalle .container .cnt-descripcion {
  width: 55%;
  margin-top: 0;
}
.matchcota-detalle .container .cnt-descripcion .title-main {
  margin-bottom: 2em;
  overflow: hidden;
}
.matchcota-detalle .container .cnt-descripcion .title-main h1 {
  display: inline-block;
  text-align: left;
  font-family: f_kaushan_r;
  color: c_celeste;
  font-size: 50px;
}
.matchcota-detalle .container .cnt-descripcion .title-main .cnt-share {
  display: inline-block;
  float: right;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li.active .title .icon-arrow {
  transform: rotate(90deg);
}
.matchcota-detalle .container .cnt-descripcion .acordeon li.active .text-content {
  display: block;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li {
  margin: 0 0 15px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title {
  margin: 0;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title i {
  margin-right: 10px;
  display: inline-block;
  font-size: 32px;
  text-align: center;
  width: 38px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title .text {
  min-width: 240px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin: 0;
  margin-left: 8px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title a {
  background: #00b3e3;
  padding: 12px 15px 12px 25px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title .icon-arrow {
  transition: 0.3s ease all;
  font-size: 16px;
  border-radius: 50%;
  padding: 7px 2px;
  width: 26px;
  border: 2px solid c_white;
  font-weight: bold;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content {
  display: none;
  border: 1px solid #ddd;
  border-top: none;
  height: auto;
  overflow: hidden;
  padding: 15px 15px 15px 30px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud h3 {
  margin: 0;
  margin-right: 10px;
  font-size: 16px;
  font-family: f_gothan_l;
  max-width: 97px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud__alergias {
  margin: 0px 7px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud__alergias i.icon-active {
  color: c_celeste;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud__alergias i {
  margin: 5px;
  font-size: 32px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__tamanio .icon-tamanio--small {
  font-size: 24px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__tamanio .icon-tamanio--medium {
  font-size: 28px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__tamanio .icon-tamanio--large {
  font-size: 32px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block {
  display: flex;
  margin: 5px 0;
  align-items: flex-end;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block i.icon-active {
  color: c_celeste;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block i {
  font-size: 28px;
  margin: 0px 3px;
  color: c_plomo_os;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block h3 {
  margin: 0;
  margin-right: 10px;
  font-size: 20px;
  font-family: f_roboto_l;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract h2 {
  color: c_plomo_os;
  margin: 10px 0px;
  font-size: 21px;
  font-family: f_gothan_m;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract {
  display: flex;
  justify-content: space-between;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract__hogar {
  margin-right: 30px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract p {
  font-family: f_roboto_l;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract h3 {
  font-size: 20px;
  color: c_plomo_os;
  font-family: f_gothan_b;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract h3 i {
  margin-right: 5px;
  font-size: 32px;
  color: c_celeste;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento ul li {
  margin: 5px 0;
  color: c_plomo_os;
  display: block;
  height: auto;
  min-height: 20px;
  overflow: hidden;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .text {
  font-size: 20px;
  float: left;
  font-family: f_roboto_l;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .cnt-bar {
  margin: 6px 0 0 160px;
  display: block;
  position: relative;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .cnt-bar:after {
  border-top: 1px solid c_plomo;
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  content: "";
  z-index: 1;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .cnt-bar .bar {
  transition: 0.5s ease all;
  height: 14px;
  display: inline-block;
  background: c_celeste;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .num {
  font-size: 10px;
  padding: 0 0 0 160px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .num .num-first {
  float: left;
  padding: 0 3px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .num .num-last {
  float: right;
  padding: 0 3px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content p {
  font-size: 16px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li.active .text-content {
  height: auto !important;
}
.matchcota-detalle .container .cnt-descripcion .btn-aceptar {
  font-size: 24px;
  font-family: f_ventura_m;
  background: c_narana_ad;
  color: c_white;
  text-align: center;
  padding: 6px 30px;
  width: 110px;
  margin: auto;
  display: block;
  margin-top: 30px;
}
@media screen and (max-width: 1500px) {
  .matchcota-detalle .container .preview-img {
    width: calc(45% - 60px);
  }
  .matchcota-detalle .container .preview-img .main-img {
    max-height: 500px;
  }
  .matchcota-detalle .container .preview-img .main-img img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .nosotros_formulario {
    padding: 25px 0px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .cnt-bar {
    margin: 2px 0 0 130px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .text {
    font-size: 17px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .num {
    padding: 0 0 0 130px;
  }
  .matchcota-detalle {
    margin-top: 0;
  }
  .matchcota-detalle .container {
    flex-direction: column;
  }
  .matchcota-detalle .container .cnt-descripcion {
    margin: auto;
    margin-top: 40px;
    width: 96%;
    max-width: 900px;
  }
  .matchcota-detalle .container .preview-img {
    width: auto;
    margin: auto;
    max-width: 400px;
  }
  .matchcota-detalle .container .preview-img .conoce_mascota__title {
    margin: 40px 0px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .title a {
    padding: 12px 15px 12px 20px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content {
    padding: 20px 15px 15px 20px;
  }
}
/*    .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud__alergias
        margin 0px 5px
    .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud h3
        font-size 14px
    .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block h3
        font-size 16px
    .matchcota-detalle .container
        .preview-img
            width calc(40% - 80px)
            margin-right 80px
        .cnt-descripcion
            width 60%
*/
@media screen and (max-width: 768px) {
  .matchcota-detalle .container .cnt-descripcion .acordeon li .title a {
    padding: 12px 15px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract h3 {
    font-size: 18px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract__hogar {
    margin-right: 0px;
  }
}
@media screen and (max-width: 480px) {
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .text {
    font-size: 15px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .cnt-bar {
    margin: 2px 0 0 110px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .num {
    padding: 0 0 0 110px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .title a {
    padding: 12px 8px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block h3 {
    min-width: 80px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas {
    flex-direction: column;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud {
    flex-direction: column;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud h3 {
    min-width: 97px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content p {
    font-size: 14px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract {
    flex-wrap: wrap;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract h3 {
    font-size: 16px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .title a {
    font-size: 14px;
  }
  .matchcota-detalle .container .cnt-descripcion .acordeon li .title .text {
    min-width: 165px;
  }
  .matchcota-detalle .container .cnt-descripcion {
    width: 98%;
  }
  .matchcota-detalle .container .preview-img .conoce_mascota__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  .matchcota-detalle .container .cnt-descripcion .title-main {
    text-align: center;
  }
  .matchcota-detalle .container .cnt-descripcion .title-main .cnt-share {
    float: inherit;
    display: block;
  }
}

/*# sourceMappingURL=producto_detalle.css.map */
