.matchcota-detalle {
  margin-top: 50px;
}
.matchcota-detalle .container {
  display: flex;
  justify-content: center;
}
.matchcota-detalle .container .preview-img {
  max-width: 520px;
  margin: 0;
  margin-right: 100px;
}
.matchcota-detalle .container .preview-img .conoce_mascota__title {
  font-size: 25px;
  font-family: f_ventura_m;
  color: c_plomo_os;
  text-align: left;
  margin-bottom: 1.5em;
}
.matchcota-detalle .container .preview-img .conoce_mascota__title i {
  margin-right: 10px;
}
.matchcota-detalle .container .preview-img .conoce_mascota__title span.flecha {
  animation: key_arrow_test_mas 1.5s infinite;
  background-image: url("../img/flecha_ploma_left.png");
  width: 60px;
  margin-left: 10px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
  height: 11px;
  display: inline-block;
}
.matchcota-detalle .container .preview-img .main-img {
  max-width: 520px;
  border: 4px solid #ddd;
  text-align: center;
}
.matchcota-detalle .container .preview-img ul.list-thumbnails {
  max-width: 100%;
  height: 150px;
  font-size: 0;
}
.matchcota-detalle .container .preview-img ul.list-thumbnails li {
  max-width: 24%;
  display: inline-block;
  max-height: 100%;
}
.matchcota-detalle .container .preview-img ul.list-thumbnails li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.matchcota-detalle .container .preview-img ul.list-thumbnails li a img {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.matchcota-detalle .container .cnt-descripcion {
  max-width: 600px;
  margin-top: 0;
}
.matchcota-detalle .container .cnt-descripcion .title-main {
  margin-bottom: 2em;
}
.matchcota-detalle .container .cnt-descripcion .title-main h1 {
  display: inline-block;
  text-align: left;
  font-family: f_kaushan_r;
  color: c_celeste;
  font-size: 50px;
}
.matchcota-detalle .container .cnt-descripcion .title-main .cnt-share {
  display: inline-block;
  float: right;
}
.matchcota-detalle .container .cnt-descripcion .acordeon {
  width: 600px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li {
  margin: 0 0 15px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title {
  margin: 0;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title i {
  margin-right: 10px;
  width: 26px;
  display: inline-block;
  font-size: 26px;
  text-align: center;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title .text {
  min-width: 240px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title a {
  background: #00b3e3;
  padding: 12px 15px;
  color: #fff;
  font-size: 16px;
  display: block;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .title .icon-arrow {
  font-size: 16px;
  border-radius: 50%;
  padding: 6px 2px;
  border: 1px solid c_white;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content {
  display: none;
  border: 1px solid #ddd;
  border-top: none;
  height: auto;
  overflow: hidden;
  padding: 1em;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud {
  display: flex;
  justify-content: space-between;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud h3 {
  margin: 0;
  margin-right: 10px;
  font-size: 16px;
  font-family: f_gothan_l;
  max-width: 97px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud__alergias {
  margin: 0px 7px;
  display: flex;
  align-items: center;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-salud__alergias i {
  margin: 5px;
  font-size: 24px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas {
  display: flex;
  justify-content: space-between;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__tamanio .icon-tamanio--small {
  font-size: 24px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__tamanio .icon-tamanio--medium {
  font-size: 28px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__tamanio .icon-tamanio--large {
  font-size: 32px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block {
  display: flex;
  align-items: flex-end;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block i.icon-active {
  color: c_celeste;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block i {
  font-size: 26px;
  margin: 0px 3px;
  color: c_plomo_os;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .caract-fisicas__block h3 {
  margin: 0;
  margin-right: 10px;
  font-size: 20px;
  font-family: f_roboto_l;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract h2 {
  color: c_plomo_os;
  margin: 10px 0px;
  font-size: 20px;
  font-family: f_gothan_m;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract {
  display: flex;
  justify-content: space-between;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract p {
  font-family: f_roboto_l;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract h3 {
  font-size: 20px;
  color: c_plomo_os;
  font-family: f_gothan_b;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content .content-caract .caract h3 i {
  color: c_celeste;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento ul li {
  margin: 5px 0;
  color: c_plomo_os;
  display: block;
  height: auto;
  min-height: 20px;
  overflow: hidden;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .text {
  font-size: 12px;
  float: left;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .cnt-bar {
  margin: 0 0 0 100px;
  display: block;
  position: relative;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .cnt-bar:after {
  border-top: 1px solid c_plomo;
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  content: "";
  z-index: 1;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .cnt-bar .bar {
  height: 14px;
  display: inline-block;
  background: c_celeste;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .num {
  font-size: 10px;
  padding: 0 0 0 100px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .num .num-first {
  float: left;
  padding: 0 3px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content__comportamiento .num .num-last {
  float: right;
  padding: 0 3px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li .text-content p {
  font-size: 12px;
}
.matchcota-detalle .container .cnt-descripcion .acordeon li.active .text-content {
  height: auto !important;
}
.matchcota-detalle .container .cnt-descripcion .btn-aceptar {
  font-size: 24px;
  font-family: f_ventura_m;
  background: c_narana_ad;
  color: c_white;
  text-align: center;
  padding: 6px 30px;
  width: 110px;
  margin: auto;
  display: block;
  margin-top: 30px;
}
/*@media screen and (max-width 1200px)
    .nosotros_formulario .btn--nosotros
        width  100%*/

/*# sourceMappingURL=producto_detalle.css.map */
