.cnt-testimonios .title {
  text-align: center;
  margin-bottom: 2.5em;
  padding: 2em 0 0;
}
.cnt-testimonios .title h2 {
  display: inline-block;
  font-size: 35px;
  color: c_narana_ad;
  position: relative;
  font-family: f_ventura_m;
  color: c_narana_ap;
}
.cnt-testimonios .title h2:after {
  content: "";
  width: 33px;
  height: 34px;
  position: absolute;
  top: -35px;
  right: -40px;
}
.cnt-testimonios .content-testimonios {
  padding: 0 5em;
  display: block;
}
.cnt-testimonios .content-testimonios .picture-border {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #a9a9ac;
  border-bottom: 2px solid #a9a9ac;
  display: inline-block;
  box-shadow: 6px 6px 20px 1px #b9bbbe;
}
.cnt-testimonios .content-testimonios .picture-border .inner__picture {
  border-top: 14px solid #dbdbdb;
  border-left: 14px solid #d1d1d1;
  border-right: 14px solid #e6e6e6;
  border-bottom: 14px solid #d5d7d9;
  display: block;
}
.cnt-testimonios .content-testimonios .picture-border .inner__picture img {
  border-top: 2px solid #b9bbbe;
  border-left: 2px solid #b9bbbe;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: block;
}
.bx-wrapper {
  margin: auto;
  position: relative;
}
.bx-wrapper .bx-controls a {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  width: 48px;
  height: 48px;
  display: block;
  text-align: center;
  line-height: 48px;
  border: 1px solid c_celeste;
  border-radius: 100% 100%;
  color: c_celeste;
  font-size: 20px;
}
.bx-wrapper .bx-controls a.bx-prev {
  left: -5em;
}
.bx-wrapper .bx-controls a.bx-next {
  right: -5em;
}
.bx-wrapper .bx-controls a:hover {
  background: c_celeste;
  color: #fff;
}
.slide-testimonios .item-slider-testimonios {
  height: auto;
  overflow: hidden;
}
.slide-testimonios .item-slider-testimonios .detail {
  width: 50%;
  float: left;
  padding: 5% 5% 0 2.5%;
  box-sizing: border-box;
}
.slide-testimonios .item-slider-testimonios .detail .date {
  color: c_plomo_os;
  font-size: 25px;
  font-family: f_ventura_m;
  display: block;
  margin-bottom: 1em;
}
.slide-testimonios .item-slider-testimonios .detail h3 {
  color: c_celeste;
  font-size: 30px;
  font-family: f_ventura_m;
  margin-bottom: 1em;
}
.slide-testimonios .item-slider-testimonios .image {
  width: 50%;
  float: right;
  box-sizing: border-box;
img
}
