.cnt-testimonios .title {
  text-align: center;
  margin-bottom: 2.5em;
  padding: 2em 0 0;
}
.cnt-testimonios .title h2 {
  display: inline-block;
  font-size: 35px;
  color: c_narana_ad;
  position: relative;
  font-family: f_ventura_m;
  color: c_narana_ap;
}
.cnt-testimonios .title h2:after {
  content: "";
  width: 33px;
  height: 34px;
  position: absolute;
  top: -35px;
  right: -40px;
}
.cnt-testimonios .content-testimonios {
  padding: 0 5em;
  display: block;
}
.cnt-testimonios .bx-wrapper {
  margin: auto;
  position: relative;
}
.cnt-testimonios .bx-wrapper .bx-controls a {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  width: 48px;
  height: 48px;
  display: block;
  text-align: center;
  line-height: 48px;
  border: 1px solid c_celeste;
  border-radius: 100% 100%;
  color: c_celeste;
  font-size: 20px;
}
.cnt-testimonios .bx-wrapper .bx-controls a.bx-prev {
  left: -4em;
}
.cnt-testimonios .bx-wrapper .bx-controls a.bx-next {
  right: -5em;
}
.cnt-testimonios .bx-wrapper .bx-controls a:hover {
  background: c_celeste;
  color: #fff;
}
.slide-testimonios .item-slider-testimonios {
  height: auto;
  overflow: hidden;
}
.slide-testimonios .item-slider-testimonios .detail {
  width: 50%;
  float: left;
  padding: 5% 5% 0 2.5%;
  box-sizing: border-box;
}
.slide-testimonios .item-slider-testimonios .detail .date {
  color: c_plomo_os;
  font-size: 25px;
  font-family: f_ventura_m;
  display: block;
  margin-bottom: 1em;
}
.slide-testimonios .item-slider-testimonios .detail h3 {
  color: c_celeste;
  font-size: 30px;
  font-family: f_ventura_m;
  margin-bottom: 1em;
}
.slide-testimonios .item-slider-testimonios .image {
  width: 50%;
  float: right;
  box-sizing: border-box;
img
}
@media screen and (max-width: 1500px) {
  .cnt-testimonios .bx-wrapper .bx-controls a.bx-next {
    right: -3em;
  }
  .cnt-testimonios .bx-wrapper .bx-controls a.bx-prev {
    left: -3em;
  }
  .picture-border .inner__picture {
    width: 100%;
    box-sizing: border-box;
  }
  .picture-border .inner__picture img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .cnt-testimonios .title {
    margin-bottom: 1em;
  }
  .slide-testimonios .item-slider-testimonios {
    display: flex;
    flex-direction: column;
  }
  .slide-testimonios .item-slider-testimonios .detail {
    width: 100%;
  }
  .slide-testimonios .item-slider-testimonios .detail h3 {
    text-align: center;
  }
  .slide-testimonios .item-slider-testimonios .image {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .slide-testimonios .item-slider-testimonios .image {
    width: 100%;
  }
  .cnt-testimonios .content-testimonios {
    padding: 0 3em;
  }
  .cnt-testimonios .bx-wrapper .bx-controls a.bx-next,
  .cnt-testimonios .bx-wrapper .bx-controls a.bx-prev {
    width: 40px;
    height: 40px;
  }
  .cnt-testimonios .bx-wrapper .bx-controls a.bx-next {
    right: -2.5em;
  }
  .cnt-testimonios .bx-wrapper .bx-controls a.bx-next i {
    font-size: 16px;
    margin-top: 13px;
    display: block;
  }
  .cnt-testimonios .bx-wrapper .bx-controls a.bx-prev {
    left: -2.5em;
  }
  .cnt-testimonios .bx-wrapper .bx-controls a.bx-prev i {
    font-size: 16px;
    margin-top: 13px;
    display: block;
  }
}

/*# sourceMappingURL=testimonios.css.map */
