a
    margin 0
    outline none
.container
    width 96%
    max-width 1200px
    margin auto
.container--r-small
    max-width 1200px
.container--small
    max-width 1100px
.container--large
    max-width 1800px
.container--r-large
    max-width 1900px
.title_section
    h2
        font-size 35px
        font-family f_ventura_m
        text-align center
        position relative
        display inline-block
.title_colores
    text-align center
    h2.celeste
        display inline-block

        font-size 35px
        color c_celeste
        position relative
        font-family f_ventura_m
        span.naranja
            color c_narana_ad

.title_section--celeste
    text-align center
    h2

        color c_celeste
        &:after
            content ""
            position absolute
            bottom 0
            left calc(100% + 15px)
            background-image url("../img/flechitasleft.png")
            width 0px
            height 48px
            transition .3s ease all
        &:before
            content ""
            position absolute
            bottom -10px
            right calc(100% + 15px)
            background-image url("../img/flechitasright.png")
            width 0px
            transition .3s ease all
            height 48px
.home_mascotas--title--active
    h2

        &:after

            width 26px !important
        &:before
            width 26px !important

.d-flex
    display flex

.img_res
    display block
    width 100%
    height auto
.content_banner
    position relative
    z-index 150
    display flex
    padding 0px 15px
    justify-content center
    align-items center
    flex-direction column
    height 100%
    h2
        font-size 58px
        font-family f_ventura_m
        color c_white
        span.cuv_naran
            color c_narana_ad
        span
            font-family f_kaushan_r
            font-size 78px
    .text
        font-size 26px
        font-family f_ventura_m
        color c_white
.page
    width calc(100% - 105px)
    margin-left 105px
.wrapper
    position relative
    placeholder(color,famyli)
    ::-webkit-input-placeholder { color: color; font-family: famyli; } /* WebKit */
    :-moz-placeholder { color: color; font-family: famyli; } /* Firefox 18- */
    ::-moz-placeholder { color: color; font-family: famyli; } /* Firefox 19+ */
    :-ms-input-placeholder { color: color; font-family: famyli; } /* IE 10+ */


p
  font-family f_gothan_l
  font-size 14px
  color c_plomo_p

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOutEffect {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes key_arrow_scroll {
    0% {margin-top: 0;}
    50% {margin-top: 10px;}
    100% {margin-top: 0px;}
}

@media screen and (max-width 768px)
    .page
        width 100%
        margin auto
    .title_section
        h2
            font-size 28px
    .content_banner
        h2
            font-size 36px
        span.cuv_naran
            font-size 52px
@media screen and (max-width 480px)

    .content_banner
        h2
            font-size 30px
        span.cuv_naran
            font-size 46px
