
c_celeste = #00B2E2
c_white = #fff
c_narana_ad = #FF4304

f_ventura_m = 'ventura_eddingmedium'
f_gothan_m = 'GothamRounded-Medium'

f_gothan_b = 'GothamRounded-Book'
f_gothan_l = 'GothamRounded-Light'
f_varela_r = 'varela_roundregular'
f_kaushan_r = 'kaushan_scriptregular'

f_dinpro_l = 'DINPro-Light'
f_arial_r = 'arialregular'
f_arial_b = 'arialbold'
