
c_celeste = #00B2E2
c_azul = #3C598B
c_white = #fff
c_plomo = #c7c7c7
c_narana_ad = #FF4304
c_narana_ap = #FF7444
c_narana_do = #FF9971
c_amarillo = #ffb718
c_plomo_os = #5D5D5D
c_plomo_cl = #CCCCCC
c_plomo_p = #8D8B8B
c_nosotros = #656564
c_formulario = #EBE7E2
f_ventura_m = 'ventura_eddingmedium'
f_gothan_m = 'GothamRounded-Medium'

f_gothan_b = 'GothamRounded-Book'
f_gothan_l = 'GothamRounded-Light'
f_varela_r = 'varela_roundregular'
f_kaushan_r = 'kaushan_scriptregular'

f_dinpro_l = 'DINPro-Light'
f_arial_r = 'arialregular'
f_arial_b = 'arialbold'
