.btn {
  font-family: f_ventura_m;
  font-size: 24px;
  border-radius: 6px;
  transition: 0.3s ease all;
}
.btn--light-white {
  padding: 8px 22px;
  color: c_celeste;
  border: 1px solid c_white;
  position: relative;
  z-index: 1;
}
.btn--light-white:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: c_white;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: scale3d(0.7, 1, 1);
  z-index: -1;
  border-radius: 6px;
  transition: 0.3s ease all;
}
.btn--light-white:hover {
  border: 1px solid c_white;
}
.btn--light-white:hover:before {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.btn--light-white-active {
  background: c_white;
  color: c_celeste;
  border: 1px solid c_celeste;
}
.btn--form {
  color: c_white;
  border: 1px solid c_celeste;
  background: c_celeste;
  padding: 8px 22px;
  position: relative;
  z-index: 1;
}
.btn--form:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: c_white;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: scale3d(0.7, 1, 1);
  z-index: -1;
  border-radius: 6px;
  transition: 0.3s ease all;
}
.btn--form:hover {
  color: c_celeste;
  background: c_white;
  border: 1px solid c_white;
}
.btn--form:hover:before {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
@media screen and (max-width: 1500px) {
}
.container_formulario {
  display: flex;
  background: c_formulario;
  justify-content: center;
}
.container_formulario .cnt-image {
  background: #fff;
  transform: skewX(-7.5deg);
  width: 45%;
  padding-right: 30px;
}
.container_formulario .cnt-image .image {
  transform: skewX(7.5deg);
  height: 100%;
  float: right;
  max-width: 713px;
  margin-right: 60px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.container_formulario .cnt-image .text {
  color: c_celeste;
  font-family: f_kaushan_r;
  font-size: 180px;
  width: 100%;
  text-align: center;
  margin-bottom: -140px;
  transform: skew(7.5deg);
}
.container_formulario .cnt-image figure.asesoria {
  max-width: 600px;
}
.container_formulario .cnt-image figure.dona {
  max-width: 620px;
  margin-bottom: 0;
}
.container_formulario .cnt-image figure {
  padding-left: 10px;
  box-sizing: border-box;
  margin: auto;
  max-width: 700px;
  position: relative;
}
.container_formulario .cnt-formulario {
  width: 55%;
  padding-left: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.container_formulario .cnt-formulario .formulario {
  max-width: 900px;
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}
.container_formulario .cnt-formulario .formulario .cuentas {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.container_formulario .cnt-formulario .formulario .cuentas .cuenta {
  margin: 0px 5px 10px 0px;
}
.container_formulario .cnt-formulario .formulario .cuentas h4 {
  color: c_plomo_os;
  font-size: 16px;
  text-align: center;
}
.container_formulario .cnt-formulario .formulario .cuentas h3 {
  color: c_celeste;
  font-family: f_ventura_m;
  font-size: 24px;
  margin-bottom: 0;
}
.container_formulario .cnt-formulario .formulario h2 {
  color: c_celeste;
  font-size: 35px;
  text-align: center;
  font-family: f_ventura_m;
  margin-bottom: 30px;
}
.container_formulario .cnt-formulario .formulario p {
  font-size: 15px;
  font-family: f_gothan_l;
  color: c_plomo_os;
}
.container_formulario .cnt-formulario .formulario form .tab {
  animation: fadeEffect 0.5s;
}
.container_formulario .cnt-formulario .formulario form .tab_none {
  display: none;
}
.container_formulario .cnt-formulario .formulario form .pasos__paso .text-paso {
  margin-bottom: 10px;
}
.container_formulario .cnt-formulario .formulario form .pasos__paso .text {
  margin-top: 15px;
}
.container_formulario .cnt-formulario .formulario form .pasos__paso .text a {
  color: c_plomo_os;
  border-bottom: 1px solid c_plomo_os;
}
.container_formulario .cnt-formulario .formulario form .pasos h3 {
  color: c_narana_ad;
  font-size: 22px;
  font-family: f_ventura_m;
  text-align: center;
}
.container_formulario .cnt-formulario .formulario form .btn--pop {
  display: block;
  text-align: center;
  margin: auto;
  min-width: 200px;
}
.container_formulario .cnt-formulario .formulario form .grid_botton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container_formulario .cnt-formulario .formulario form .grid_botton a {
  min-width: 230px;
  text-align: center;
  margin: 0px 30px;
}
.container_formulario .cnt-formulario .formulario form .text {
  margin-top: 25px;
  font-size: 15px;
  font-family: f_gothan_l;
  color: c_plomo_os;
  margin-bottom: 20px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input label i {
  margin-left: 5px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input {
  width: 100%;
  position: relative;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input textarea {
  height: 20px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: f_gothan_l;
  font-size: 15px;
  width: 100%;
  color: c_plomo_os;
  transition: 0.3s ease all;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input input,
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input textarea {
  width: 100%;
  color: c_plomo_os;
  position: relative;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid c_plomo_os;
  background: transparent;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input:after {
  content: "";
  width: 0%;
  position: absolute;
  border-bottom: 1px solid c_celeste;
  left: 0;
  height: 1px;
  bottom: 0;
  transition: 1s ease all;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m {
  width: 50%;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m:first-child {
  margin-right: 40px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-active label {
  top: -20px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-active:after {
  width: 100%;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .descargar {
  color: c_celeste;
  text-align: center;
  width: 100%;
  font-size: 18px;
  transition: 0.3s ease all;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .descargar i {
  margin-left: 5px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input--adjuntar {
  padding: 7px 0px;
  margin-bottom: 20px !important;
  width: 100%;
  margin: auto;
  font-size: 15px;
  font-family: f_ventura_m;
  color: c_celeste;
  background: c_white;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease all;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input--adjuntar:hover {
  color: c_white;
  background: c_celeste;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input--adjuntar:hover .descargar {
  color: c_white;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input--adjuntar input {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}
.cnt_pop_up_none {
  display: none;
  transition: 0.5s ease all;
  animation: fadeEffect 0.5s ease;
}
.cnt_pop_up_apadrina .pop_up {
  height: 700px;
}
.cnt_pop_up_dona .pop_up {
  height: 600px;
}
.cnt_pop_up {
  height: 100%;
  align-items: center;
  transition: 0.5s ease all;
  animation: fadeEffect 0.5s ease;
}
.cnt_pop_up.cnt_pop_up_adopta .pop_up .cnt-image {
  padding: 2.5em 0;
}
.cnt_pop_up .pop_up {
  background: linear-gradient(to right, #fff, c_formulario, c_formulario, c_formulario);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt_pop_up .pop_up .close {
  position: absolute;
  right: 30px;
  cursor: pointer;
  top: -40px;
}
.cnt_pop_up .pop_up .close .icon-close {
  display: inline-block;
  color: c_narana_ad;
  font-size: 28px;
  background: c_white;
  border-radius: 50%;
  padding: 8px;
}
.cnt_pop_up .cnt-image {
  height: 100%;
  box-sizing: border-box;
}
.cnt_pop_up .cnt-formulario {
  height: 100%;
  box-sizing: border-box;
  background: c_formulario;
}
.cnt_pop_up .cnt-formulario .formulario {
  position: relative;
}
.cnt_pop_up {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0px;
  background: transparent;
  z-index: 330;
}
@media screen and (max-width: 1800px) {
  .container_formulario .cnt-image .text {
    font-size: 160px;
  }
  .cnt_pop_up_apadrina .pop_up {
    height: 550px;
  }
  .cnt_pop_up_apadrina .cnt-image {
    background-position: -100px center !important;
  }
  .cnt_pop_up_apadrina .cnt-image figure {
    width: 400px;
  }
  .cnt_pop_up_apadrina .cnt-image .image {
    margin-right: 50px;
  }
  .container_formulario .cnt-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -188px center;
  }
}
@media screen and (max-width: 1500px) {
  .container_formulario .cnt-image .text {
    font-size: 130px;
  }
  .cnt_pop_up_adopta .cnt-image figure {
    max-width: 415px !important;
  }
  .container_formulario .cnt-image figure.dona {
    margin-top: 40px;
  }
  .container_formulario .cnt-image .image {
    margin-right: 30px;
  }
  .container_formulario .cnt-image {
    background: c_white;
    background-position: -185px center;
  }
  .container_formulario .cnt-image figure {
    max-width: 500px;
    margin-top: 60px;
  }
  .container_formulario .cnt-formulario {
    padding-bottom: 20px;
    padding-left: 60px;
    padding-top: 20px;
  }
  .container_formulario .cnt-formulario .formulario {
    max-width: 650px;
  }
  .container_formulario .cnt-formulario .formulario form .grid_botton {
    margin-top: 20px;
  }
  .container_formulario .cnt-formulario .formulario form .grid_botton a {
    min-width: 200px;
    margin: 0px 20px;
    font-size: 22px;
  }
  .container_formulario .cnt-formulario .formulario form .text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .container_formulario .cnt-formulario .formulario form .text-archivo {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input {
    margin-bottom: 32px;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input label {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .cnt_pop_up .pop_up {
    background: c_formulario;
  }
  .cnt_pop_up .cnt-formulario {
    padding: 35px 30px !important;
  }
  .cnt_pop_up .pop_up .close {
    top: 20px;
    right: 5%;
  }
  .container_formulario .cnt-image {
    width: 40%;
    display: none;
  }
  .container_formulario .cnt-formulario {
    width: 90%;
    padding-left: 0;
  }
  .container_formulario .cnt-formulario .formulario {
    padding-right: 0;
    max-width: 100%;
  }
  .container_formulario .cnt-formulario .formulario form .text {
    margin-top: 10px;
  }
  .cnt_pop_up .pop_up .cnt-formulario {
    position: relative;
  }
  .cnt_pop_up .pop_up .cnt-formulario .formulario {
    overflow-y: scroll;
    padding: 25px 8px;
    position: initial;
  }
}
@media screen and (max-width: 768px) {
  .cnt_pop_up .pop_up {
    height: 100%;
  }
  .cnt_pop_up .pop_up .cnt-formulario .formulario {
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
  .cnt-formulario .formulario h2 {
    max-width: 460px;
    margin: auto;
  }
  .cnt_pop_up .cnt-formulario {
    display: block;
  }
  .cnt_pop_up .cnt-formulario .formulario h2 {
    margin-bottom: 15px;
  }
  .container_formulario .cnt-formulario {
    width: 96%;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input label {
    font-size: 12px;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m:first-child {
    margin-right: 20px;
  }
  .cnt_pop_up_dona .pop_up .btn--pop,
  .cnt_pop_up_apadrina .pop_up .btn--pop,
  .cnt_pop_up_adopta .pop_up .btn--pop {
    margin-bottom: 15px !important;
  }
  .cnt_pop_up .cnt-formulario {
    padding: 15px 0px !important;
    display: flex;
  }
  .container_formulario .cnt-formulario .formulario .cuentas {
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  .container_formulario .cnt-formulario .formulario form .grid_botton {
    flex-wrap: wrap;
  }
  .container_formulario .cnt-formulario .formulario form .grid_botton .btn {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  .container_formulario .cnt-formulario .formulario form .text {
    font-size: 13px;
  }
  .cnt_pop_up {
    background: c_formulario;
  }
  .cnt_pop_up .pop_up {
    height: 100%;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input label {
    font-size: 11px;
  }
  .cnt_pop_up .pop_up .close {
    right: 0px;
    top: -35px;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input {
    flex-wrap: wrap;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m:first-child {
    margin-bottom: 27px;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m:first-child,
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m {
    margin-right: 0;
    width: 100%;
  }
  .container_formulario .cnt-formulario .formulario h2 {
    font-size: 22px;
  }
  .cnt_pop_up .cnt-formulario {
    padding: 0 !important;
  }
  .cnt_pop_up .pop_up .cnt-formulario .formulario {
    padding: 50px 8px 20px 8px;
  }
  .cnt_pop_up .cnt-formulario .formulario h2 {
    margin-bottom: 30px;
  }
  .cnt_pop_up .pop_up .cnt-formulario .formulario {
    position: relative;
  }
  .cnt_pop_up .pop_up .close {
    top: 5px;
    right: 10px;
  }
  .cnt_pop_up .pop_up .close .icon-close {
    padding: 6px;
  }
}
.banner_gral .banner {
  width: 100%;
  height: 310px;
  background-size: cover;
  position: relative;
}
.banner_gral .banner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/capa_slider.png");
  width: 100%;
  height: 100%;
}
.banner_gral .banner__title {
  position: relative;
  z-index: 100;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_gral .banner__title h2 {
  text-align: center;
  margin: 0;
  color: c_white;
  font-size: 58px;
  font-family: f_ventura_m;
}
.banner_gral .banner__title h2 span {
  font-family: f_kaushan_r;
  font-size: 78px;
}
@media screen and (max-width: 960px) {
  .banner_gral .banner__title {
    padding: 0px 20px;
  }
  .banner_gral .banner__title h2 {
    font-size: 42px;
  }
  .banner_gral .banner__title h2 span {
    font-size: 56px;
  }
}
.list_mascotas {
  display: flex;
}
.list_mascotas__mascota--celeste:hover {
  background-image: url("../img/back_celeste.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__title {
  color: c_white;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__etiqueta h4 {
  color: c_white;
  background-image: url("../img/mas_hover.png");
  background-position: 0 2px;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__etiqueta h4:before {
  opacity: 1;
  color: c_celeste;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__etiqueta h4:after {
  background: c_celeste;
}
.list_mascotas__mascota--celeste .list_mascotas__title {
  color: c_celeste;
}
.list_mascotas__mascota--celeste .list_mascotas__etiqueta h4 {
  background-image: url("../img/mas_celeste.png");
  background-size: contain;
  background-repeat: no-repeat repeat;
  color: c_white;
}
.list_mascotas__mascota--celeste .list_mascotas__etiqueta h4:after {
  background: c_white;
}
.list_mascotas__mascota--amarillo:hover {
  background-image: url("../img/back_amarillo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__title {
  color: c_white;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__etiqueta h4 {
  color: c_white;
  background-image: url("../img/mas_hover.png");
  background-position: 0 2px;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__etiqueta h4:before {
  opacity: 1;
  color: c_amarillo;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__etiqueta h4:after {
  background: c_amarillo;
}
.list_mascotas__mascota--amarillo .list_mascotas__title {
  color: c_amarillo;
}
.list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4 {
  background-image: url("../img/mas_amarillo.png");
  background-size: contain;
  background-repeat: no-repeat repeat;
  color: c_white;
}
.list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4:after {
  background: c_white;
}
.list_mascotas__mascota--plomo:hover {
  background-image: url("../img/back_plomo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__title {
  color: c_white;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__etiqueta h4 {
  color: c_white;
  background-image: url("../img/mas_hover.png");
  background-position: 0 2px;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__etiqueta h4:before {
  opacity: 1;
  color: c_plomo;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__etiqueta h4:after {
  background: c_plomo;
}
.list_mascotas__mascota--plomo .list_mascotas__title {
  color: c_plomo;
}
.list_mascotas__mascota--plomo .list_mascotas__etiqueta h4 {
  background-size: contain;
  background-image: url("../img/mas_plomo.png");
  background-repeat: no-repeat repeat;
  color: c_white;
}
.list_mascotas__mascota--plomo .list_mascotas__etiqueta h4:after {
  background: c_white;
}
.list_mascotas__mascota {
  text-align: center;
  width: 19%;
  margin: 4px;
  box-sizing: border-box;
  padding: 30px 5px 0px 5px;
  position: relative;
  transition: 0.3s ease all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list_mascotas__mascota figure {
  margin: 0;
  margin: auto;
}
.list_mascotas__mascota figure img {
  width: 100%;
  height: auto;
  display: block;
}
.list_mascotas__title {
  display: block;
  font-size: 30px;
  font-family: f_ventura_m;
}
.list_mascotas__etiqueta {
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: left;
}
.list_mascotas__etiqueta h4 {
  box-sizing: border-box;
  padding: 15px 20px 15px 35px;
  width: 78%;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: f_gothan_b;
  margin: 0;
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.list_mascotas__etiqueta h4:before {
  content: "ADÓPTA A TU MEJOR AMIGO";
  transition: 0.3s ease all;
  position: absolute;
  z-index: 3;
  left: 34px;
  top: 2px;
  display: flex;
  align-items: center;
  bottom: 0;
  padding-right: 20px;
  margin: auto;
  opacity: 0;
  font-size: 14px;
}
.list_mascotas__etiqueta h4:after {
  content: "";
  transition: 0.3s ease all;
  left: 8px;
  top: 0px;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
@media screen and (max-width: 1200px) {
  .list_mascotas__mascota {
    width: 285px;
  }
  .list_mascotas__mascota figure {
    width: 260px;
  }
}
@media screen and (max-width: 1024px) {
  .list_mascotas__mascota {
    width: 265px;
  }
  .list_mascotas__mascota figure {
    width: 240px;
  }
}
@media screen and (max-width: 768px) {
  .list_mascotas__mascota {
    width: 225px;
  }
  .list_mascotas__mascota figure {
    width: 210px;
  }
  .list_mascotas {
    margin-top: 0 !important;
  }
  .list_mascotas__etiqueta h4 {
    width: 93%;
    padding: 15px 20px 15px 25px;
    font-size: 14px;
  }
  .list_mascotas__etiqueta h4:before {
    left: 25px;
  }
}
@media screen and (max-width: 480px) {
  .page_mascotas {
    margin-top: 30px !important;
  }
  .page_mascotas .list_mascotas__mascota {
    margin: 8px !important;
  }
  .page_mascotas .list_mascotas__etiqueta h4 {
    background-size: cover !important;
  }
  .list_mascotas__mascota {
    width: 280px;
    margin: 10px 0px;
  }
  .list_mascotas__mascota figure {
    width: 260px;
  }
  .list_mascotas__mascota--celeste {
    background-image: url("../img/back_celeste.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .list_mascotas__mascota--celeste .list_mascotas__title {
    color: c_white;
  }
  .list_mascotas__mascota--celeste .list_mascotas__etiqueta h4 {
    color: c_white;
    background-image: url("../img/mas_hover.png");
    background-position: 0 2px;
  }
  .list_mascotas__mascota--celeste .list_mascotas__etiqueta h4:before {
    opacity: 1;
    color: c_celeste;
  }
  .list_mascotas__mascota--celeste .list_mascotas__etiqueta h4:after {
    background: c_celeste;
  }
  .list_mascotas__mascota--amarillo {
    background-image: url("../img/back_amarillo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .list_mascotas__mascota--amarillo .list_mascotas__title {
    color: c_white;
  }
  .list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4 {
    color: c_white;
    background-image: url("../img/mas_hover.png");
    background-position: 0 2px;
  }
  .list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4:before {
    opacity: 1;
    color: c_amarillo;
  }
  .list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4:after {
    background: c_amarillo;
  }
  .list_mascotas__mascota--plomo {
    background-image: url("../img/back_plomo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .list_mascotas__mascota--plomo .list_mascotas__title {
    color: c_white;
  }
  .list_mascotas__mascota--plomo .list_mascotas__etiqueta h4 {
    color: c_white;
    background-image: url("../img/mas_hover.png");
    background-position: 0 2px;
  }
  .list_mascotas__mascota--plomo .list_mascotas__etiqueta h4:before {
    opacity: 1;
    color: c_plomo;
  }
  .list_mascotas__mascota--plomo .list_mascotas__etiqueta h4:after {
    background: c_plomo;
  }
}
.home_listado_noticias .listado_noticias__large {
  position: relative;
  display: block;
  width: 429px;
  height: 410px;
}
.home_listado_noticias .listado_noticias__large figure {
  width: 100%;
  height: 100%;
  margin: 0;
}
.home_listado_noticias .listado_noticias__large .descripcion {
  display: none;
  flex-direction: column;
  padding: 0px 30px;
  box-sizing: border-box;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5) !important;
}
.home_listado_noticias .listado_noticias__large .descripcion h3 {
  color: c_white !important;
  font-family: f_ventura_m;
  font-size: 20px;
}
.home_listado_noticias .listado_noticias__large .descripcion h4 {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_m;
  margin: 0;
}
.home_listado_noticias .listado_noticias__large .descripcion p {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_l;
}
.home_listado_noticias .listado_noticias__large .descripcion:after {
  display: none;
}
.home_listado_noticias .listado_noticias__large:hover .descripcion {
  display: flex;
  animation: fadeEffect 0.5s;
}
.listado_noticias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.listado_noticias__noticia {
  margin: 2px 2px;
}
.listado_noticias__noticia .descripcion {
  min-height: 206px;
}
.listado_noticias__noticia:nth-child(odd) {
  flex-direction: column;
  transition: 0.3s ease all;
}
.listado_noticias__noticia:nth-child(odd) .descripcion {
  background: c_amarillo;
  transition: 0.3s ease all;
}
.listado_noticias__noticia:nth-child(odd) .descripcion:after {
  content: "";
  transition: 0.3s ease all;
  top: -30px;
  border-top: 16px solid transparent !important;
  border-bottom: 16px solid c_amarillo;
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion {
  background: c_white;
  border-left: 1px solid c_amarillo;
  border-right: 1px solid c_amarillo;
  border-bottom: 1px solid c_amarillo;
  box-sizing: border-box;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion:after {
  border-bottom: 16px solid c_white !important;
  border-top: 16px solid transparent;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion h3 {
  color: c_amarillo;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion h4 {
  color: c_amarillo;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion p {
  color: c_amarillo;
}
.listado_noticias__noticia:nth-child(even) {
  flex-direction: column-reverse;
  transition: 0.3s ease all;
}
.listado_noticias__noticia:nth-child(even) .descripcion {
  transition: 0.3s ease all;
  background: c_celeste;
}
.listado_noticias__noticia:nth-child(even) .descripcion:after {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -30px;
  border-top: 16px solid c_celeste;
  border-bottom: 16px solid transparent !important;
}
.listado_noticias__noticia:nth-child(even):hover .descripcion {
  background: c_white;
  border-left: 1px solid c_celeste;
  border-right: 1px solid c_celeste;
  border-top: 1px solid c_celeste;
  box-sizing: border-box;
}
.listado_noticias__noticia:nth-child(even):hover .descripcion:after {
  border-top: 16px solid c_white !important;
  border-bottom: 16px solid transparent !important;
}
.listado_noticias__noticia:nth-child(even):hover .descripcion h3 {
  color: c_celeste;
}
.listado_noticias__noticia:nth-child(even):hover .descripcion h4 {
  color: c_celeste;
}
.listado_noticias__noticia:nth-child(even):hover .descripcion p {
  color: c_celeste;
}
.listado_noticias__noticia {
  width: 228px;
  display: flex;
}
.listado_noticias__noticia figure {
  width: 228px;
  height: 204px;
  margin: 0;
}
.listado_noticias__noticia figure img {
  height: 100%;
}
.listado_noticias__noticia .descripcion {
  background: transparent;
  display: block;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.listado_noticias__noticia .descripcion:after {
  animation: fadeEffect 0.5s !important;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}
.listado_noticias__noticia .descripcion h3 {
  color: c_white;
  font-family: f_ventura_m;
  font-size: 18px;
}
.listado_noticias__noticia .descripcion h4 {
  color: c_white;
  font-size: 18px;
  font-family: f_gothan_m;
  margin: 0;
}
.listado_noticias__noticia .descripcion p {
  color: c_white;
  font-size: 18px;
  font-family: f_gothan_l;
  margin: 0;
}
.listado_noticias__large {
  position: relative;
  display: block;
  width: 462px;
  height: 410px;
}
.listado_noticias__large figure {
  width: 462px;
  height: 410px;
  margin: 0;
}
.listado_noticias__large .descripcion {
  flex-direction: column !important;
  padding: 0px 30px !important;
  box-sizing: border-box !important;
  justify-content: flex-end !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0,0,0,0.5) !important;
  animation: fadeEffect 0.5s !important;
  display: block;
}
.listado_noticias__large .descripcion h3 {
  color: c_white !important;
  font-family: f_ventura_m !important;
  font-size: 20px !important;
}
.listado_noticias__large .descripcion h4 {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_m;
  margin: 0;
}
.listado_noticias__large .descripcion p {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_l;
  margin-bottom: 20px;
}
.listado_noticias__large .descripcion:after {
  display: none !important;
  animation: fadeEffect 0.5s !important;
}
.listado_noticias__large:hover .descripcion {
  border: none;
  display: flex !important;
}
.noticias_listado .listado_noticias__large {
  position: relative;
  display: block;
  width: 462px;
  height: 410px;
  border: none !important;
}
.noticias_listado .listado_noticias__large figure {
  width: 462px;
  height: 410px;
  margin: 0;
}
.noticias_listado .listado_noticias__large .descripcion {
  display: none;
  flex-direction: column;
  padding: 0px 30px;
  box-sizing: border-box;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5) !important;
  animation: fadeEffect 0.5s;
}
.noticias_listado .listado_noticias__large .descripcion h3 {
  color: c_white !important;
  font-family: f_ventura_m;
  font-size: 20px;
}
.noticias_listado .listado_noticias__large .descripcion h4 {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_m;
  margin: 0;
}
.noticias_listado .listado_noticias__large .descripcion p {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_l;
}
.noticias_listado .listado_noticias__large .descripcion:after {
  display: none;
}
.noticias_listado .listado_noticias__large:hover .descripcion {
  display: flex;
  border: none !important;
}
@media screen and (max-width: 1910px) {
  .home_listado_noticias .noticia_6,
  .home_listado_noticias .noticia_5 {
    display: none !important;
  }
}
@media screen and (max-width: 1300px) {
  .home_listado_noticias .noticia_4 {
    display: none !important;
  }
}
@media screen and (max-width: 960px) {
  .listado_noticias__large {
    height: initial;
  }
  .listado_noticias__large .descripcion:after {
    display: block !important;
  }
  .noticias_listado .listado_noticias__large:hover .descripcion,
  .home_listado_noticias .listado_noticias__large:hover .descripcion {
    background: c_white !important;
  }
  .noticias_listado .listado_noticias__large:hover .descripcion h3,
  .home_listado_noticias .listado_noticias__large:hover .descripcion h3,
  .noticias_listado .listado_noticias__large:hover .descripcion p,
  .home_listado_noticias .listado_noticias__large:hover .descripcion p,
  .noticias_listado .listado_noticias__large:hover .descripcion h4,
  .home_listado_noticias .listado_noticias__large:hover .descripcion h4 {
    color: c_amarillo !important;
  }
  .noticias_listado .listado_noticias__large,
  .home_listado_noticias .listado_noticias__large {
    width: 228px;
    height: initial;
  }
  .noticias_listado .listado_noticias__large .descripcion,
  .home_listado_noticias .listado_noticias__large .descripcion {
    background: c_amarillo !important;
    position: relative !important;
    padding: 10px 10px 10px 10px !important;
    width: initial !important;
    display: flex;
    height: 204px !important;
  }
  .noticias_listado .listado_noticias__large .descripcion h3,
  .home_listado_noticias .listado_noticias__large .descripcion h3 {
    color: c_white;
  }
  .noticias_listado .listado_noticias__large figure,
  .home_listado_noticias .listado_noticias__large figure {
    width: 228px;
    height: 204px;
    margin: 0;
  }
}
@media screen and (max-width: 748px) {
  .home_listado_noticias .noticia_3 {
    display: none !important;
  }
}
@media screen and (max-width: 748px) {
  .listado_noticias__noticia .descripcion {
    min-height: 204px;
    height: inherit;
  }
}

/*# sourceMappingURL=main.css.map */
