.btn {
  font-family: f_ventura_m;
  font-size: 24px;
  border-radius: 6px;
  transition: 0.3s ease all;
}
.btn--light-white {
  padding: 8px 22px;
  color: c_celeste;
  border: 1px solid c_white;
}
.btn--light-white:hover {
  background: c_white;
  color: c_celeste;
  border: 1px solid c_celeste;
}
.btn--light-white-active {
  background: c_white;
  color: c_celeste;
  border: 1px solid c_celeste;
}
.btn--form {
  color: c_white;
  border: 1px solid c_celeste;
  background: c_celeste;
  padding: 8px 22px;
}
.btn--form:hover {
  background: c_white;
  color: c_celeste;
  border: 1px solid c_celeste;
}
@media screen and (max-width: 1500px) {
}
.container_formulario {
  display: flex;
  background: c_formulario;
  justify-content: center;
}
.container_formulario .cnt-image {
  background-image: url("../img/nosotros_fondo_t.png");
  background-size: cover;
  width: 45%;
  padding-right: 30px;
}
.container_formulario .cnt-image .image {
  height: 100%;
  float: right;
  max-width: 713px;
  margin-right: 60px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.container_formulario .cnt-image .text {
  color: c_celeste;
  font-family: f_kaushan_r;
  font-size: 85px;
  width: 100%;
  text-align: center;
  margin-bottom: -60px;
}
.container_formulario .cnt-image figure {
  margin: 0;
  max-width: 713px;
}
.container_formulario .cnt-formulario {
  width: 55%;
  padding-left: 60px;
  padding-bottom: 45px;
}
.container_formulario .cnt-formulario .formulario {
  margin-top: 60px;
  max-width: 900px;
  padding-right: 40px;
}
.container_formulario .cnt-formulario .formulario .cuentas {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.container_formulario .cnt-formulario .formulario .cuentas .cuenta {
  margin: 0px 5px 10px 0px;
}
.container_formulario .cnt-formulario .formulario .cuentas h4 {
  color: c_plomo_os;
  font-size: 16px;
  text-align: center;
}
.container_formulario .cnt-formulario .formulario .cuentas h3 {
  color: c_celeste;
  font-family: f_ventura_m;
  font-size: 24px;
  margin-bottom: 0;
}
.container_formulario .cnt-formulario .formulario h2 {
  color: c_celeste;
  font-size: 35px;
  text-align: center;
  font-family: f_ventura_m;
  margin-bottom: 20px;
}
.container_formulario .cnt-formulario .formulario p {
  font-size: 15px;
  font-family: f_gothan_l;
  color: c_plomo_os;
}
.container_formulario .cnt-formulario .formulario form .btn--pop {
  display: block;
  text-align: center;
  margin: auto;
  min-width: 200px;
}
.container_formulario .cnt-formulario .formulario form .grid_botton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container_formulario .cnt-formulario .formulario form .grid_botton a {
  min-width: 230px;
  text-align: center;
  margin: 0px 30px;
}
.container_formulario .cnt-formulario .formulario form .text {
  margin-top: 40px;
  font-size: 15px;
  font-family: f_gothan_l;
  color: c_plomo_os;
  margin-bottom: 36px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input {
  width: 100%;
  position: relative;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input textarea {
  height: 20px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: f_gothan_l;
  font-size: 15px;
  width: 100%;
  color: c_plomo_os;
  transition: 0.3s ease all;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input input,
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input textarea {
  width: 100%;
  color: c_plomo_os;
  position: relative;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid c_plomo_os;
  background: transparent;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input:after {
  content: "";
  width: 0%;
  position: absolute;
  border-bottom: 2px solid c_celeste;
  left: 0;
  height: 1px;
  bottom: 0;
  transition: 1s ease all;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m {
  width: 50%;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m:first-child {
  margin-right: 40px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-active label {
  top: -20px;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-active:after {
  width: 100%;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .descargar {
  color: c_celeste;
  text-align: center;
  width: 100%;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input--adjuntar {
  padding: 5px 0px;
  margin-bottom: 20px !important;
  width: 100%;
  margin: auto;
  font-size: 15px;
  font-family: f_ventura_m;
  color: c_celeste;
  background: c_white;
  position: relative;
  cursor: pointer;
}
.container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input--adjuntar input {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}
.cnt_pop_up_none {
  display: none;
  transition: 0.5s ease all;
  animation: fadeEffect 0.5s ease;
}
.cnt_pop_up_apadrina .pop_up {
  height: 700px;
}
.cnt_pop_up_dona .pop_up {
  height: 600px;
}
.cnt_pop_up {
  height: 100%;
  align-items: center;
  transition: 0.5s ease all;
  animation: fadeEffect 0.5s ease;
}
.cnt_pop_up .pop_up {
  background: c_formulario;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cnt_pop_up .pop_up .close {
  position: absolute;
  right: 30px;
  cursor: pointer;
  top: -30px;
}
.cnt_pop_up .pop_up .close .icon-close {
  display: inline-block;
  color: c_celeste;
  font-size: 28px;
  border: 1px solid c_celeste;
}
.cnt_pop_up .cnt-image {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
}
.cnt_pop_up .cnt-formulario {
  height: 100%;
  box-sizing: border-box;
  width: 60%;
  background: c_formulario;
}
.cnt_pop_up .cnt-formulario .formulario {
  position: relative;
}
.cnt_pop_up {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0px;
  background: transparent;
  z-index: 330;
}
@media screen and (max-width: 1800px) {
  .cnt_pop_up_apadrina .pop_up {
    height: 550px;
  }
  .cnt_pop_up_apadrina .cnt-image {
    background-position: -100px center !important;
  }
  .cnt_pop_up_apadrina .cnt-image figure {
    width: 400px;
  }
  .cnt_pop_up_apadrina .cnt-image .image {
    margin-right: 80px;
  }
  .container_formulario .cnt-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -188px center;
  }
}
@media screen and (max-width: 1500px) {
  .cnt_pop_up_adopta .cnt-image figure {
    max-width: 415px !important;
  }
  .cnt_pop_up_dona .pop_up {
    height: 515px;
  }
  .container_formulario .cnt-image .image {
    margin-right: 10px;
  }
  .container_formulario .cnt-image {
    background: c_white;
    background-position: -185px center;
  }
  .container_formulario .cnt-image figure {
    max-width: 500px;
  }
  .container_formulario .cnt-formulario {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .container_formulario .cnt-formulario .formulario {
    margin-top: 30px;
    max-width: 650px;
  }
  .container_formulario .cnt-formulario .formulario form .grid_botton {
    margin-top: 20px;
  }
  .container_formulario .cnt-formulario .formulario form .grid_botton a {
    min-width: 200px;
    margin: 0px 20px;
    font-size: 22px;
  }
  .container_formulario .cnt-formulario .formulario form .text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .container_formulario .cnt-formulario .formulario form .text-archivo {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input {
    margin-bottom: 27px;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input label {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .cnt_pop_up .cnt-formulario {
    padding: 15px 30px !important;
  }
  .cnt_pop_up_apadrina .pop_up {
    height: 420px;
  }
  .container_formulario .cnt-image {
    width: 40%;
    display: none;
  }
  .container_formulario .cnt-formulario {
    width: 90%;
    padding-left: 0;
  }
  .container_formulario .cnt-formulario .formulario {
    padding-right: 0;
    max-width: 100%;
  }
  .container_formulario .cnt-formulario .formulario form .text {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .cnt_pop_up_dona .pop_up,
  .cnt_pop_up_apadrina .pop_up,
  .cnt_pop_up_adopta .pop_up {
    overflow-y: scroll;
    height: 400px;
  }
  .cnt_pop_up_dona .pop_up .btn--pop,
  .cnt_pop_up_apadrina .pop_up .btn--pop,
  .cnt_pop_up_adopta .pop_up .btn--pop {
    margin-bottom: 15px !important;
  }
  .cnt_pop_up .cnt-formulario {
    padding: 15px 0px !important;
  }
  .container_formulario .cnt-formulario .formulario .cuentas {
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
  .container_formulario .cnt-formulario .formulario form .grid_botton {
    flex-wrap: wrap;
  }
  .container_formulario .cnt-formulario .formulario form .grid_botton .btn {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  .cnt_pop_up .pop_up .close {
    right: 0px;
    top: -35px;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input {
    flex-wrap: wrap;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m:first-child {
    margin-bottom: 27px;
  }
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m:first-child,
  .container_formulario .cnt-formulario .formulario form .cnt-form .cnt-input .input-m {
    margin-right: 0;
    width: 100%;
  }
}
.banner_gral .banner {
  width: 100%;
  height: 310px;
  background-size: cover;
  position: relative;
}
.banner_gral .banner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/capa_slider.png");
  width: 100%;
  height: 100%;
}
.banner_gral .banner__title {
  position: relative;
  z-index: 100;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_gral .banner__title h2 {
  text-align: center;
  margin: 0;
  color: c_white;
  font-size: 58px;
  font-family: f_ventura_m;
}
.banner_gral .banner__title h2 span {
  font-family: f_kaushan_r;
  font-size: 78px;
}
@media screen and (max-width: 960px) {
  .banner_gral .banner__title {
    padding: 0px 20px;
  }
  .banner_gral .banner__title h2 {
    font-size: 42px;
  }
  .banner_gral .banner__title h2 span {
    font-size: 56px;
  }
}
.list_mascotas {
  display: flex;
}
.list_mascotas__mascota--celeste:hover {
  background: c_celeste;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__title {
  color: c_white;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__etiqueta h4 {
  color: c_white;
  background: c_white;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__etiqueta h4:before {
  opacity: 1;
  color: c_celeste;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__etiqueta h4:after {
  background: c_celeste;
}
.list_mascotas__mascota--celeste .list_mascotas__title {
  color: c_celeste;
}
.list_mascotas__mascota--celeste .list_mascotas__etiqueta h4 {
  background: c_celeste;
  color: c_white;
}
.list_mascotas__mascota--celeste .list_mascotas__etiqueta h4:after {
  background: c_white;
}
.list_mascotas__mascota--amarillo:hover {
  background-image: url("../img/back_amarillo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__title {
  color: c_white;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__etiqueta h4 {
  color: c_white;
  background: c_white;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__etiqueta h4:before {
  opacity: 1;
  color: c_amarillo;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__etiqueta h4:after {
  background: c_amarillo;
}
.list_mascotas__mascota--amarillo .list_mascotas__title {
  color: c_amarillo;
}
.list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4 {
  background: c_amarillo;
  color: c_white;
}
.list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4:after {
  background: c_white;
}
.list_mascotas__mascota--plomo:hover {
  background-image: url("../img/back_plomo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__title {
  color: c_white;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__etiqueta h4 {
  color: c_white;
  background: c_white;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__etiqueta h4:before {
  opacity: 1;
  color: c_plomo;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__etiqueta h4:after {
  background: c_plomo;
}
.list_mascotas__mascota--plomo .list_mascotas__title {
  color: c_plomo;
}
.list_mascotas__mascota--plomo .list_mascotas__etiqueta h4 {
  background: c_plomo;
  color: c_white;
}
.list_mascotas__mascota--plomo .list_mascotas__etiqueta h4:after {
  background: c_white;
}
.list_mascotas__mascota {
  text-align: center;
  width: 340px;
  box-sizing: border-box;
  padding: 30px 5px 0px 5px;
  position: relative;
  transition: 0.3s ease all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list_mascotas__mascota figure {
  margin: 0;
}
.list_mascotas__mascota figure img {
  width: 100%;
  height: auto;
  display: block;
}
.list_mascotas__title {
  height: 100%;
  font-size: 30px;
  font-family: f_ventura_m;
}
.list_mascotas__etiqueta {
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: left;
}
.list_mascotas__etiqueta h4 {
  box-sizing: border-box;
  padding: 15px 20px 15px 35px;
  width: 78%;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: f_gothan_b;
  margin: 0;
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.list_mascotas__etiqueta h4:before {
  content: "ADÓPTA A TU MEJOR AMIGO";
  transition: 0.3s ease all;
  position: absolute;
  z-index: 3;
  left: 34px;
  top: 14px;
  bottom: 0;
  padding-right: 20px;
  margin: auto;
  opacity: 0;
}
.list_mascotas__etiqueta h4:after {
  content: "";
  transition: 0.3s ease all;
  left: 8px;
  top: 0px;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
@media screen and (max-width: 1900px) {
  .list_mascotas__mascota {
    width: 325px;
  }
}
@media screen and (max-width: 1800px) {
  .list_mascotas__mascota {
    width: 310px;
  }
}
@media screen and (max-width: 1500px) {
  .list_mascotas__mascota {
    width: 205px;
  }
  .list_mascotas__mascota figure {
    width: 190px;
  }
  .list_mascotas__mascota figure img {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .list_mascotas__mascota {
    width: 285px;
  }
  .list_mascotas__mascota figure {
    width: 260px;
  }
}
@media screen and (max-width: 1024px) {
  .list_mascotas__mascota {
    width: 265px;
  }
  .list_mascotas__mascota figure {
    width: 240px;
  }
}
@media screen and (max-width: 768px) {
  .list_mascotas__mascota {
    width: 215px;
  }
  .list_mascotas__mascota figure {
    width: 200px;
  }
}
.listado_noticias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.listado_noticias__noticia {
  margin: 2px 2px;
  border-left: 1px solid transparent;
}
.listado_noticias__noticia:nth-child(odd) {
  flex-direction: column;
  background: c_amarillo;
  transition: 0.3s ease all;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.listado_noticias__noticia:nth-child(odd) .descripcion {
  transition: 0.3s ease all;
}
.listado_noticias__noticia:nth-child(odd) .descripcion:after {
  content: "";
  transition: 0.3s ease all;
  top: -32px;
  border-top: 16px solid transparent !important;
  border-bottom: 16px solid c_amarillo;
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.listado_noticias__noticia:nth-child(odd):hover {
  border-left: 1px solid c_amarillo;
  border-right: 1px solid c_amarillo;
  border-bottom: 1px solid c_amarillo;
  border-top: 1px solid c_amarillo;
  background: c_white;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion {
  background: c_white;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion:after {
  border-bottom: 16px solid c_white !important;
  border-top: 16px solid transparent;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion h3 {
  color: c_amarillo;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion h4 {
  color: c_amarillo;
}
.listado_noticias__noticia:nth-child(odd):hover .descripcion p {
  color: c_amarillo;
}
.listado_noticias__noticia:nth-child(even) {
  flex-direction: column-reverse;
  background: c_celeste;
  transition: 0.3s ease all;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.listado_noticias__noticia:nth-child(even) .descripcion {
  transition: 0.3s ease all;
}
.listado_noticias__noticia:nth-child(even) .descripcion:after {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -32px;
  border-top: 16px solid c_celeste;
  border-bottom: 16px solid transparent !important;
}
.listado_noticias__noticia:nth-child(even):hover {
  border-left: 1px solid c_celeste;
  border-right: 1px solid c_celeste;
  border-bottom: 1px solid c_celeste;
  border-top: 1px solid c_celeste;
  background: c_white;
}
.listado_noticias__noticia:nth-child(even):hover .descripcion:after {
  border-top: 16px solid c_white !important;
  border-bottom: 16px solid transparent !important;
}
.listado_noticias__noticia:nth-child(even):hover .descripcion h3 {
  color: c_celeste;
}
.listado_noticias__noticia:nth-child(even):hover .descripcion h4 {
  color: c_celeste;
}
.listado_noticias__noticia:nth-child(even):hover .descripcion p {
  color: c_celeste;
}
.listado_noticias__noticia:nth-child(odd),
.listado_noticias__noticia:nth-child(even) {
  width: 228px;
  display: flex;
}
.listado_noticias__noticia:nth-child(odd) figure,
.listado_noticias__noticia:nth-child(even) figure {
  width: 228px;
  height: 204px;
  margin: 0;
}
.listado_noticias__noticia:nth-child(odd) figure img,
.listado_noticias__noticia:nth-child(even) figure img {
  height: 100%;
}
.listado_noticias__noticia:nth-child(odd) .descripcion,
.listado_noticias__noticia:nth-child(even) .descripcion {
  background: transparent;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 30px 10px 10px 10px;
}
.listado_noticias__noticia:nth-child(odd) .descripcion:after,
.listado_noticias__noticia:nth-child(even) .descripcion:after {
  animation: fadeEffect 0.5s !important;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
}
.listado_noticias__noticia:nth-child(odd) .descripcion h3,
.listado_noticias__noticia:nth-child(even) .descripcion h3 {
  color: c_white;
  font-family: f_ventura_m;
  font-size: 18px;
}
.listado_noticias__noticia:nth-child(odd) .descripcion h4,
.listado_noticias__noticia:nth-child(even) .descripcion h4 {
  color: c_white;
  font-size: 18px;
  font-family: f_gothan_m;
  margin: 0;
}
.listado_noticias__noticia:nth-child(odd) .descripcion p,
.listado_noticias__noticia:nth-child(even) .descripcion p {
  color: c_white;
  font-size: 18px;
  font-family: f_gothan_l;
}
.listado_noticias__noticia {
  position: relative;
  display: block;
  width: 430px;
  height: 410px;
}
.listado_noticias__noticia figure {
  width: 430px;
  height: 410px;
  margin: 0;
}
.listado_noticias__noticia .descripcion {
  display: none;
  flex-direction: column;
  padding: 0px 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  animation: fadeEffect 0.5s !important;
}
.listado_noticias__noticia .descripcion h3 {
  color: c_white;
  font-family: f_ventura_m;
  font-size: 20px;
}
.listado_noticias__noticia .descripcion h4 {
  color: c_white;
  font-size: 18px;
  font-family: f_gothan_m;
  margin: 0;
}
.listado_noticias__noticia .descripcion p {
  color: c_white;
  font-size: 18px;
  font-family: f_gothan_l;
}
.listado_noticias__noticia:hover .descripcion {
  display: flex;
}
.listado_noticias__noticia_large {
  position: relative !important;
  display: block !important;
  width: 462px !important;
  height: 410px !important;
}
.listado_noticias__noticia_large figure {
  width: 462px !important;
  height: 410px !important;
  margin: 0 !important;
}
.listado_noticias__noticia_large .descripcion {
  display: none !important;
  flex-direction: column !important;
  padding: 0px 30px !important;
  box-sizing: border-box !important;
  justify-content: flex-end !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0,0,0,0.5) !important;
  animation: fadeEffect 0.5s !important;
}
.listado_noticias__noticia_large .descripcion h3 {
  color: c_white !important;
  font-family: f_ventura_m !important;
  font-size: 20px !important;
}
.listado_noticias__noticia_large .descripcion h4 {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_m;
  margin: 0;
}
.listado_noticias__noticia_large .descripcion p {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_l;
}
.listado_noticias__noticia_large .descripcion:after {
  display: none !important;
  animation: fadeEffect 0.5s !important;
}
.listado_noticias__noticia_large:hover .descripcion {
  display: flex !important;
}
.noticias_listado .listado_noticias__noticia_large {
  position: relative;
  display: block;
  width: 462px;
  height: 410px;
}
.noticias_listado .listado_noticias__noticia_large figure {
  width: 462px;
  height: 410px;
  margin: 0;
}
.noticias_listado .listado_noticias__noticia_large .descripcion {
  display: none;
  flex-direction: column;
  padding: 0px 30px;
  box-sizing: border-box;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5) !important;
  animation: fadeEffect 0.5s;
}
.noticias_listado .listado_noticias__noticia_large .descripcion h3 {
  color: c_white !important;
  font-family: f_ventura_m;
  font-size: 20px;
}
.noticias_listado .listado_noticias__noticia_large .descripcion h4 {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_m;
  margin: 0;
}
.noticias_listado .listado_noticias__noticia_large .descripcion p {
  color: c_white !important;
  font-size: 18px;
  font-family: f_gothan_l;
}
.noticias_listado .listado_noticias__noticia_large .descripcion:after {
  display: none;
}
.noticias_listado .listado_noticias__noticia_large:hover .descripcion {
  display: flex;
}
