.list_mascotas {
  display: flex;
}
.list_mascotas__mascota--celeste:hover {
  background-image: url("../img/back_celeste.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__title {
  color: c_white;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__etiqueta h4 {
  color: c_white;
  background-image: url("../img/mas_hover.png");
  background-position: 0 2px;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__etiqueta h4:before {
  opacity: 1;
  color: c_celeste;
}
.list_mascotas__mascota--celeste:hover .list_mascotas__etiqueta h4:after {
  background: c_celeste;
}
.list_mascotas__mascota--celeste .list_mascotas__title {
  color: c_celeste;
}
.list_mascotas__mascota--celeste .list_mascotas__etiqueta h4 {
  background-image: url("../img/mas_celeste.png");
  background-size: contain;
  background-repeat: no-repeat repeat;
  color: c_white;
}
.list_mascotas__mascota--celeste .list_mascotas__etiqueta h4:after {
  background: c_white;
}
.list_mascotas__mascota--amarillo:hover {
  background-image: url("../img/back_amarillo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__title {
  color: c_white;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__etiqueta h4 {
  color: c_white;
  background-image: url("../img/mas_hover.png");
  background-position: 0 2px;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__etiqueta h4:before {
  opacity: 1;
  color: c_amarillo;
}
.list_mascotas__mascota--amarillo:hover .list_mascotas__etiqueta h4:after {
  background: c_amarillo;
}
.list_mascotas__mascota--amarillo .list_mascotas__title {
  color: c_amarillo;
}
.list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4 {
  background-image: url("../img/mas_amarillo.png");
  background-size: contain;
  background-repeat: no-repeat repeat;
  color: c_white;
}
.list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4:after {
  background: c_white;
}
.list_mascotas__mascota--plomo:hover {
  background-image: url("../img/back_plomo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__title {
  color: c_white;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__etiqueta h4 {
  color: c_white;
  background-image: url("../img/mas_hover.png");
  background-position: 0 2px;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__etiqueta h4:before {
  opacity: 1;
  color: c_plomo;
}
.list_mascotas__mascota--plomo:hover .list_mascotas__etiqueta h4:after {
  background: c_plomo;
}
.list_mascotas__mascota--plomo .list_mascotas__title {
  color: c_plomo;
}
.list_mascotas__mascota--plomo .list_mascotas__etiqueta h4 {
  background-size: contain;
  background-image: url("../img/mas_plomo.png");
  background-repeat: no-repeat repeat;
  color: c_white;
}
.list_mascotas__mascota--plomo .list_mascotas__etiqueta h4:after {
  background: c_white;
}
.list_mascotas__mascota {
  text-align: center;
  width: 20%;
  box-sizing: border-box;
  padding: 30px 5px 0px 5px;
  position: relative;
  transition: 0.3s ease all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list_mascotas__mascota figure {
  margin: 0;
}
.list_mascotas__mascota figure img {
  width: 100%;
  height: auto;
  display: block;
}
.list_mascotas__title {
  height: 100%;
  font-size: 30px;
  font-family: f_ventura_m;
}
.list_mascotas__etiqueta {
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: left;
}
.list_mascotas__etiqueta h4 {
  box-sizing: border-box;
  padding: 15px 20px 15px 35px;
  width: 78%;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: f_gothan_b;
  margin: 0;
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.list_mascotas__etiqueta h4:before {
  content: "ADÓPTA A TU MEJOR AMIGO";
  transition: 0.3s ease all;
  position: absolute;
  z-index: 3;
  left: 34px;
  top: 2px;
  display: flex;
  align-items: center;
  bottom: 0;
  padding-right: 20px;
  margin: auto;
  opacity: 0;
  font-size: 14px;
}
.list_mascotas__etiqueta h4:after {
  content: "";
  transition: 0.3s ease all;
  left: 8px;
  top: 0px;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/*@media screen and (max-width 1900px)
    .list_mascotas__mascota
        width 325px*/
/*@media screen and (max-width 1800px)
    .list_mascotas__mascota
        width 310px*/
/*@media screen and (max-width 1500px)
    .list_mascotas__mascota

        figure
            width 190px
            img
                width 100%*/
@media screen and (max-width: 1200px) {
  .list_mascotas__mascota {
    width: 285px;
  }
  .list_mascotas__mascota figure {
    width: 260px;
  }
}
@media screen and (max-width: 1024px) {
  .list_mascotas__mascota {
    width: 265px;
  }
  .list_mascotas__mascota figure {
    width: 240px;
  }
}
@media screen and (max-width: 768px) {
  .list_mascotas__mascota {
    width: 225px;
  }
  .list_mascotas__mascota figure {
    width: 210px;
  }
  .list_mascotas {
    margin-top: 0 !important;
  }
  .list_mascotas__etiqueta h4 {
    width: 93%;
    padding: 15px 20px 15px 25px;
    font-size: 14px;
  }
  .list_mascotas__etiqueta h4:before {
    left: 25px;
  }
}
@media screen and (max-width: 480px) {
  .list_mascotas__mascota {
    width: 280px;
    margin: 10px 0px;
  }
  .list_mascotas__mascota figure {
    width: 260px;
  }
  .list_mascotas__mascota--celeste {
    background-image: url("../img/back_celeste.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .list_mascotas__mascota--celeste .list_mascotas__title {
    color: c_white;
  }
  .list_mascotas__mascota--celeste .list_mascotas__etiqueta h4 {
    color: c_white;
    background-image: url("../img/cuadro-01.png");
    background-position: 0 2px;
  }
  .list_mascotas__mascota--celeste .list_mascotas__etiqueta h4:before {
    opacity: 1;
    color: c_celeste;
  }
  .list_mascotas__mascota--celeste .list_mascotas__etiqueta h4:after {
    background: c_celeste;
  }
  .list_mascotas__mascota--amarillo {
    background-image: url("../img/back_amarillo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .list_mascotas__mascota--amarillo .list_mascotas__title {
    color: c_white;
  }
  .list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4 {
    color: c_white;
    background-image: url("../img/mas_hover.png");
    background-position: 0 2px;
  }
  .list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4:before {
    opacity: 1;
    color: c_amarillo;
  }
  .list_mascotas__mascota--amarillo .list_mascotas__etiqueta h4:after {
    background: c_amarillo;
  }
  .list_mascotas__mascota--plomo {
    background-image: url("../img/back_plomo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .list_mascotas__mascota--plomo .list_mascotas__title {
    color: c_white;
  }
  .list_mascotas__mascota--plomo .list_mascotas__etiqueta h4 {
    color: c_white;
    background-image: url("../img/mas_hover.png");
    background-position: 0 2px;
  }
  .list_mascotas__mascota--plomo .list_mascotas__etiqueta h4:before {
    opacity: 1;
    color: c_plomo;
  }
  .list_mascotas__mascota--plomo .list_mascotas__etiqueta h4:after {
    background: c_plomo;
  }
}

/*# sourceMappingURL=mascota.css.map */
